<div *ngIf="loaded" class="mt-2 mb-4">

  <table class="table striped">
    <thead>
      <tr>
        <th>Stock</th>
        <th align="right">Price</th>
        <th align="right">PE</th>
        <th align="right">30d Volume</th>
        <th align="right">Market Cap</th>
        <th align="right">Debt to Equity</th>
        <th align="right">Price to Book</th>
        <th align="right">Revenue</th>
        <th align="right">Gross Profit</th>
        <th align="right">Profit Margin</th>
        <th align="right">Total Cash</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of ownership">
        <td>{{s.ticker}}</td>
        <td align="right">{{s.price}}</td>
        <td align="right">{{s.stats.peRatio}}</td>
        <td align="right">{{s.stats.avg30Volume / 1000000 | number:'1.0-2'}}M</td>
        <td align="right">{{s.stats.marketCap / 1000000 | number:'1.0-0'}}M</td>
        <td align="right">{{s.stats.debtToEquity}}</td>
        <td align="right">{{s.stats.priceToBook | number}}</td>
        <td align="right">{{s.stats.revenue / 1000000 | number:'1.0-0'}}M</td>
        <td align="right">{{s.stats.grossProfit / 1000000 | number:'1.0-0'}}M</td>
        <td align="right">{{s.stats.profitMargin | percent}}</td>
        <td align="right">{{s.stats.totalCash / 1000000 | number:'1.0-0'}}M</td>
      </tr>
    </tbody>
  </table>

</div>

<div *ngIf="!loaded">
	Calculating your grid ....
</div>
