<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to Nightingale Trading!</h1>
  <p class="lead">Your investment journal and trade log, all in one place.</p>
  <hr class="my-4">

  <h4 class="mt-2">Watch stocks, record your thoughts, and learn from your past.</h4>

  <div class="mt-4">
    <a class="btn btn-primary mt-1 mr-2 mb-1" [routerLink]="[ '/profile', 'create' ]" role="button">
      Create Account to get started
    </a>
    <a class="btn btn-secondary mt-1 mr-2 mb-1" [routerLink]="[ '/profile', 'login' ]" role="button">
      Login using existing account
    </a>

  </div>

</div>


<!-- Icons Grid -->
<section class="text-center">
  <div class="container">
    <div class="row pt-2">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <h3>Trade Journal</h3>
          <p class="lead mb-0">Write down your investment thoughts, follow up
            and re-evalute your predictions and assumptions.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <h3>Transactions</h3>
          <p class="lead mb-0">Record your share and option purchases, and see clearly how many
            transactions you perform per month, total of credits and debits incurred.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-check m-auto text-primary"></i>
          </div>
          <h3>Ease of Use</h3>
          <p class="lead mb-0">We remove the noise of daily stock movements and keep the interface simple!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call to Action -->
<section class="text-center jumbotron mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">Ready to get started? Sign up now!</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <app-profile-create></app-profile-create>
      </div>
    </div>
  </div>
</section>
