<div class="jumbotron text-center rounded-100">
  <h1 class="display-4">Welcome to Nightingale Trading!</h1>
  <p class="lead">Build your stock trading system with portfolio management, reports, alerts, and journal tools, all in one place.</p>
  <hr class="my-4">

  <h4 class="mt-2">
    Better decisions lead to better results
  </h4>
</div>

<!-- features grid -->
<section class="text-center">
  <div class="container">

    <div class="row pt-2">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <h3>Stocks</h3>
          <p class="lead mb-0">Get advanced stock information, fundamentals, earning dates and earning results to keep yourself
            informed.
          </p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <h3>Porfolio</h3>
          <p class="lead mb-0">Keep track of your stock and options transactions, with notes for each easily accessible
            and in one place.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <h3>Options</h3>
          <p class="lead mb-0">Our option tracking will give you a clear picture of your trading performance.</p>
        </div>
      </div>


    </div>

    <div class="row pt-2">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <h3>Alerts</h3>
          <p class="lead mb-0">Trading means staying on top of stock prices.
            Use our alerts to save yourself time and mental energy to monitor when
            prices reach your desired targets.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <h3>Insights</h3>
          <p class="lead mb-0">Weekly reports that give you all the overview you need.
            And transcation logs that you can slice and dice for full understanding what works and what doesn't.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <h3>Trade Journal</h3>
          <p class="lead mb-0">Write down your investment thoughts, follow up
            and re-evalute your predictions and assumptions.</p>
        </div>
      </div>


    </div>

  </div>
</section>


<!-- Plan Grid -->
<section class="pricing py-5">
  <div class="mb-4">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <a [routerLink]="[ '/profile', 'create' ]"
              class="btn btn-primary text-uppercase">Sign up
          </a>

          <a [routerLink]="[ '/profile', 'login' ]"
              class="btn btn-secondary text-uppercase ml-3">Login
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
