<div *ngIf="response">

  <div class="card mt-2">
    <div class="card-header">
      <span class="font-weight-bold">Transaction Summary</span>
      <span class="float-right">({{ response.transactions.length}})</span>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <span class="font-weight-bold">{{response.debit | currency}}</span> debit
        </div>
        <div class="col text-right">
          <span class="font-weight-bold">{{response.credit | currency}}</span> credit
        </div>
      </div>
    </div>

    <div class="card-footer">
      Balance: <span class="font-weight-bold">{{ response.credit - response.debit | currency }}</span>
    </div>
  </div>

  <div class="mt-2">

    <div class="alert alert-secondary mt-2" *ngIf="!ticker && response.transactions.length == 0">
      You have no transactions on record. Once you record buy or sells of shares or options, they will show up here.
    </div>

  </div>

  <div *ngIf="response.transactions.length > 0">

    <label for="breakdownFilter">Breakdown by</label>&nbsp;&nbsp;
    <select class="mr-3" #breakdownFilter id="breakdownFilter" name="breakdownFilter" (click)="setGroupBy(breakdownFilter.value)">
      <option value="month">Month</option>
      <option value="ticker">Symbol</option>
    </select>

    <label for="showFilter">Show </label>&nbsp;&nbsp;
    <select class="mr-3" #showFilter id="showFilter" name="showFilter" (click)="setFilter(showFilter.value)">
      <option value="">Shares and options</option>
      <option value="shares">Just shares</option>
      <option value="options">Just options</option>
    </select>

    <label for="symbolFilter">Symbol filter </label>&nbsp;&nbsp;
    <select #symbolFilter id="symbolFilter" name="symbolFilter" (click)="setTicker(symbolFilter.value)">
      <option value="">Show all</option>
      <option *ngFor="let t of response.tickers" value="{{t}}">{{t}}</option>
    </select>

  </div>

  <div class="mt-2" *ngFor="let g of response.grouped">
    <div class="text-muted font-size-small row">
      <div class="col-2">{{g.name}}</div>
      <div class="col-10 text-right">
        balance: <span class="font-weight-bold">{{ g.transactions.credit - g.transactions.debit | currency }}</span>
      </div>
    </div>
    <table class="table table-hover border">
      <thead class="thead-light">
        <tr>
          <th>Date</th>
          <th>Symbol</th>
          <th>Description</th>
          <th>Debit</th>
          <th>Credit</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let t of g.transactions.transactions">
          <td>{{ t.date | date:'shortDate'}}</td>
          <td><a [routerLink]="[ '/stocks', t.ticker ]" target="_blank">{{t.ticker}}</a></td>
          <td>{{ t.description }}</td>
          <td>{{ t.debit | currency }}</td>
          <td>{{ t.credit | currency }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="table-info">
          <td>Totals</td>
          <td></td>
          <td></td>
          <td>{{g.transactions.debit | currency}}</td>
          <td>{{g.transactions.credit | currency}}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
