<div class="top-container">

  <app-error-display *ngIf="errors" [errors]="errors"></app-error-display>

  <div *ngIf="success" class="alert alert-success" role="alert">
    Contract sale has been successfully recorded
  </div>

  <div class="option-purchase-c-container">
		<form>
			<div class="form-group">
				<label for="ticker">Ticker</label>
				<input type="text" class="form-control" id="ticker" placeholder="TSLA" name="ticker" [(ngModel)]="option.ticker">
			</div>

			<div class="form-group">
				<label for="strikePrice">Strike Price</label>
				<input type="number" class="form-control" id="strikePrice" name="strikePrice" [(ngModel)]="option.strikePrice">
      </div>

      <div class="form-group">
				<label for="date">Expiration</label>
				<input type="date" class="form-control" id="expiration" name="expiration" [(ngModel)]="option.expirationDate">
			</div>

			<div class="form-group">
				<label for="optionType">Type &nbsp;&nbsp; </label>
				<select name="optionType" [(ngModel)]="option.optionType">
					<option>CALL</option>
					<option>PUT</option>
				</select>
			</div>

			<div class="form-group">
				<label for="amount">Number of Contracts</label>
				<input type="number" class="form-control" id="amount" name="amount" [(ngModel)]="option.amount">
			</div>

			<div class="form-group">
				<label for="premium">Premium Received</label>
				<input type="number" class="form-control" id="premium" name="premium" [(ngModel)]="option.premium">
			</div>

			<div class="form-group">
				<label for="filled">Filled Date</label>
				<input type="date" class="form-control" id="filled"name="filled" [(ngModel)]="option.filled">
			</div>

			<button type="submit" class="btn btn-primary mb-2" (click)="open()">Record Sale</button>&nbsp;&nbsp;
		</form>
	</div>
</div>
