<div>
    <app-error-display [errors]="errors"></app-error-display>
    @for (ticker of tickers; track ticker) {
        <span class="badge bg-success m-1">{{ ticker }}</span>
    }
    
    <section>
        <h3>Backend Price</h3>
        <app-peak-valley-analysis [completeDataSet]="completePriceDataSet"></app-peak-valley-analysis>
    </section>

    <section>
        <h3>Backend OBV</h3>
        <app-peak-valley-analysis [completeDataSet]="completeOBVDataSet"></app-peak-valley-analysis>
    </section>
    
    <section>
        <h3>Peaks & Valleys</h3>
        <app-line-chart [dataContainers]="peaksAndValleys"></app-line-chart>
    </section>

    @for (container of lineContainers; track container) {
        <section>
            <!--    <h3>{{container.label}}</h3>-->
            <app-line-chart [dataContainer]="container"></app-line-chart>
        </section>
    }
    <table class="table table-hover">
        <thead>
        <tr>
            <th>From</th>
            <th></th>
            <th>To</th>
            <th></th>
            <th>Days</th>
            <th>Change</th>
            <th>% Change</th>
        </tr>
        </thead>
        <tbody>
            @for (entry of log; track entry) {
                <tr>
                    <td>{{ entry.from.gradient.dataPoint.close }}</td>
                    <td>{{ entry.from.gradient.dataPoint.dateStr }}</td>
                    <td>{{ entry.to.gradient.dataPoint.close }}</td>
                    <td>{{ entry.to.gradient.dataPoint.dateStr }}</td>
                    <td>{{ entry.days }}</td>
                    <td>{{ entry.change | currency }}</td>
                    <td>{{ entry.percentChange | percent }}</td>
                </tr>
            }
        </tbody>
    </table>
</div>
