<div>

    <app-error-display [errors]="errors"></app-error-display>

    <button (click)="run()" class="btn btn-primary">Multiple API call demo</button>

    {{ status }}

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Actual vs Simulated</h5>
            <button (click)="runActualVsSimulated()" class="btn btn-primary">Run Actual vs Simulated</button>
            <app-loading *ngIf="loadingActualVsSimulated"></app-loading>
            <app-trading-actual-vs-simulated *ngIf="actualVsSimulated" [simulations]="actualVsSimulated"></app-trading-actual-vs-simulated>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Scatter plot demo</h5>
            <button (click)="runScatterPlot()" class="btn btn-primary">Run Scatter Plot</button>
            <app-loading *ngIf="loadingScatterPlot"></app-loading>
            @for (option of chartOptions; track option) {
                <canvasjs-chart [options]="option"></canvasjs-chart>
            }
        </div>
    </div>
    
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Correlation demo</h5>
            <label for="days" class="form-label">Number of days</label>
            <input class="form-control" type="number" id="days" [(ngModel)]="daysForCorrelations" [disabled]="loadingCorrelations" />
            <button (click)="runCorrelations()" class="btn btn-primary" [disabled]="loadingCorrelations">Run Correlation</button>
            <app-loading *ngIf="loadingCorrelations"></app-loading>
            <app-correlations *ngIf="correlations" [correlations]="correlations" [days]="daysForCorrelations"></app-correlations>
        </div>
    </div>
    
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Combined Daily Chart Demo</h5>
            <button (click)="runCombinedDailyChart()" class="btn btn-primary">Run Combined Daily Chart</button>
            <app-loading *ngIf="loadingCombinedDailyChart"></app-loading>
            <app-daily-outcome-scores *ngIf="dailyReport" [report]="dailyReport"></app-daily-outcome-scores>
        </div>
    </div>
    
</div>
