<div>

    <app-error-display [errors]="errors"></app-error-display>

    <button (click)="run()" class="btn btn-primary">Multiple API call demo</button>

    {{ status }}
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Option Pricing Chart</h5>
            <label for="optionSymbols" class="form-label">Option Symbols (comma separated)</label>
            <input class="form-control" type="text" id="optionSymbols" [(ngModel)]="optionSymbols" [disabled]="loadingOptionPricing" />
            <button (click)="fetchOptionPricing()" class="btn btn-primary" [disabled]="loadingOptionPricing">Fetch Option Pricing</button>
            <app-loading *ngIf="loadingOptionPricing"></app-loading>
            
            <!-- show in table format -->
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Bid</th>
                        <th>Ask</th>
                        <th>Mark</th>
                        <th>Spread</th>
                        <th>Vol</th>
                        <th>OI</th>
                        <th>IV</th>
                        <th>Delta</th>
                        <th>Gamma</th>
                        <th>Theta</th>
                        <th>Vega</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let option of optionPricingData">
                        <td>{{ option.timestamp | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                        <td>{{ option.bid }}</td>
                        <td>{{ option.ask }}</td>
                        <td>{{ option.mark }}</td>
                        <td>{{ option.ask - option.bid | number }}</td>
                        <td>{{ option.volume }}</td>
                        <td>{{ option.openInterest }}</td>
                        <td>{{ option.volatility }}</td>
                        <td>{{ option.delta }}</td>
                        <td>{{ option.gamma }}</td>
                        <td>{{ option.theta }}</td>
                        <td>{{ option.vega }}</td>
                </tbody>
            </table>
            
            <app-line-chart [dataContainer]="container" *ngFor="let container of optionDataContainers; track container"></app-line-chart>
            
        </div>
    </div>
    

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Scatter plot demo</h5>
            <button (click)="runScatterPlot()" class="btn btn-primary">Run Scatter Plot</button>
            <app-loading *ngIf="loadingScatterPlot"></app-loading>
            @for (option of chartOptions; track option) {
                <canvasjs-chart [options]="option"></canvasjs-chart>
            }
        </div>
    </div>
    
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Correlation demo</h5>
            <label for="days" class="form-label">Number of days</label>
            <input class="form-control" type="number" id="days" [(ngModel)]="daysForCorrelations" [disabled]="loadingCorrelations" />
            <button (click)="runCorrelations()" class="btn btn-primary" [disabled]="loadingCorrelations">Run Correlation</button>
            <app-loading *ngIf="loadingCorrelations"></app-loading>
            <app-correlations *ngIf="correlations" [correlations]="correlations" [days]="daysForCorrelations"></app-correlations>
        </div>
    </div>
    
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Combined Daily Chart Demo</h5>
            <button (click)="runCombinedDailyChart()" class="btn btn-primary">Run Combined Daily Chart</button>
            <app-loading *ngIf="loadingCombinedDailyChart"></app-loading>
            <app-daily-outcome-scores *ngIf="dailyReport" [report]="dailyReport"></app-daily-outcome-scores>
        </div>
    </div>
    
</div>
