<div>

  <div class="alert alert-success" *ngIf="saved">Thank you for your message</div>

  <app-error-display *ngIf="errors" [errors]="errors"></app-error-display>

  <form *ngIf="!saved">
    <div>
      <label for="title">Your email</label>
      <input autofocus type="email" class="form-control" id="email" name="email" [(ngModel)]="email">
    </div>

    <div>
      <label for="description">Message</label>
      <textarea class="form-control" id="message" name="message" [(ngModel)]="message" rows="10">
      </textarea>
    </div>

    <div>
      <button class="btn btn-primary me-1" (click)="sendMessage()">Submit</button>
    </div>
  </form>
</div>
