<div *ngIf="loaded" style="margin-top: 20px;">
	
	<button style="float: right;" class="btn btn-primary" (click)="back()">Back to Dashboard</button>
	
	<div>
		<input type="number" name="minPrice" [(ngModel)]="minPrice" >&nbsp;
		<input type="number" name="maxPrice" [(ngModel)]="maxPrice" >
		&nbsp;&nbsp; <button class="btn btn-primary" (click)="start()">Start analysis</button> &nbsp;&nbsp;
	</div>

	<div>
		<button class="btn btn-primary" (click)="refresh()">Load completed analysis</button>
	</div>

	<span *ngIf="loading">refreshing...</span>

	<table>
		<thead>
			<th (click)="sortBy('ticker')" width="150">ticker</th>
			<th (click)="sortBy('price')" width="150">price</th>
			<th width="150">book value</th>
			<th width="150">pe value</th>
			<th>industry</th>
		</thead>
		<tbody>
			<tr *ngFor="let a of analysis">
				<td> <a [routerLink]="[ '/stocks', a.ticker ]">{{a.ticker}}</a></td>
				<td>{{a.lastPrice}}</td>
				<td>{{a.lastBookValue}}</td>
				<td>{{a.lastPEValue}}</td>
				<td>{{a.industry}}</td>
			</tr>
		</tbody>
	</table>

</div>

<div *ngIf="!loaded">
	Fetching job list...
</div>