<body>

  <div class="container" id="bodyContainer">
    <div class="container">
      <app-nav-menu></app-nav-menu>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer class="footer bg-light" id="sticky">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="https://docs.nightingaletrading.com" target="_blank">Help</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a [routerLink]="[ '/contact' ]">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a [routerLink]="[ '/terms' ]">Terms of Use</a>
            </li>

            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a [routerLink]="[ '/privacy' ]">Privacy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Nightingale Trading 2020 | Neris Stream, LLC</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a target="_blank" href="https://twitter.com/NightingaleTra3">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <!-- <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
