<form>
    <div>
        <label for="to">To</label>
        <input [(ngModel)]="to" class="form-control" id="to" name="to" type="email">
    </div>
    <div>
        <label for="from">From Email</label>
        <input [(ngModel)]="from" class="form-control" id="from" name="from" type="email">
    </div>
    <div>
        <label for="from">From Name</label>
        <input [(ngModel)]="fromName" class="form-control" id="fromName" name="fromName" type="email">
    </div>
    <div>
        <label for="subject">Subject</label>
        <input [(ngModel)]="subject" class="form-control" id="subject" name="subject" type="email">
    </div>
    <div>
        <label for="to">Body</label>
        <textarea [(ngModel)]="body" class="form-control" id="body" name="body" rows="5"></textarea>
    </div>
    <div>
        <button (click)="send()" class="btn btn-primary" type="button">Send</button>
    </div>
</form>
