<div>

  <div class="alert alert-success" *ngIf="purchased">The transaction has been sucessfully recorded</div>

  <app-error-display *ngIf="errors" [errors]="errors"></app-error-display>

  <h3>Record your share transactions</h3>
	<form>
    <div class="form-row">
      <div class="col">
        <label for="ticker">Ticker</label>
        <input type="text" class="form-control" id="ticker" aria-describedby="tickerHelp" name="ticker" [(ngModel)]="ticker">
      </div>
      <div class="col">
        <label for="ticker">Number of Shares</label>
        <input type="number" class="form-control" id="numberOfShares" aria-describedby="numberOfSharesHelp" name="numberOfShares" [(ngModel)]="numberOfShares">
      </div>
    </div>

    <div class="form-row mt-2">
      <div class="col">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" aria-describedby="priceHelp" name="price" [(ngModel)]="price">
      </div>

      <div class="col">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="date" aria-describedby="dateHelp" name="date" [(ngModel)]="date">
      </div>
    </div>

    <div class="form-row mt-3">
      <div class="col">
        <button type="submit" class="btn btn-primary mb-2 mr-2" (click)="submitPurchase()">Buy</button>
        <button type="submit" class="btn btn-primary mb-2 mr-2" (click)="submitSell()">Sell</button>
        <button type="submit" class="btn btn-secondary mb-2 mr-2" (click)="back()">Back</button>
      </div>
    </div>
  </form>
</div>
