<div>

  <div class="alert alert-success" *ngIf="purchased">The transaction has been sucessfully recorded</div>

  <app-error-display *ngIf="errors" [errors]="errors"></app-error-display>

  <h3>Record your share transaction</h3>
	<form>
    <div class="form-row">
      <div class="col">
        <app-symbol-search
          label="Ticker"
          (tickerSelected)="onTickerSelected($event)"
          cssClass="form-control">
        </app-symbol-search>
      </div>
      <div class="col">
        <label for="ticker">Number of Shares</label>
        <input type="number" class="form-control" id="numberOfShares" aria-describedby="numberOfSharesHelp" name="numberOfShares" [(ngModel)]="numberOfShares">
      </div>
    </div>

    <div class="form-row mt-2">
      <div class="col">
        <label for="price">Per Share Price</label>
        <input type="number" class="form-control" id="price" aria-describedby="priceHelp" name="price" [(ngModel)]="price">
      </div>

      <div class="col">
        <label for="date">Date of Transaction</label>
        <input type="date" class="form-control" id="date" aria-describedby="dateHelp" name="date" [(ngModel)]="date">
      </div>
    </div>

    <div class="form-row mt-3">
      <div class="col">
        <button type="submit" class="btn btn-primary mb-2 mr-2" (click)="submitPurchase()">Record Buy</button>
        <button type="submit" class="btn btn-primary mb-2 mr-2" (click)="submitSell()">Record Sell</button>
        <button type="submit" class="btn btn-secondary mb-2 mr-2" (click)="back()">Back</button>
      </div>
    </div>
  </form>
</div>
