<div>
  <div *ngIf="!alert">No alert setup</div>

  <div *ngIf="success" class="alert alert-success" role="alert">Alerts updated</div>

  <div *ngIf="alert" class="mb-3">
    You will be pinged if price crosses the following price points:
    <div class="row">
      <div class="col">
        <ul class="mt-3 list-group">
          <li *ngFor="let pp of alert.points" class="mt-2 list-group-item">
            {{pp.value | currency}}
            <span *ngIf="pp.description"> - {{pp.description}}</span>
            <button type="button" class="btn btn-secondary btn-sm float-right" (click)="removeAlert(pp.id)">remove</button>
          </li>
        </ul>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <app-error-display *ngIf="errors" [errors]="errors"></app-error-display>

  <div>
    <h5>Add new alert</h5>
		<form>
      <div class="form-row mt-2">
        <div class="col">
          <label for="newPricePoint">Price point</label>
          <button type="button" class="btn btn-link mb-1" (click)="showShortcuts = !showShortcuts">price shortcuts</button>
          <input type="number" class="form-control" id="newPricePoint" name="newPricePoint" [(ngModel)]="newPricePoint">
        </div>
        <div class="col"></div>
      </div>
      <div class="form-row mt-2">
        <div class="col">
          <div class="row" *ngIf="showShortcuts">
            <div class="col" *ngIf="this.owned && this.owned.averageCost > 0">
              <label>Cost based shortcuts</label>
              <div>
                <select class="form-control" #costBasedSelect (click)="newPricePoint = costBasedSelect.value">
                  <option *ngFor="let pp of costBasedAlerts"
                    value="{{pp.value}}"
                    [attr.selected]="pp.value == this.owned.averageCost.toFixed(2) ? true : null">{{pp.label}}</option>
                </select>
              </div>
            </div>
            <div class="col">
              <label>Price based shortcuts</label>
              <div>
                <select class="form-control" #priceBasedSelect (click)="newPricePoint = priceBasedSelect.value">
                  <option *ngFor="let pp of priceBasedAlerts"
                    value="{{pp.value}}"
                    [attr.selected]="pp.value == stock.price ? true : null">{{pp.label}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>

      <div class="form-row mt-2">
        <div class="col">
          <label for="alertDescription">Description <span class="text-muted">(optional)</span></label>
          <input type="text" class="form-control" id="alertDescription" name="alertDescription" [(ngModel)]="description" />
        </div>
        <div class="col"></div>
      </div>

      <div class="form-row mt-2">
        <div class="col">
          <button type="submit" class="btn btn-primary mb-2 mr-2" (click)="addPricePoint(newPricePoint)">Add alert</button>
        </div>
        <div class="col"></div>
      </div>

		</form>
	</div>
</div>
