<div class="mt-2">

  <app-error-display *ngIf="errors" [errors]="errors"></app-error-display>

  <div *ngIf="stock && stock.owned > 0" class="mt-4">
    You own <b>{{stock.owned}}</b> shares at <b>{{stock.averageCost | currency}}</b> per share
  </div>

  <div class="card mt-4">
    <div class="card-header">Record trades for {{ticker}}</div>
    <div class="card-body">
      <div *ngIf="success" class="alert alert-success" role="alert">
        Successfully recorded the transaction
      </div>
      <form>
        <div class="form-row">
          <div class="form-group col">
            <label for="positionType">Did you buy or sell? &nbsp;&nbsp; </label>
            <select class="form-control btn border rounded" name="positionType" [(ngModel)]="positionType">
              <option value="buy">Bought</option>
              <option value="sell">Sold</option>
            </select>
          </div>

          <div class="form-group col">
            <label for="numberOfShares">Number of Shares</label>
            <input type="number" class="form-control" id="numberOfShares" name="numberOfShares" [(ngModel)]="numberOfShares">
          </div>

          <div class="form-group col">
            <label for="pricePerShare">Price per Share</label>
            <input type="number" class="form-control" id="pricePerShare" name="pricePerShare" [(ngModel)]="pricePerShare">
          </div>

          <div class="form-group col">
            <label for="filled">Filled</label>
            <input type="date" class="form-control" id="filled" name="filled" [(ngModel)]="filled">
          </div>
        </div>

        <div>
          <button type="button" class="btn btn-primary mb-1 mr-2" (click)="record()">Record</button>
        </div>
      </form>
    </div>
  </div>

	<div *ngIf="stock && stock.transactions.length > 0">
    <div class="mt-4">
      <div class="text-muted">Past Transactions</div>
      <table class="table table-striped border">
        <thead class="thead-light">
          <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Debit</th>
            <th>Credit</th>
          </tr>
        </thead>
        <tbody>
          <tr
            [ngClass]="{'table-success': t.profit > 0, 'table-warning': t.profit < 0, 'table-light': t.profit == 0}"
            *ngFor="let t of stock.transactions">
            <td>{{ t.date | date:'shortDate'}}</td>
            <td>{{ t.description }}</td>
            <td>{{ t.debit | currency }}</td>
            <td>{{ t.credit | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mb-3">
      <label>Delete this stock from your portfolio</label>
      <div>
        <button type="button float-right" class="btn btn-secondary mb-1 mr-2" (click)="delete()">Delete</button>
      </div>
    </div>

	</div>
</div>

