<div>
  <div *ngIf="!alert">No alert setup</div>

  <div *ngIf="success" class="alert alert-success" role="alert">Alerts updated</div>

  <app-error-display *ngIf="errors" [errors]="errors"></app-error-display>

  <div *ngIf="alert">
    You will be pinged if price crosses the following price points:

    <div class="row">
      <div class="col">
        <ul class="mt-3 list-group">
          <li *ngFor="let pp of alert.points" class="mt-2 list-group-item">
            {{pp.value | currency}}
            <button type="button" class="btn btn-secondary btn-sm float-right" (click)="removeAlert(pp.id)">remove</button>
          </li>
        </ul>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <div class="mt-3">
    <h5>Add new alert</h5>
		<form>
      <div class="form-row mt-4" *ngIf="this.owned && this.owned.averageCost > 0">
        <div class="col">
          <label>Your cost ({{this.owned.averageCost | currency}}) based alerts</label>
          <div>
            <button type="button" class="btn btn-secondary ml-2" (click)="addPricePoint(costMinus20)">-20%: {{costMinus20 | currency}}</button>
            <button type="button" class="btn btn-secondary ml-2" (click)="addPricePoint(costMinus10)">-10%: {{costMinus10 | currency}}</button>
            <button type="button" class="btn btn-secondary ml-2" (click)="addPricePoint(costPlus10)">+10%: {{costPlus10 | currency}}</button>
            <button type="button" class="btn btn-secondary ml-2" (click)="addPricePoint(costPlus20)">+20%: {{costPlus20 | currency}}</button>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div class="form-row mt-4">
        <div class="col">
          <label>Current price ({{stock.price | currency}}) based alerts</label>
          <div>
            <button type="button" class="btn btn-secondary ml-2" (click)="addPricePoint(priceMinus20)">-20%: {{priceMinus20 | currency}}</button>
            <button type="button" class="btn btn-secondary ml-2" (click)="addPricePoint(priceMinus10)">-10%: {{priceMinus10 | currency}}</button>
            <button type="button" class="btn btn-secondary ml-2" (click)="addPricePoint(pricePlus10)">+10%: {{pricePlus10 | currency}}</button>
            <button type="button" class="btn btn-secondary ml-2" (click)="addPricePoint(pricePlus20)">+20%: {{pricePlus20 | currency}}</button>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div class="form-row mt-4">
        <div class="col">
          <label for="newPricePoint">Custom Price Point</label>
          <input type="number" class="form-control" id="newPricePoint" name="newPricePoint" [(ngModel)]="newPricePoint">
        </div>
        <div class="col"></div>
      </div>
      <div class="mt-2">
        <button type="submit" class="btn btn-primary mb-2 mr-2" (click)="addCustomPricePoint()">Add Custom</button>
      </div>
		</form>
	</div>
</div>
