<div>
  <div>
    <google-chart *ngIf="priceChartData" style="width: 100%;" [type]="priceChartType" [data]="priceChartData" [options]="priceOptions"></google-chart>
  </div>
  <div>
    <google-chart *ngIf="volumeChartType" style="width: 100%;" [type]="volumeChartType" [data]="volumeChartData" [options]="volumeOptions"></google-chart>
  </div>
  <div>
    <google-chart *ngIf="bookChartData" style="width: 100%;" [type]="priceChartType" [data]="bookChartData" [options]="bookOptions"></google-chart>
  </div>
  <div>
    <google-chart *ngIf="peChartData" style="width: 100%;" [type]="priceChartType" [data]="peChartData" [options]="peOptions"></google-chart>
  </div>
</div>
