<div class="container">
  <app-error-display [errors]="errors"></app-error-display>
  @if (list) {
    <div class="row mb-4">
      <div class="col-12">
        <h2>{{ list.name }}</h2>
        <p class="lead">{{ list.description }}</p>
        <div class="d-flex align-items-center">
          <a class="btn btn-link me-2" href="/stocks/lists"><i class="bi bi-arrow-left"></i> Back to Lists</a>
          <button class="btn btn-link" (click)="toggleVisibility(editSection)"><i class="bi bi-pencil"></i> Edit</button>
        </div>
      </div>
    </div>
    <section #editSection class="row mb-4 visually-hidden">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Edit List</h5>
            <form>
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input class="form-control" id="name" #name placeholder="Name" value="{{list.name}}">
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" #description placeholder="Description" rows="5">{{ list.description }}</textarea>
              </div>
              <button type="submit" class="btn btn-primary" (click)="update(name.value, description.value); toggleVisibility(editSection)">Update</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="row mb-4">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tools</h5>
            <div class="row align-items-center">
              <div class="col-md-8">
                <div class="d-flex flex-wrap">
                  <button type="submit" class="btn btn-outline-secondary me-2 mb-2" (click)="toggleVisibility(addNewSection)">Batch add</button>
                  <button type="submit" class="btn btn-outline-secondary me-2 mb-2" (click)="toggleVisibility(monitoringSection)">Monitoring</button>
                  <a href="{{analysisLink}}" type="submit" class="btn btn-outline-secondary me-2 mb-2">Analysis</a>
                  <a href="{{exportLink}}" type="submit" class="btn btn-outline-secondary me-2 mb-2">Export</a>
                  <a href="{{exportLinkJustTickers}}" type="submit" class="btn btn-outline-secondary me-2 mb-2">Export (just tickers)</a>
                  <button type="submit" class="btn btn-danger mb-2" (click)="clear()">Clear list</button>
                </div>
              </div>
              <div class="col-md-4">
                <form class="d-flex justify-content-end">
                  <div class="input-group">
                    <input class="form-control" id="quickAdd" #quickAdd placeholder="Tickers" type="text">
                    @if (addInProgress === false) {
                      <button type="submit" class="btn btn-primary" (click)="add(quickAdd.value, undefined)">Add</button>
                    }
                    @if (addInProgress === true) {
                      <button type="submit" class="btn btn-primary" disabled>Adding...</button>
                    }
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section #monitoringSection class="row mb-4 visually-hidden">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Monitors</h5>
            <div class="d-flex flex-wrap">
              @for (monitor of monitors; track monitor) {
                @if (!containsTag(monitor.tag)) {
                  <button (click)="assignTag(monitor.tag)" class="btn btn-outline-primary me-2 mb-2">Enable {{ monitor.name }}</button>
                }
                @if (containsTag(monitor.tag)) {
                  <button (click)="removeTag(monitor.tag)" class="btn btn-outline-danger me-2 mb-2">Disable {{ monitor.name }}</button>
                }
              }
            </div>
          </div>
        </div>
      </div>
    </section>
    <section #addNewSection class="row mb-4 visually-hidden">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Add Tickers</h5>
            <form>
              <div class="mb-3">
                <label for="tickers" class="form-label">Tickers</label>
                <textarea class="form-control" id="tickers" #ticker placeholder="Tickers" rows="5"></textarea>
              </div>
              @if (addInProgress === false) {
                <button type="submit" class="btn btn-primary" (click)="add(ticker.value, addNewSection)">Add</button>
              }
              @if (addInProgress === true) {
                <button type="submit" class="btn btn-primary" disabled>Adding...</button>
              }
              <button type="button" class="btn btn-link float-end" (click)="toggleVisibility(addNewSection)">Close</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tickers ({{ list.tickers.length }})</h5>
            @if (list.tickers.length > 0) {
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Ticker</th>
                      <th class="text-end">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (t of sortedTickers(list); track t) {
                      <tr>
                        <td>
                          <app-trading-view-link [ticker]="t.ticker"></app-trading-view-link>
                          <a [routerLink]="['/stocks', t.ticker]">{{ t.ticker }}</a>
                        </td>
                        <td class="text-end">
                          <button class="btn btn-sm btn-outline-danger" (click)="remove(t)">Remove</button>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            } @else {
              <p>No tickers found in this list.</p>
            }
          </div>
        </div>
      </div>
    </section>
  }
</div>
