<a href="/api/stocks/export/closed" class="btn btn-link">Export trades</a>

<table *ngIf="past" class="table">
  <tr>
    <th>Stock</th>
    <th>Date</th>
    <th>Profit/Loss</th>
    <th>Profit/Loss %</th>
  </tr>
  <tr *ngFor="let p of past">
    <td>{{p.ticker}}</td>
    <td>{{p.date | date}}</td>
    <td>{{p.profit | currency}}</td>
    <td>
      <span *ngIf="p.profit >= 0" class="badge badge-success mr-1">win</span>
      <span *ngIf="p.profit < 0" class="badge badge-warning mr-1">loss</span>
      {{p.returnPct | percent}}
    </td>
  </tr>
</table>
