<div *ngIf="owned">

  <span *ngIf="owned.length==0">
    You have no share purchases recorded.
  </span>
  <div class="mt-4" *ngIf="owned.length > 0">
    <a href="/api/stocks/export/owned" class="btn btn-link">Export owned</a>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="sort-header" (click)="sort('ticker')">Symbol</th>
          <th class="sort-header" (click)="sort('owned')">Shares</th>
          <th class="text-right sort-header" (click)="sort('daysheld')">Days Held</th>
          <th class="text-right sort-header" (click)="sort('currentPrice')">Price</th>
          <th class="text-right sort-header" (click)="sort('averageCost')">Average Cost</th>
          <th class="text-right sort-header" (click)="sort('invested')" align="center">Invested</th>
          <th class="text-right sort-header" (click)="sort('profits')">Gain/Loss</th>
          <th class="text-right sort-header" (click)="sort('profitsPct')">%</th>
          <th class="text-right sort-header" (click)="sort('equity')">Equity</th>
        </tr>
      </thead>
      <tr *ngFor="let ticker of owned" [ngClass]="{'bg-warning': selectedCategory == ticker.category}">
        <td><a [routerLink]="[ '/stocks', ticker.ticker ]">{{ticker.ticker}}</a></td>
        <td>{{ticker.owned}}</td>
        <td class="text-right">{{ticker.daysHeld}}</td>
        <td class="text-right">{{ticker.currentPrice | currency}}</td>
        <td class="text-right">{{ticker.averageCost | currency}}</td>
        <td class="text-right">
          {{ticker.cost | currency}}
          <small>{{ownershipPct(ticker) | percent}}</small>
        </td>
        <td class="text-right"><span [ngClass]="{'profits-positive': ticker.profits > 0, 'profits-negative': ticker.profits < 0}">{{ticker.profits | currency }}</span></td>
        <td class="text-right"><span [ngClass]="{'profits-positive': ticker.profits > 0, 'profits-negative': ticker.profits < 0}">{{ticker.profitsPct | percent:'1.2' }}</span></td>
        <td class="text-right">
          {{ticker.equity | currency}}
          <small>{{equityPct(ticker) | percent:'1.2'}}</small>
        </td>
      </tr>
    </table>
  </div>
</div>
