<div>
  <app-symbol-search
      label="{{null}}"
      placeholder="Search for securities using ticker or name"
      (tickerSelected)="onTickerSelected($event)"
      cssClass="form-control">
  </app-symbol-search>
</div>

<div *ngIf="loaded">
  <div class="row">

    <div class="col text-center">
      <div class="container">
        <div class="row">
          <div class="col text-right">Invested</div>
          <div class="col text-left"><b>{{moneySpentOnShares | currency}}</b></div>
        </div>
        <div class="row mt-0">
          <div class="col text-right">Equity</div>
          <div class="col text-left"><b>{{ hideIfHidden(currentEquity) | currency}}</b></div>
        </div>
      </div>
    </div>

    <div class="col text-center">
      <div class="container">
        <div class="row">
          <div class="col text-right">Gains</div>
          <div class="col text-left">
            <span [ngClass]="{'profits-positive': profits > 0, 'profits-negative': profits < 0}">
              {{ hideIfHidden(currentEquity - moneySpentOnShares) | currency}}
            </span>
          </div>
        </div>
        <div class="row mt-0">
          <div class="col text-right">Gains %</div>
          <div class="col text-left">
            <span [ngClass]="{'profits-positive': profits > 0, 'profits-negative': profits < 0}">
              {{ hideIfHidden((currentEquity - moneySpentOnShares)/moneySpentOnShares) | percent}}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col text-center">
      <div class="container">
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <select class="form-control btn border rounded" name="category" [(ngModel)]="selectedCategory" (ngModelChange)="categoryChanged()">
              <option value="all">All</option>
              <option value="longterm">Long-Term</option>
              <option value="shortterm">Short-Term</option>
              <option value="notset">Not Set</option>
            </select>
          </div>
        </div>
        <div class="row mt-0">
        </div>
      </div>
    </div>

  </div>

</div>

<div class="tab-container mt-2" *ngIf="loaded">
  <a class="tab" [ngClass]="{'is-active': isActive('owned')}" [routerLink]="" (click)="activateTab('owned')">
    Ownership
  </a>
  <a class="tab" [ngClass]="{'is-active': isActive('past')}" [routerLink]="" (click)="activateTab('past')">
    Past Trades
  </a>
  <a class="tab" [ngClass]="{'is-active': isActive('performanceRecent')}" [routerLink]="" (click)="activateTab('performanceRecent')">
    Performance (20 trades)
  </a>
  <a class="tab" [ngClass]="{'is-active': isActive('performance')}" [routerLink]="" (click)="activateTab('performance')">
    Performance
  </a>
</div>

<stock-ownership-grid *ngIf="loaded && isActive('owned')" [owned]=owned [selectedCategory]=selectedCategory></stock-ownership-grid>
<stock-performance *ngIf="loaded && isActive('performanceRecent')" [performance]=performanceRecent></stock-performance>
<stock-performance *ngIf="loaded && isActive('performance')" [performance]=performance></stock-performance>
<stock-past *ngIf="loaded && isActive('past')" [past]=past></stock-past>
