<div (keydown)="keydownHandler($event)" tabindex="0">
    <div class="container">
      <div class="row">
        <div class="col"><button (click)="previous()" class="btn btn-primary">Previous</button></div>
        <div class="col"><button (click)="next()" class="btn btn-primary float-end">Next</button></div>
      </div>
    </div>
  
    <div class="container mt-5">
      <div class="row">
        <app-stock-trading-position [position]="currentPosition" [metricFunc]="metricFunc" [pendingOrders]="[]"></app-stock-trading-position>
      </div>
      <div class="row">
        <div class="col">
          <stock-trading-chart *ngIf="prices"
            [buys]="buys(currentPosition)"
            [sells]="sells(currentPosition)"
            [prices]=prices
            [horizontalLines]="[currentPosition.averageCostPerShare]">
          </stock-trading-chart>
        </div>
      </div>
      <div class="row" *ngIf="analysis">
        <div class="col">
          <table class="table table-hover border">
            <tbody>
                <tr *ngFor="let o of interestingOutcomes(analysis)">
                    <td>
                        <span
                            class="badge"
                            [ngClass]="{'bg-success': o.type === 'Positive', 'bg-danger': o.type === 'Negative', 'bg-secondary': o.type === 'Neutral'}">
                            
                            &nbsp;
                        </span>
                    </td>
                    <td>{{o.key}}</td>
                    <td>{{o.value}}</td>
                    <td>{{o.type}}</td>
                    <td>{{o.message}}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>