<div>
  @if (errors) {
    <app-error-display [errors]="errors"></app-error-display>
  }
  <form>
    <div class="row mt-2">
      <div class="col">
        <label for="lastname">Choose new password</label>
        <input class="form-control" type="password" id="password" name="password" [(ngModel)]="password" />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <button type="submit" class="btn btn-primary" (click)="resetPassword()">Reset Password</button>
      </div>
    </div>
  </form>
</div>
