<div>
  <div class="card mb-3" *ngIf="profile">
    <div class="card-header">
      Profile
      <span class="text-muted float-right">Member since {{profile.created | date}}</span>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="card-title">{{profile.firstname}} {{profile.lastname}}, {{profile.subscriptionLevel}} Plan</div>
        </div>
        <div class="col text-right">
          <span class="text-muted">{{profile.email}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col mb-1">
          <a href="/api/account/logout" class="btn btn-primary card-link">Logout</a>
        </div>
        <div class="col text-right"></div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">Imports</div>
    <div class="card-body">

      <app-error-display *ngIf="importErrors" [errors]="importErrors"></app-error-display>
      <div *ngIf="importSuccess" class="alert alert-success" role="alert">
        {{importSuccess}}
      </div>

      <div *ngIf="importProgress" class="alert alert-info" role="alert">
        {{importProgress}}
      </div>

      <input hidden (change)="importShares($event)"  #shareInput type="file" id="file">
      <button class="btn btn-secondary mr-2 mb-1" (click)="shareInput.click()">Shares</button>

      <input hidden (change)="importOptions($event)"  #optionInput type="file" id="file">
      <button class="btn btn-secondary mr-2 mb-1" (click)="optionInput.click()">Options</button>

      <input hidden (change)="importNotes($event)"  #noteInput type="file" id="file">
      <button class="btn btn-secondary mr-2 mb-1" (click)="noteInput.click()">Notes</button>

    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">Exports</div>
    <div class="card-body">
      <a href="/api/stocks/export" class="btn btn-secondary mr-2 mb-1">Shares</a>
      <a href="/api/options/export" class="btn btn-secondary mr-2 mb-1">Options</a>
      <a href="/api/notes/export" class="btn btn-secondary mr-2 mb-1">Notes</a>
    </div>
  </div>

  <div class="card mb-5">
    <div class="card-header">Close Account</div>
    <div class="card-body">
      <button class="btn btn-danger mr-2" (click)="deleteInitial()">delete account</button>

      <button class="btn btn-warning" (click)="clearData()">clear data</button>

      <div *ngIf="showDelete" class="mt-1">
        <form>
          <label for="reason">Any feedback you would like to pass along?</label>
          <textarea class="form-control mb-2" name="deleteFeedback" id="deleteFeedback" autofocus [(ngModel)]="deleteFeedback"></textarea>
          <button class="btn btn-danger mr-2" (click)="deleteFinal()">confirm delete</button>
          <button class="btn btn-primary" (click)="undoDelete()">nevermind</button>
        </form>
      </div>
    </div>
  </div>

  <div class="w50"></div>

</div>
