<div>
    @if (errors) {
        <app-error-display [errors]="errors"></app-error-display>
    }
    <form>
        <div class="row mt-2">
            <div class="col">
                <label for="lastname">Choose new password</label>
                <input [(ngModel)]="password" class="form-control" id="password" name="password" type="password"/>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <button (click)="resetPassword()" class="btn btn-primary" type="submit">Reset Password</button>
            </div>
        </div>
    </form>
</div>
