<div>
  <app-error-display *ngIf="errors" [errors]="errors"></app-error-display>

  <form>
    <div class="form-row mt-2">
      <div class="col">
        <label for="lastname">Choose new password</label>
        <input class="form-control" type="password" id="password" name="password" [(ngModel)]="password" />
      </div>
    </div>
    <div class="form-row mt-2">
      <div class="col">
        <button type="submit" class="btn btn-primary" (click)="resetPassword()">Reset Password</button>
      </div>
    </div>
  </form>

</div>
