<div *ngIf="!loaded">
  Generating your report, this might take a while, please wait
  <div class="spinner-border text-info spinner-border-sm" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="loaded">
  <select class="form-control" [(ngModel)]="timePeriod" (ngModelChange)="periodChanged()">
    <option value="thisweek" selected>This week</option>
    <option value="last7days">Last 7 days</option>
  </select>

  <div class="card-header">
    <span class="font-weight-bold">Week of {{ result.start | date }} review</span>
  </div>
  <table class="table table-hover">
    <tr>
      <th colspan="3">Stock transactions</th>
      <th class="text-right">Debit/Credit</th>
    </tr>
    <tr *ngIf="result.stocks.transactions.length == 0">
      <td colspan="4">None</td>
    </tr>
    <tr *ngFor="let g of result.stocks.grouped">
      <td colspan="4">
        <div>{{g.name}}</div>

        <table class="table">
          <tr *ngFor="let t of g.transactions.transactions">
            <td>{{t.date | date}}</td>
            <td>{{t.description}}</td>
            <td align="right">{{t.profit | currency}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <table class="table table-hover">
    <tr>
      <th colspan="3">Option transactions</th>
      <th class="text-right">Debit/Credit</th>
    </tr>
    <tr *ngIf="result.options.transactions.length == 0">
      <td colspan="4">None</td>
    </tr>
    <tr *ngFor="let t of result.options.transactions">
      <td>{{t.ticker}}</td>
      <td>{{t.date | date}}</td>
      <td>{{t.description}}</td>
      <td align="right">{{t.profit | currency}}</td>
    </tr>
  </table>

  <table class="table table-hover">
    <tr>
      <th colspan="2">Earnings in the next 7 days</th>
    </tr>
    <tr *ngIf="result.shortEarnings.length == 0">
      <td colspan="2">None</td>
    </tr>
    <tr *ngFor="let t of result.shortEarnings">
      <td>{{t.ticker}}</td>
      <td>{{t.earningsDate | date}}</td>
    </tr>
  </table>

  <table class="table table-hover">
    <tr>
      <th colspan="2">Earnings in the next 30 days</th>
    </tr>
    <tr *ngIf="result.longEarnings.length == 0">
      <td colspan="2">None</td>
    </tr>
    <tr *ngFor="let t of result.longEarnings">
      <td>{{t.ticker}}</td>
      <td>{{t.earningsDate | date}}</td>
    </tr>
  </table>
</div>
