table {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 350px;
}

table thead tr th:first-child,
table tbody tr td:first-child {
  border-left: 1px solid #bbb;
}

table thead tr th:last-child,
table tbody tr td:last-child {
  border-right: 1px solid #bbb;
}

/* top-left border-radius */
table thead tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

/* top-right border-radius */
table thead tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

table tfoot td,
table thead th {
  border-top: 1px solid #bbb;
}
