<div class="mt-2" *ngIf="failure">
  {{failure}} <a [routerLink]="[ '/dashboard' ]">return to dashboad</a>
</div>

<div class="mt-2" *ngIf="loading && !failure">
  Loading option details...
</div>

<div class="mt-2" *ngIf="!loading">
    <div>
      <table class="table border">
        <thead class="thead-light">
          <tr>
            <th>Option Info Date</th>
            <th>Stock Price (currently)</th>
            <th>Put vs Call (ratio)</th>
            <th>Call Spend</th>
            <th>Put Spend</th>
            <th>Call Price</th>
            <th>Put Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ lastUpdated | date:"MM/dd/yyyy" }}</td>
            <td><a [routerLink]="[ '/stocks', ticker ]">{{ stockPrice | currency }}</a></td>
            <td>{{breakdown.putVolume}} vs {{breakdown.callVolume}}
              ({{(breakdown.putVolume / breakdown.callVolume) | number }})</td>
            <td>{{breakdown.callSpend | currency }}</td>
            <td>{{breakdown.putSpend | currency }}</td>
            <td>{{breakdown.priceBasedOnCalls | currency }}</td>
            <td>{{breakdown.priceBasedOnPuts | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>


    <div class="form-group">
      <label for="expirationSelect">Expiration</label>&nbsp;&nbsp;
      <select [(ngModel)]="expirationSelection" id="expirationSelect" name="expirationSelect" (ngModelChange)="onExpirationChange($event)">
        <option value=""></option>
        <option value="{{expiration}}" *ngFor="let expiration of expirations">{{expiration}}</option>
      </select>

      &nbsp;&nbsp;<label for="sideSelect">Side</label>&nbsp;&nbsp;
      <select [(ngModel)]="sideSelection" id="sideSelect" name="sideSelect" (ngModelChange)="onSideChange($event)">
        <option value=""></option>
        <option value="call">call</option>
        <option value="put">put</option>
      </select>

      &nbsp;&nbsp;<label for="minBid">Min Bid Price</label>&nbsp;&nbsp;
      <input type="number" id="minBid" name="minBid" [(ngModel)]="minBid" (ngModelChange)="onMinBidChange()" />
    </div>

    <div class="form-group">
      <label for="minStrikePrice">Min Strike Price</label>&nbsp;&nbsp;
      <input type="number" id="minStrikePrice" name="minStrikePrice" [(ngModel)]="minStrikePrice" (ngModelChange)="onMinStrikePriceChange()" />

      &nbsp;&nbsp;<label for="maxStrikePrice">Max Strike Price</label>&nbsp;&nbsp;
      <input type="number" id="maxStrikePrice" name="maxStrikePrice" [(ngModel)]="maxStrikePrice" (ngModelChange)="onMaxStrikePriceChange()" />
    </div>

    <div *ngFor="let expiration of expirationMap">

      <table class="table table-hover border">
        <thead class="thead-light">
          <tr>
            <th>Expiration</th>
            <th>Strike price</th>
            <th>Side</th>
            <th>Open interest</th>
            <th>Volume</th>
            <th>Bid</th>
            <th>Ask</th>
            <th>Spread</th>
            <th>PDP</th>
            <th>Risk</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let option of expiration">
            <td>{{option.expirationDate}}</td>
            <td>{{option.strikePrice | currency}} <small>{{option.breakEven | currency }}</small></td>
            <td>{{option.side}}</td>
            <td>{{option.openInterest}}</td>
            <td>{{option.volume}}</td>
            <td>{{option.bid | currency}}</td>
            <td>{{option.ask | currency}}</td>
            <td>{{option.spread | currency}}</td>
            <td>{{option.perDayPrice | currency}}</td>
            <td>{{option.risk | percent}}</td>
          </tr>
        </tbody>
      </table>

    </div>
</div>
