@if (closedOptions) {
    <table class="table mt-2">
        <thead>
        <tr>
            <th>Option</th>
            <th>Closed</th>
            <th>P/L</th>
            <th>P/L %</th>
            <th>P/L Daily</th>
            <th>Days Held</th>
            <th>Days Held %</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @for (o of closedOptions; track o) {
                <tr>
                    <td style="width: 100px">
                        <div>
                            <app-stock-link [ticker]="o.underlyingTicker"></app-stock-link>
                            @for(contract of o.contracts; track contract) {
                                <span class="badge bg-primary me-1">{{ contract.strikePrice }} {{ contract.expiration | date:'MM/dd' }}</span>
                            }
                        </div>
                    </td>
                    <td>{{ o.closed | date:'MM/dd' }}</td>
                    <td>{{ o.profit | currency }}</td>
                    <td>{{ o.profit / o.cost | percent }}</td>
                    <td>{{ o.profit / o.daysHeld | currency }}</td>
                    <td>{{ o.daysHeld }} / {{ o.daysToExpiration[0] }}</td>
                    <td>{{ o.daysHeld / o.daysToExpiration[0] | percent }}</td>
                    <td><a [routerLink]="[ '/optiondetails', o.positionId ]">details</a></td>
                </tr>
            }
        </tbody>
    </table>
}
