@if (closedOptions) {
    <div class="container my-4">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 mb-3 mb-md-0">
                <div class="input-group">
                    <button (click)="previous()" class="btn btn-outline-secondary" type="button"><i
                        class="fas fa-chevron-left"></i></button>
                    <select class="form-select"
                            (change)="dropdownClick($event.target)"> @for (position of closedOptions; track position; let i = $index) {
                        <option [value]="i"
                                [selected]="position.positionId === currentPosition.positionId"> {{ position.underlyingTicker }}
                        </option>
                    } </select>
                    <button (click)="next()" class="btn btn-outline-secondary" type="button"><i
                        class="fas fa-chevron-right"></i></button>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="d-flex justify-content-between">
                    <div><span class="text-muted">Profit:</span> <span
                        class="ms-2">{{ currentPosition.profit | currency }}</span></div>
                    <div><span class="text-muted">Gain:</span> <span
                        class="ms-2">{{ currentPosition.profit / currentPosition.cost | percent }}</span></div>
                    <div><span class="text-muted">Days Held:</span> <span
                        class="ms-2">{{ currentPosition.daysHeld }}</span></div>
                </div>
            </div>
        </div>
    </div>

    <app-option-position [position]="currentPosition" [orders]="positionOrders"></app-option-position>
}
