<div class="mt-4" *ngIf="openOptions && openOptions.length === 0">
    You have no option options contracts on record. To record a position, select the ticker below to get started:
    <div class="row">
        <div class="col">
            <app-stock-search
                label="{{null}}"
                placeholder="Search for securities using ticker or name"
                (tickerSelected)="onTickerSelected($event)"
                cssClass="form-control">
            </app-stock-search>
        </div>
    </div>
</div>
<div class="mt-4" *ngIf="openOptions.length > 0">
    <div class="container mb-4">
        <div class="row">
            <div class="col">
                Cost: {{ cost | currency }}
            </div>
            <div class="col text-center">
                Value Now: {{ currentCost | currency }}
            </div>
            <div class="col text-end">
                Net value: <span class="fw-bold">{{ currentCost - cost | currency }}</span>
            </div>
        </div>
    </div>
    <app-option-position [position]="position" *ngFor="let position of openOptions"></app-option-position>
</div>
