<div *ngIf="!loaded">
  Generating your report, this might take a while, please wait
  <div class="spinner-border text-info spinner-border-sm" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="loaded">
  <select class="form-control" [(ngModel)]="timePeriod" (ngModelChange)="periodChanged()">
    <option value="thisweek" selected>This week</option>
    <option value="last7days">Last 7 days</option>
  </select>

  <h5 class="mt-2">Week of {{ result.start | date }} review</h5>
  
  <div class="mt-2 mb-2">Profit {{ result.stockProfit + result.optionProfit | currency }}</div>
  <div>Stocks: {{ result.stockProfit | currency }}</div>
  <div>Options: {{ result.optionProfit | currency }}</div>
  
  <h5 class="mt-5">Stock P&L</h5>
  <table class="table">
    <tr *ngFor="let g of result.plStockTransactions">
      <td width="140"><a [routerLink]="[ '/stocks', g.ticker ]">{{g.ticker}}</a></td>
      <td width="140">{{g.profit | currency}}</td>
      <td width="140">{{g.date | date}}</td>
      <td>{{g.description}}</td>
    </tr>
    <tr *ngIf="result.plStockTransactions.length == 0">
      <td colspan="4">No stock P&L transactions</td>
    </tr>
  </table>
  
  <h5 class="mt-2">Non-PL Breakdown</h5>
  <table class="table">
    <tr *ngFor="let g of result.stockTransactions">
      <td width="140"><a [routerLink]="[ '/stocks', g.ticker ]">{{g.ticker}}</a></td>
      <td width="140">{{g.profit | currency}}</td>
      <td width="140">{{g.date | date}}</td>
      <td>{{g.description}}</td>
    </tr>
    <tr *ngIf="result.stockTransactions.length == 0">
      <td colspan="4">No stock transactions</td>
    </tr>
  </table>

  <h5>Option P&L</h5>
  <table class="table">
    <tr *ngFor="let g of result.plOptionTransactions">
      <td width="140"><a [routerLink]="[ '/stocks', g.ticker ]">{{g.ticker}}</a></td>
      <td width="140">{{g.profit | currency}}</td>
      <td width="140">{{g.date | date}}</td>
      <td>{{g.description}}</td>
    </tr>
    <tr *ngIf="result.plOptionTransactions.length == 0">
      <td colspan="4">No option P&L transactions</td>
    </tr>
  </table>

  <h5>Non-PL Breakdown</h5>
  <table class="table">
    <tr *ngFor="let g of result.optionTransactions">
      <td width="140"><a [routerLink]="[ '/stocks', g.ticker ]">{{g.ticker}}</a></td>
      <td width="140">{{g.profit | currency}}</td>
      <td width="140">{{g.date | date}}</td>
      <td>{{g.description}}</td>
    </tr>
    <tr *ngIf="result.optionTransactions.length == 0">
      <td colspan="4">No option transactions</td>
    </tr>
  </table>
  
</div>
