<div *ngIf="!loaded">
  Generating your report, this might take a while, please wait
  <div class="spinner-border text-info spinner-border-sm" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="loaded">
  <select class="form-select" [(ngModel)]="timePeriod" (ngModelChange)="periodChanged()">
    <option value="thisweek" selected>This week</option>
    <option value="last7days">Last 7 days</option>
  </select>

  <h5 class="mt-2">Week of {{ result.start | date }} review</h5>
  
  <div class="mt-2 mb-2">Profit {{ result.stockProfit + result.optionProfit | currency }}</div>
  <div>Stocks: {{ result.stockProfit | currency }}</div>
  <div>Options: {{ result.optionProfit | currency }}</div>
  
  <h5 class="mt-5">Closed Positions</h5>
  <table class="table">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>P/L</th>
        <th>R:R</th>
        <th>Buys</th>
        <th>Sells</th>
        <th>Grade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of result.closedPositions">
        <td width="140"><a [routerLink]="[ '/stocks', p.ticker ]">{{p.ticker}}</a></td>
        <td width="140">{{p.profit  | number:'1.0-2'}}</td>
        <td width="140">{{p.rr | number:'1.0-2'}}</td>
        <td width="140">
          <div class="badge bg-success me-1" *ngFor="let buy of buys(p)">{{buy.price | currency}} on {{buy.when | date: 'MM/dd/yyyy'}}</div>
        </td>
        <td width="140">
          <div class="badge bg-danger me-1" *ngFor="let sell of sells(p)">{{sell.price | currency}} on {{sell.when | date: 'MM/dd/yyyy'}}</div>
        </td>
        <td>
          <ul class="list-unstyled" *ngIf="p.notes.length > 0">
            <li *ngFor="let note of p.notes" style="white-space: pre-wrap;">{{note}}</li>
          </ul>
          <span *ngIf="p.notes.length === 0"> no notes </span>
        </td>
      </tr>
      <tr *ngIf="result.closedPositions.length === 0">
        <td colspan="6">No stock positions closed</td>
      </tr>
    </tbody>
    <tfoot *ngIf="result.closedPositions.length > 0">
      <td class="text-end"></td>
      <td>{{ closedPositionProfit() | number:'1.0-2' }}</td>
      <td>{{ closedPositionRR() | number:'1.0-2' }}</td>
      <td colspan="3"></td>
    </tfoot>
  </table>

  <h5 class="mt-5">Opened Positions</h5>
  <table class="table">
    <thead>
      <tr>
        <th>Symbol</th>
        <th># of Shares</th>
        <th>Cost</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of result.openPositions">
        <td width="140"><a [routerLink]="[ '/stocks', p.ticker ]">{{p.ticker}}</a></td>
        <td width="140">{{p.numberOfShares}}</td>
        <td width="140">{{p.cost  | number:'1.0-2'}}</td>
        <td width="140">{{p.opened | date: 'MM/dd/yyyy'}}</td>
      </tr>
      <tr *ngIf="result.openPositions.length === 0">
        <td colspan="6">No stock positions opened</td>
      </tr>
    </tbody>
  </table>

  <h5 class="mt-5">Stocks P&L</h5>
  <table class="table">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>P/L</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of result.plStockTransactions">
        <td width="140"><a [routerLink]="[ '/stocks', p.ticker ]">{{p.ticker}}</a></td>
        <td width="140">{{p.amount  | number:'1.0-2'}}</td>
        <td width="140">{{p.date | date: 'MM/dd/yyyy'}}</td>
      </tr>
      <tr *ngIf="result.plStockTransactions.length === 0">
        <td colspan="3">No stock P&L transactions </td>
      </tr>
    </tbody>
  </table>
  
  

  <h5>Option P&L</h5>
  <table class="table">
    <tbody>
      <tr *ngFor="let g of result.plOptionTransactions">
        <td width="140"><a [routerLink]="[ '/stocks', g.ticker ]">{{g.ticker}}</a></td>
        <td width="140">{{g.amount | currency}}</td>
        <td width="140">{{g.date | date}}</td>
        <td>{{g.description}}</td>
      </tr>
      <tr *ngIf="result.plOptionTransactions.length === 0">
        <td colspan="4">No option P&L transactions</td>
      </tr>
    </tbody>
  </table>

  <h5>Non-PL Breakdown</h5>
  <table class="table">
    <tbody>
      <tr *ngFor="let g of result.optionTransactions">
        <td width="140"><a [routerLink]="[ '/stocks', g.ticker ]">{{g.ticker}}</a></td>
        <td width="140">{{g.amount | currency}}</td>
        <td width="140">{{g.date | date}}</td>
        <td>{{g.description}}</td>
      </tr>
      <tr *ngIf="result.optionTransactions.length === 0">
        <td colspan="4">No option transactions</td>
      </tr>
    </tbody>
  </table>
  
</div>
