<div class="mt-2" *ngIf="failure">
  {{failure}} <a [routerLink]="[ '/dashboard' ]">return to dashboad</a>
</div>

<div class="mt-2" *ngIf="loading && !failure">
  Loading option details...
</div>

<div class="mt-2" *ngIf="!loading">
    <div>
      <table class="table border">
        <thead class="thead-light">
          <tr>
            <th>Stock Price</th>
            <th>Volatility</th>
            <th>Put vs Call OI</th>
            <th>Put vs Call OI Ratio</th>
            <th>Put vs Call Vol</th>
            <th>Put vs Call Vol Ratio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <app-stock-link [ticker]="ticker"></app-stock-link> - {{ stockPrice | currency }}</td>
            <td>{{volatility}}</td>
            <td>{{putOpenInterest() | number}} vs {{callOpenInterest() | number}}</td>
            <td>{{putOpenInterest() / callOpenInterest() | number }}</td>
            <td>{{putVolume() | number}} vs {{callVolume() | number}}</td>
            <td>{{putVolume() / callVolume() | number }}</td>
          </tr>
        </tbody>
      </table>
    </div>


    <div class="row mb-3">
      <div class="col">
        <label class="form-label" for="expirationSelect">Expiration</label>
        <select class="form-select" [(ngModel)]="expirationSelection" id="expirationSelect" name="expirationSelect" (ngModelChange)="onExpirationChange($event)">
          <option value=""></option>
          <option value="{{expiration}}" *ngFor="let expiration of expirations">{{expiration}}</option>
        </select>
      </div>
      <div class="col">  
        <label class="form-label" for="sideSelect">Side</label>
        <select class="form-select" [(ngModel)]="sideSelection" id="sideSelect" name="sideSelect" (ngModelChange)="onSideChange($event)">
          <option value=""></option>
          <option value="call">call</option>
          <option value="put">put</option>
        </select>
      </div>
      <div class="col">
        <label class="form-label" for="minBid">Min Bid Price</label>
        <input class="form-control" step="0.01" type="number" id="minBid" name="minBid" [(ngModel)]="minBid" (ngModelChange)="onMinBidChange()" />
      </div>
      <div class="col">
        <label class="form-label" for="minBid">Max Ask Price</label>
        <input class="form-control" step="0.01" type="number" id="maxAsk" name="maxAsk" [(ngModel)]="maxAsk" (ngModelChange)="onMaxAskChange()" />
      </div>
    </div>


    <div *ngFor="let expiration of expirationMap">
      <section>
        <h4>
          {{expiration[0].expirationDate}}
          <span class="float-end">Expires in {{expiration[0].daysToExpiration}} day(s)</span>
        </h4>
        <div class="row mb-3">
          <div class="col">
            <label class="form-label" for="minStrikePrice">Min Strike Price</label>
            <select class="form-select" [(ngModel)]="minStrikePrice" id="minStrikePrice" name="minStrikePrice" (ngModelChange)="onMinStrikePriceChange()">
              <option></option>
              <option *ngFor="let option of getOptionsForExpiration(expiration[0].expirationDate)" value="{{option.strikePrice}}">{{option.strikePrice | currency}}</option>
            </select>
          </div>
          <div class="col">
            <label class="form-label" for="maxStrikePrice">Max Strike Price</label>
            <select class="form-select" [(ngModel)]="maxStrikePrice" id="maxStrikePrice" name="maxStrikePrice" (ngModelChange)="onMaxStrikePriceChange()">
              <option></option>
              <option *ngFor="let option of expiration" value="{{option.strikePrice}}">{{option.strikePrice | currency}}</option>
            </select>
          </div>
          <div class="col"></div>
        </div>
        <div class="row mb-3">
          <!-- chart sections that show open interest vs strike price -->
          <app-chart
            [chartLabels]="getStrikePrices(expiration)"
            [values]="{values:getOpenInterest(expiration),label:'Open Interest'}"
            [chartType]="chartType"></app-chart>

          <app-chart
            [chartLabels]="getStrikePrices(expiration)"
            [values]="{values:getVolume(expiration),label:'Volume'}"
            [chartType]="chartType"></app-chart>
        </div>
        <table class="table table-hover border">
          <thead class="thead-light">
            <tr>
              <th>Strike Price</th>
              <th>Open interest</th>
              <th>Volume</th>
              <th>Bid vs Ask</th>
              <th>Spread</th>
              <th>PDP</th>
              <th>Risk</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let option of expiration">
              <td>{{option.strikePrice | currency}} {{option.side}}</td>
              <td>{{option.openInterest}}</td>
              <td>{{option.volume}}</td>
              <td>{{option.bid | currency}} vs {{option.ask | currency}}</td>
              <td>
                <i *ngIf="isSpreadHealthy(option)" class="bi bi-diamond-fill text-success"></i>
                <i *ngIf="!isSpreadHealthy(option)" class="bi bi-diamond text-muted"></i>
                {{option.spread | currency}}
              </td>
              <td>{{option.perDayPrice | currency}}</td>
              <td>{{option.risk | percent}}</td>
              <td>{{option.lastUpdated | date}}</td>
            </tr>
          </tbody>
        </table>
      </section>

    </div>
</div>
