<div>
    <section *ngFor="let routine of routines">
    <h3>{{routine.label}}</h3>
    <ul>
        <li *ngFor="let step of routine.steps; let i = index">
            <input type="checkbox" [id]="'check' + i" [name]="'check' + i">
            <label [htmlFor]="'check' + i">
                <a
                    target="_blank"
                    style="text-decoration:none"
                    [href]="step.url">{{step.label}}
                </a>
            </label>
            
        </li>
    </ul>
    </section>

</div>