<div *ngIf="!activeRoutine">
    <section *ngFor="let routine of routines">
    <h3>
        {{routine.label}}
        <button class="btn btn-primary btn-sm float-end" (click)="activate(routine)">Activate</button>
    </h3>
    <ul>
        <li *ngFor="let step of routine.steps; let i = index">
            <input type="checkbox" [id]="'check' + i" [name]="'check' + i">
            <label [htmlFor]="'check' + i">
                <a
                    target="_blank"
                    style="text-decoration:none"
                    [href]="step.url">{{step.label}}
                </a>
            </label>
            
        </li>
    </ul>
    </section>

</div>

<div *ngIf="activeRoutine">

    <h3>
        {{activeRoutine.label}}
        <button class="btn btn-primary btn-sm float-end" (click)="deactivate()">Deactivate</button>
    </h3>

    <h4>
        <a
            target="_blank"
            style="text-decoration:none"
            [href]="activeRoutine.steps[currentStep].url">{{activeRoutine.steps[currentStep].label}}
        </a>
    </h4>

    <button class="btn btn-primary btn-sm" (click)="prevStep()">Prev</button>
    <button class="btn btn-primary btn-sm float-end" (click)="nextStep()">Next</button>

</div>