@if (events) {
    <div>
        <table class="table">
            <tbody>
                @for (e of events; track e) {
                    <tr>
                        <td>{{ e.entity }}</td>
                        <td>{{ e.key }}</td>
                        <td>{{ e.created }}</td>
                        <td>{{ e.version }}</td>
                        <td>
                            <pre>{{ e.eventJson }}</pre>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
