/* You can add global styles to this file, and also import other style files */
a {
  color: darkcyan;
}

.wide-chart {
	width: 100%;
}

.btn-primary {
  background-color: darkcyan;
  border-color: darkcyan;
}

.sort-header {
  cursor: pointer;
}
