/* You can add global styles to this file, and also import other style files */

.top-container {
	margin-top: 20px;
}

.dashboard-button {
	float: right;
	margin-right: 5px;
}

.wide-chart {
	width: 100%;
}

.btn-space {
  margin-right: 5px;
}
