/* You can add global styles to this file, and also import other style files */
a {
  color: #004289;
}

.bg-info {
  background-color: #004289;
}

.btn-primary {
  background-color: #004289;
  border-color: #004289;
}

.sort-header {
  cursor: pointer;
}

.stat-label {
  font-weight: lighter;
}

.tab-container {
  border-bottom: 1px solid #767676;
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

.tab {
  border-bottom: 3px solid transparent;
  color: #767676;
  cursor: pointer;
  display: inline-block;
  list-style-type: none;
  margin-right: 2px;
  padding: 10px 15px;
  text-decoration: none;
  transition: all .25s;
}

.tab:hover {
	border-color: #ccc;
}

.tab.is-active {
  border-bottom-color: #535353;
  color: #353535;
}
