<div>

  <div class="alert alert-success" *ngIf="saved">The note has been sucessfully recorded,
    <a [routerLink]="[ '/notes' ]">view</a>
  </div>

  <app-error-display *ngIf="errors" [errors]="errors"></app-error-display>

  <form>
    <div class="form-group">
      <label for="title">Ticker</label>
      <input type="text" class="form-control" id="ticker" name="ticker" [(ngModel)]="ticker">
    </div>

    <div class="form-group">
      <label for="description">Note</label>
      <textarea class="form-control" id="description" name="Note" [(ngModel)]="note" rows="10">
      </textarea>
    </div>

    <div class="form-group">
      <button class="btn btn-primary mr-1" (click)="addNote()">Add</button>
      <a [routerLink]="[ '/notes' ]" class="btn btn-secondary mr-1">Cancel</a>
    </div>
  </form>
</div>
