<div>
  @if (saved) {
    <div class="alert alert-success">The note has been sucessfully recorded,
      <a [routerLink]="[ '/notes' ]">view</a>
    </div>
  }
  @if (errors) {
    <app-error-display [errors]="errors"></app-error-display>
  }
  <form>
    <div>
      <app-stock-search
        label="Ticker"
        (tickerSelected)="onTickerSelected($event)"
        [ticker]="ticker"
        cssClass="form-control">
      </app-stock-search>
    </div>
    <div>
      <label for="description">Note</label>
      <textarea class="form-control" id="description" name="Note" [(ngModel)]="note" rows="10">
      </textarea>
    </div>
    <div>
      <button class="btn btn-primary me-1" (click)="addNote()">Add</button>
      <a [routerLink]="[ '/notes' ]" class="btn btn-secondary me-1">Cancel</a>
    </div>
  </form>
</div>
