<div>

    <h4>
        {{ activeRoutine.name }}
        <button (click)="deactivate()" class="btn btn-primary btn-sm float-end">Deactivate</button>
    </h4>

    <div class="wrapper text-center">
        <div class="step-container">
            <div class="step">
                <a
                    [href]="activeStep.url"
                    target="_blank">{{ activeStep.label }}
                </a>
            </div>
            <div class="step-url">
                <a
                    [href]="activeStep.url"
                    target="_blank">{{ activeStep.url }}
                </a>
            </div>
            <div class="step-url">
                {{ currentStepIndex + 1 }} / {{ activeRoutine.steps.length }}
            </div>
        </div>

    </div>

    <button (click)="prevStep()" [disabled]="currentStepIndex === 0" class="btn btn-primary btn-sm">Prev</button>
    <button (click)="nextStep()" [disabled]="currentStepIndex >= activeRoutine.steps.length - 1"
            class="btn btn-primary btn-sm float-end">Next
    </button>

</div>
