<div *ngIf="loaded" class="mt-2 mb-4">

  <table class="table striped">
    <thead>
      <tr>
        <th class="sort-header"            (click)="sort('stock')">Stock</th>
        <th class="text-right sort-header" (click)="sort('price')">Price</th>
        <th class="text-right sort-header" (click)="sort('pe')">PE</th>
        <th class="text-right sort-header" (click)="sort('volume')">30d Volume</th>
        <th class="text-right sort-header" (click)="sort('marketCap')">Market Cap</th>
        <th class="text-right sort-header" (click)="sort('debtToEquity')">Debt to Equity</th>
        <th class="text-right sort-header" (click)="sort('priceToBook')">Price to Book</th>
        <th class="text-right sort-header" (click)="sort('revenue')">Revenue</th>
        <th class="text-right sort-header" (click)="sort('grossProfit')">Gross Profit</th>
        <th class="text-right sort-header" (click)="sort('profitMargin')">Profit Margin</th>
        <th class="text-right sort-header" (click)="sort('totalCash')">Total Cash</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of ownership">
        <td>{{s.ticker}}</td>
        <td class="text-right">{{s.price | currency}}</td>
        <td class="text-right">{{s.stats.peRatio | number:'1.0-2' }}</td>
        <td class="text-right">{{s.stats.avg30Volume / 1000000 | number:'1.0-2'}}M</td>
        <td class="text-right">{{s.stats.marketCap / 1000000000 | number:'1.0-2'}}B</td>
        <td class="text-right">{{s.stats.debtToEquity | number:'1.0-2' }}</td>
        <td class="text-right">{{s.stats.priceToBook | number}}</td>
        <td class="text-right">{{s.stats.revenue / 1000000 | currency:'1.0-2'}}M</td>
        <td class="text-right">{{s.stats.grossProfit / 1000000 | currency:'1.0-2'}}M</td>
        <td class="text-right">{{s.stats.profitMargin | percent}}</td>
        <td class="text-right">{{s.stats.totalCash / 1000000 | number:'1.0-2'}}M</td>
      </tr>
    </tbody>
  </table>

</div>

<div *ngIf="!loaded">
	Calculating your grid ....
</div>
