<div>
  <app-stock-search
      label="{{null}}"
      placeholder="Search for securities using ticker or name"
      (tickerSelected)="onTokenSelected($event)"
      cssClass="form-control">
  </app-stock-search>
</div>

<div *ngIf="loaded">
  <div class="row">

    <div class="col text-center">
      <div class="container">
        <div class="row">
          <div class="col text-end">Invested</div>
          <div class="col text-start"><b>{{moneySpentOnTokens | currency}}</b></div>
        </div>
        <div class="row mt-0">
          <div class="col text-end">Equity</div>
          <div class="col text-start"><b>{{currentEquity | currency}}</b></div>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="tab-container mt-2" *ngIf="loaded">
  <a class="tab" [ngClass]="{'is-active': isActive('owned')}" [routerLink]="" (click)="activateTab('owned')">
    Ownership
  </a>

</div>

<crypto-ownership-grid *ngIf="loaded && isActive('owned')" [owned]=owned></crypto-ownership-grid>
