<div>
    <app-stock-search
        (tickerSelected)="onTokenSelected($event)"
        cssClass="form-control"
        label="{{null}}"
        placeholder="Search for securities using ticker or name">
    </app-stock-search>
</div>
@if (loaded) {
    <div>
        <div class="row">
            <div class="col text-center">
                <div class="container">
                    <div class="row">
                        <div class="col text-end">Invested</div>
                        <div class="col text-start"><b>{{ moneySpentOnTokens | currency }}</b></div>
                    </div>
                    <div class="row mt-0">
                        <div class="col text-end">Equity</div>
                        <div class="col text-start"><b>{{ currentEquity | currency }}</b></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (loaded) {
    <div class="tab-container mt-2">
        <a class="tab" [ngClass]="{'is-active': isActive('owned')}" [routerLink]="" (click)="activateTab('owned')">
            Ownership
        </a>
    </div>
}
@if (loaded && isActive('owned')) {
    <app-crypto-ownership-grid [owned]=owned></app-crypto-ownership-grid>
}
