@if (owned) {
  <div>
    @if (owned.length === 0) {
      <span>
        You have no crypto purchases recorded.
      </span>
    }
    @if (owned.length > 0) {
      <div class="mt-4">
        <a href="/api/stocks/export/open" class="btn btn-link">Export owned</a>
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="sort-header" (click)="sort('token')">Token</th>
              <th class="sort-header" (click)="sort('quantity')">Quantity</th>
              <th class="sort-header" (click)="sort('price')">Price</th>
              <th class="text-end sort-header" (click)="sort('averageCost')">Average Cost</th>
              <th class="text-end sort-header" (click)="sort('invested')" align="center">Invested</th>
              <th class="text-end sort-header" (click)="sort('profits')">Gain/Loss</th>
              <th class="text-end sort-header" (click)="sort('profitsPct')">%</th>
              <th class="text-end sort-header" (click)="sort('equity')">Equity</th>
              <th class="text-end sort-header" (click)="sort('daysheld')">Days Held</th>
            </tr>
          </thead>
          <tbody>
            @for (token of owned; track token) {
              <tr>
                <td><a [routerLink]="[ '/cryptos', token.token ]">{{token.token}}</a></td>
                <td>{{token.quantity}}</td>
                <td>{{token.price | currency}}</td>
                <td class="text-end">{{token.averageCost | currency}}</td>
                <td class="text-end">{{token.cost | currency}}<small> {{ownershipPct(token) | percent}}</small></td>
                <td class="text-end" [ngClass]="{'profits-positive': token.profits > 0, 'profits-negative': token.profits < 0}">{{token.profits | currency }}</td>
                <td class="text-end" [ngClass]="{'profits-positive': token.profits > 0, 'profits-negative': token.profits < 0}">{{token.profitsPct | percent:'1.2' }}</td>
                <td class="text-end">{{token.equity | currency }} <small>{{equityPct(token) | percent}}</small></td>
                <td class="text-end">{{token.daysHeld}}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
  </div>
}
