<div>
    @if (currentPosition) {
        <div class="container my-4">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 mb-3 mb-md-0">
                    <div class="input-group">
                        <button (click)="previous()" class="btn btn-outline-secondary" type="button"><i
                            class="fas fa-chevron-left"></i></button>
                        <select class="form-select"
                                (change)="dropdownClick($event.target)"> @for (position of positions; track position; let i = $index) {
                            <option [value]="i"
                                    [selected]="position.positionId === currentPosition.positionId"> {{ position.ticker }}
                            </option>
                        } </select>
                        <button (click)="next()" class="btn btn-outline-secondary" type="button"><i
                            class="fas fa-chevron-right"></i></button>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="d-flex justify-content-between">
                        <div><span class="text-muted">Price:</span> <span
                            class="ms-2">{{ getPrice(currentPosition) | currency }}</span></div>
                        <div><span class="text-muted">Stop:</span> <span
                            class="ms-2">{{ currentPosition.stopPrice | currency }}</span></div>
                        <div><span class="text-muted">Cost/Share:</span> <span
                            class="ms-2">{{ currentPosition.averageBuyCostPerShare | currency }}</span></div>
                    </div>
                </div>
            </div>
        </div>
    }
    <section>
        <h5>Stock chart</h5>
        @if (pricesErrors) {
            <app-error-display [errors]="pricesErrors"></app-error-display>
        }
        @if (!positionChartInformation && !pricesErrors) {
            <app-loading></app-loading>
        }
        @if (positionChartInformation) {
            <app-candlestick-chart [chartInformation]="positionChartInformation"></app-candlestick-chart>
        }
    </section>

    <section *ngIf="currentPosition">
        <h5>Actual vs Trading Strategies</h5>
        @if (simulationErrors) {
            <app-error-display [errors]="simulationErrors"></app-error-display>
        }
        @if (!simulationResults && !simulationErrors) {
            <app-loading></app-loading>
        }
        @if (simulationResults) {
            <app-trading-actual-vs-simulated
                [simulations]="simulationResults"
                [simulationErrors]="simulationErrors">
            </app-trading-actual-vs-simulated>
        }
    </section>

    <section *ngIf="currentPosition">
        <h5>Daily Gain Breakdown</h5>
        @if (scoresErrors) {
            <app-error-display [errors]="scoresErrors"></app-error-display>
        }
        @if (!dailyPositionReport && !scoresErrors) {
            <app-loading></app-loading>
        }
        @if (dailyPositionReport) {
            <app-daily-outcome-scores [report]="dailyPositionReport" [showProfit]="currentPosition.isClosed"></app-daily-outcome-scores>    
        }
    </section>

    @if (currentPosition && currentPosition.isClosed) {
        <section class="my-4">
            <h5>Grade</h5>
            @if (gradingError) {
                <div class="alert alert-danger" role="alert">
                    {{ gradingError }}
                </div>
            }
            @if (gradingSuccess) {
                <div class="alert alert-success" role="alert">
                    {{ gradingSuccess }}
                </div>
            }
            <div class="card">
                <div class="card-body">
                    <div class="mb-3">
                        <div class="btn-group w-100" role="group">
                            <input type="radio" class="btn-check" name="gradeOptions" id="gradeA" autocomplete="off" [checked]="this.assignedGrade === 'A'" (click)="this.assignedGrade = 'A'">
                            <label class="btn btn-outline-primary" for="gradeA">A</label>

                            <input type="radio" class="btn-check" name="gradeOptions" id="gradeB" autocomplete="off" [checked]="this.assignedGrade === 'B'" (click)="this.assignedGrade = 'B'">
                            <label class="btn btn-outline-primary" for="gradeB">B</label>

                            <input type="radio" class="btn-check" name="gradeOptions" id="gradeC" autocomplete="off" [checked]="this.assignedGrade === 'C'" (click)="this.assignedGrade = 'C'">
                            <label class="btn btn-outline-primary" for="gradeC">C</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="notesInput" class="form-label">Notes</label>
                        <textarea #gradeNotes [ngClass]="assignedNote ? 'visually-hidden' : ''" class="form-control" id="notesInput" rows="3" [value]="assignedNote"></textarea>
                        <div #gradeLabel [ngClass]="assignedNote ? '' : 'visually-hidden'">{{gradeNotes.value}}</div>
                    </div>
                    <div class="d-grid gap-2">
                        <button [ngClass]="assignedNote ? 'visually-hidden' : ''" (click)="assignGrade(gradeNotes.value); toggleVisuallyHidden(gradeNotes); toggleVisuallyHidden(gradeLabel); toggleVisuallyHidden(submitGradeButton); toggleVisuallyHidden(editGradeButton)" class="btn btn-primary" #submitGradeButton>Submit Grade</button>
                        <button [ngClass]="assignedNote ? '' : 'visually-hidden'" (click)="toggleVisuallyHidden(gradeNotes); toggleVisuallyHidden(gradeLabel); toggleVisuallyHidden(submitGradeButton); toggleVisuallyHidden(editGradeButton)" class="btn btn-secondary" #editGradeButton>Edit Grade</button>
                    </div>
                </div>
            </div>
        </section>
    }
    
    <section>
        <h5>Position Information</h5>
        <app-stock-trading-position
                                    [position]="currentPosition"
                                    [quote]="getQuote(currentPosition)"
                                    (positionChanged)="positionChanged.emit()"
        ></app-stock-trading-position>
    </section>

</div>
