<div *ngIf="!loaded">
  Loading short term holdings...
  <div class="spinner-border text-info spinner-border-sm" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="loaded">
  
  <div class="card mb-2 mt-2">
    <div class="card-header">
      <div class="mb-2 font-weight-bold">Trading Holdings</div>
      <div class="mb-2"><b>Positions</b> {{ numberOfPositions}} </div>
    </div>
  </div>

  <div class="card border-info">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <app-symbol-search
                label="Ticker"
                placeholder="New position symbol"
                (tickerSelected)="onBuyTickerSelected($event)"
                cssClass="form-control">
            </app-symbol-search>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="positionSize">Position Size</label>
            <input
              type="number"
              class="form-control"
              id="positionSize"
              [(ngModel)]="positionSize"
              (ngModelChange)="updateBuyingValues()">
          </div>
        </div>
      </div>
      <div class="row" *ngIf="costToBuy">
        <div class="col">
          <label for="costToBuy">Price: </label>
          <input
            type="number"
            id="costToBuy"
            class="form-control"
            [(ngModel)]="costToBuy"
            (ngModelChange)="updateBuyingValues()"
          >
        </div>
        <div class="col">Shares #: <strong>{{ stocksToBuy }}</strong></div>
        <div class="col">Stop Price: <strong>{{ stopPrice | currency }}</strong></div>
        <div class="col">Exit Price: <strong>{{ exitPrice | currency }}</strong></div>
      </div>
      <div class="row mt-2" *ngIf="stats">
        <div class="col">Above 50: <strong>{{ costToBuy > stats.day50MovingAvg  ? 'yes' : 'no'}}</strong></div>
        <div class="col">Above 200: <strong>{{ costToBuy > stats.day200MovingAvg  ? 'yes' : 'no'}}</strong></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </div>
  </div>

  <div class="border-info mb-2 mt-4">
      <div class="row">
        <div class="col">
          <label for="stopLoss" class="filterLabel">Stop Loss</label><input type="number" id="stopLoss" class="form-control form-control-sm" [(ngModel)]="stopLoss" />
        </div>
        <div class="col">
          <label for="firstTarget" class="filterLabel">First Target</label><input type="number" class="form-control form-control-sm" [(ngModel)]="firstTarget" id="firstTarget" name="firstTarget" />
        </div>
        <div class="col">
          <label for="rrTarget" class="filterLabel">R:R Target</label><input type="number" class="form-control form-control-sm" [(ngModel)]="rrTarget" id="rrTarget" name="rrTarget" />
        </div>
      </div>
  </div>
    

  <app-trading-position
    *ngFor="let p of result"
    [p]="p"
    [stopLoss]="stopLoss"
    [firstTarget]="firstTarget"
    [rrTarget]="rrTarget"></app-trading-position>
  
</div>
