<div *ngIf="!loaded">
  Loading short term holdings...
  <div class="spinner-border text-info spinner-border-sm" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="loaded">
  
  <div class="card-header mb-2 mt-2 border">
    <div class="mb-2 font-weight-bold">Trading Holdings</div>
    <div class="mb-2"><b>Positions</b> {{ numberOfPositions}} </div>
    <!-- <div><b>Invested</b>: {{ invested | currency}} </div> -->
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <app-symbol-search
                label="Ticker"
                placeholder="New position symbol"
                (tickerSelected)="onBuyTickerSelected($event)"
                cssClass="form-control">
            </app-symbol-search>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="positionSize">Position Size</label>
            <input
              type="number"
              class="form-control"
              id="positionSize"
              [(ngModel)]="positionSize"
              (ngModelChange)="updateBuyingValues($event)">
          </div>
        </div>
      </div>
      <div class="row" *ngIf="costToBuy">
        <div class="col">
          <label for="costToBuy">Price: </label>
          <input
            type="number"
            id="costToBuy"
            class="form-control-sm"
            [(ngModel)]="costToBuy"
            (ngModelChange)="updateBuyingValues($event)"
          >
        </div>
        <div class="col">Shares #: <strong>{{ stocksToBuy }}</strong></div>
        <div class="col">Stop Price: <strong>{{ stopPrice | currency }}</strong></div>
        <div class="col">Exit Price: <strong>{{ exitPrice | currency }}</strong></div>
      </div>
      <div class="row mt-2" *ngIf="stats">
        <div class="col">Above 50: <strong>{{ costToBuy > stats.day50MovingAvg  ? 'yes' : 'no'}}</strong></div>
        <div class="col">Above 200: <strong>{{ costToBuy > stats.day200MovingAvg  ? 'yes' : 'no'}}</strong></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </div>
  </div>

  <div class="row mb-2 mt-5">
    <div class="col">
      <label for="stopLoss">Stop Loss</label><input type="number" id="stopLoss" class="form-control" [(ngModel)]="stopLoss" />
    </div>
    <div class="col">
      <label for="firstTarget">First Target</label><input type="number" class="form-control" [(ngModel)]="firstTarget" id="firstTarget" name="firstTarget" />
    </div>
    <div class="col">
      <label for="rrTarget">R:R Target</label><input type="number" class="form-control" [(ngModel)]="rrTarget" id="rrTarget" name="rrTarget" />
    </div>
  </div>

  <div class="card mb-2" *ngFor="let p of result">
    <div class="card-body">
      <h5 class="card-title">
        <span class="float-right">
          Price: {{p.price | currency}}
          ({{ ( (p.price - p.averageCost) / p.averageCost ) | percent }})
        </span>
        <a [routerLink]="[ '/stocks', p.ticker ]">{{p.ticker}}</a>
      </h5>
      
      <div class="row">
        <div class="col">
          <div>Average Cost: {{p.averageCost | currency}}</div>
          <div>Size: {{p.maxCost | currency}}</div>
        </div>
        <div clsss="col">
          <div>Shares: {{ p.numberOfShares }} / {{ p.maxNumberOfShares }}</div>
          <div>Sell Size: {{ p.maxNumberOfShares / 3 | number : '1.0-0' }}</div>
        </div>
        <div class="col text-right">
          <div>Stop: {{ p.averageCost - p.averageCost * stopLoss | currency }}</div>
          <div>1st Target: {{ p.averageCost + p.averageCost * firstTarget | currency }}</div>
          <div>R:R Target: {{ (p.averageCost + (p.averageCost * rrTarget)) | currency}}</div>
        </div>
      </div>
    </div>
  </div>
  
</div>
