
<div *ngIf="sells && sells.length > 0">

  <table class="table">
    <thead>
      <tr>
        <th>Ticker</th>
        <th>Date</th>
        <th>Number of Shares</th>
        <th>Price&#64;Sale</th>
        <th>Current Price</th>
        <th>% Diff</th>
        <th>Older Than 30 Days</th>
      </tr>
    </thead>
    <tbody>
      <tr ngClass="{{s.diff > 0 ? 'bg-warning' : 'bg-info'}}" *ngFor="let s of sells">
        <td>
          <app-stock-link class="text-white" [ticker]="s.ticker"></app-stock-link>
        </td>
        <td>{{s.date | date}}</td>
        <td>{{s.numberOfShares}}</td>
        <td>{{s.price}}</td>
        <td>{{s.currentPrice}}</td>
        <td>{{s.diff | percent:'1.2'}}</td>
        <td><span class="badge bg-success" *ngIf="s.olderThan30Days">yes</span></td>
      </tr>
    </tbody>
  </table>

</div>

<div *ngIf="sells && sells.length === 0">
  No sells found
</div>
