
<div *ngIf="sells && sells.length > 0">

  <table class="table">
    <thead>
      <tr>
        <td>Ticker</td>
        <td>Date</td>
        <td>Number of Shares</td>
        <td>Price@Sale</td>
        <td>Current Price</td>
        <td>% Diff</td>
        <td>Older Than 30 Days</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of sells">
        <td><a [routerLink]="[ '/stocks', s.ticker ]">{{s.ticker}}</a></td>
        <td>{{s.date | date}}</td>
        <td>{{s.numberOfShares}}</td>
        <td>{{s.price}}</td>
        <td>{{s.currentPrice}}</td>
        <td>{{s.diff | percent:'1.2'}}</td>
        <td><span class="badge badge-success" *ngIf="s.olderThan30Days">yes</span></td>
      </tr>
    </tbody>
  </table>

</div>

<div *ngIf="sells && sells.length == 0">
  No sells found
</div>
