nav {
  display: flex;
  align-items: center;
  background-color: #004289;
  height: 50px;
  position: relative;
  margin-top: 10px;
  border-radius: 2px;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  margin: 10px;
}
nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.5s ease;
  border-radius: 5px;
  font-weight: 500;
}
nav a:hover {
  background-color: #72a8e1;
}