<nav>
  <ul>
    <li>
      <a [routerLink]="[ '/dashboard' ]">Dashboard</a>
    </li>
    <li>
      <a [routerLink]="[ '/trading' ]">Active Trades</a>
    </li>
    <li>
      <a [routerLink]="[ '/stocks/newposition' ]">New Position</a>
    </li>
    <li>
      <a [routerLink]="[ '/trading/dailyanalysis' ]">Daily Analysis</a>
    </li>
    <li>
      <a [routerLink]="[ '/trading/review' ]">Trading Review</a>
    </li>
    <li>
      <a [routerLink]="[ '/stocks/lists' ]">Stock Lists</a>
    </li>
    <li>
      <a [routerLink]="[ '/summary' ]">Weekly Summary</a>
    </li>
    <li>
      <a [routerLink]="[ '/profile' ]">Account</a>
    </li>
  </ul>
</nav>
