<nav class="navbar navbar-light navbar-color navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="nav-link" [routerLink]="[ '/dashboard' ]">Dashboard</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul *ngIf="isLoggedIn" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let l of links">
          <a class="nav-link" [routerLink]="[ l.path]">{{l.label}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>