.nav-menu {
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.nav-menu a {
  color: darkcyan;
}

a.floating-button {
  font-size: small;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
}
