<div>
  <h3>Simulating trades</h3>
  <h5>Parameters: {{numberOfTrades}} trades {{closePositions ? ", closing positions at end of simulations" : ""}}</h5>
  <h5>Earliest date: {{results[0].performance.earliestDate | date }}, latest date: {{results[0].performance.latestDate | date }}</h5>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Strategy</th>
        <th>P/L</th>
        <th>R/R</th>
        <th>Win %</th>
        <th>Avg Win Pct</th>
        <th>Avg Loss Pct</th>
        <th>Max Win</th>
        <th>Max Loss</th>
        <th>E/V</th>
        <th>Profit Ratio</th>
        <th>Pct Ratio</th>
        <th>Trades</th>
        <th>Open Positions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of results">
        <td>{{r.strategyName}}</td>
        <td>{{r.performance.profit | currency}}</td>
        <td>{{r.performance.rrSum | number:'1.0-2'}}</td>
        <td>{{r.performance.winPct | percent}}</td>
        <td>{{r.performance.winAvgReturnPct | percent}}</td>
        <td>{{r.performance.lossAvgReturnPct | percent}}</td>
        <td>{{r.performance.maxWinAmount | currency}}</td>
        <td>{{r.performance.maxLossAmount | currency}}</td>
        <td>{{r.performance.ev | currency}}</td>
        <td>{{r.performance.profitRatio | number:'1.0-2'}}</td>
        <td>{{r.performance.returnPctRatio | number:'1.0-2'}}</td>
        <td>{{r.performance.numberOfTrades }}</td>
        <td>{{openPositions(r.positions)}}</td>
      </tr>
    </tbody>
  </table>

  <!-- detailed breakdown -->
  <table class="table table-hover border" *ngFor="let r of results; let strategyIndex = index">
    <tbody>
      <tr>
        <td colspan="6">{{results[0].strategyName}} vs {{results[strategyIndex].strategyName}}</td>
      </tr>
      <tr *ngFor="let p of results[strategyIndex].positions; let positionIndex = index">
        <td width="20" [className]="'col ' + backgroundCssClassForActual(results, strategyIndex, positionIndex)"> &nbsp;&nbsp; </td>
        <td width="50">{{results[0].positions[positionIndex].ticker}}</td>
        <td width="100">{{results[0].positions[positionIndex].combinedProfit | currency}}</td>
        <td width="100">{{results[strategyIndex].positions[positionIndex].combinedProfit | currency}}</td>
        <td width="100">{{results[0].positions[positionIndex].daysHeld}} vs {{results[strategyIndex].positions[positionIndex].daysHeld}} days held</td>
        <td width="100"><span *ngIf="!results[strategyIndex].positions[positionIndex].isClosed">(open)</span></td>
      </tr>
    </tbody>
  </table>

</div>
