<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Strategy</th>
        <th>P/L</th>
        <th>R/R</th>
        <th>Avg Win Pct</th>
        <th>Avg Loss Pct</th>
        <th>Max Win</th>
        <th>Max Loss</th>
        <th>E/V</th>
        <th>Win %</th>
        <th>Profit /</th>
        <th>Pct /</th>
        <th>Trades</th>
        <th>Open Trades</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of results">
        <td>{{r.strategyName}}</td>
        <td>{{r.performance.profit | currency}}</td>
        <td>{{r.performance.rrSum | number:'1.0-2'}}</td>
        <td>{{r.performance.winPct | percent}}</td>
        <td>{{r.performance.winAvgReturnPct | percent}}</td>
        <td>{{r.performance.lossAvgReturnPct | percent}}</td>
        <td>{{r.performance.maxWinAmount | currency}}</td>
        <td>{{r.performance.maxLossAmount | currency}}</td>
        <td>{{r.performance.ev | currency}}</td>
        <td>{{r.performance.profitRatio | number:'1.0-2'}}</td>
        <td>{{r.performance.returnPctRatio | number:'1.0-2'}}</td>
        <td>{{r.performance.total}}</td>
        <td>{{openPositions(r.positions)}}</td>
      </tr>
    </tbody>
  </table>

  <!-- detailed breakdown -->
  <table class="table striped">
    <thead>
      <tr>
        <th>ticker</th>
        <th *ngFor="let r of results" colspan="2">{{r.strategyName}}</th>
      </tr>
    </thead>
    <tbody>  
      <tr *ngFor="let t of results[0].positions; let i = index">
        <td>{{t.ticker}}</td>
        <ng-container *ngFor="let r of results">
          <td [className]="getClassBasedOnProfit(r.positions[i])">{{r.positions[i].isClosed ? 'closed' : 'open'}}</td>
          <td [className]="getClassBasedOnProfit(r.positions[i])">{{ r.positions[i].profit + r.positions[i].unrealizedProfit | currency }}</td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
