<div>
  <span class="badge bg-success m-1" *ngFor="let ticker of tickers">{{ticker}}</span>

  <app-candlestick-chart
    [averageBuyPrice]=210
    [prices]="prices"
    >
  </app-candlestick-chart>

  <section>
    <h3>New chart type</h3>
    <canvasjs-chart *ngIf="options" [options]="options" (chartInstance)="getChartInstance($event)"></canvasjs-chart>
  </section>

  <section>
    <h3>Profit</h3>
    <app-line-chart [dataContainer]="container"></app-line-chart>
  </section>

  <section>
    <h3>Manual</h3>
    <canvasjs-chart [options]="manualOptions"></canvasjs-chart>
  </section>

  <app-symbol-search></app-symbol-search>
  this is just a symbol app-symbol-search
  <div>
    hello!
  </div>
</div>
