<div>
    <div class="alert alert-success" role="alert" *ngIf="feedbackMessage">
        {{feedbackMessage}}
      </div>

    <app-stock-trading-newposition
        (stockPurchased)="stockPurchased()"
        (pendingPositionCreated)="pendingPositionCreated()">
    </app-stock-trading-newposition>

    <app-brokerage-neworder
      (brokerageOrderEntered)="brokerageOrderEntered()">
    </app-brokerage-neworder>

    <app-stock-trading-pendingpositions
      (pendingPositionClosed)="pendingPositionClosed()">
    </app-stock-trading-pendingpositions>

    <app-brokerage-orders></app-brokerage-orders>
</div>
