<div>
    @if (feedbackMessage) {
        <div class="alert alert-success" role="alert">
            {{ feedbackMessage }}
        </div>
    }
    <app-stock-trading-new-position
        (pendingPositionCreated)="pendingPositionCreated()"
        (positionOpened)="positionOpened()">
    </app-stock-trading-new-position>
    <app-brokerage-new-order
        (brokerageOrderEntered)="brokerageOrderEntered()">
    </app-brokerage-new-order>
    <app-stock-trading-pendingpositions
        (pendingPositionClosed)="pendingPositionClosed()">
    </app-stock-trading-pendingpositions>
    <app-brokerage-orders
        (ordersChanged)="getOrders()"
        [orders]="orders"
    ></app-brokerage-orders>
</div>
