<nav class="navbar navbar-light navbar-color navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <app-error-display [errors]="errors"></app-error-display>
        @if (isLoggedIn) {
            <a
                class="nav-link"
                (click)="collapseMenu()"
                [ngClass]="{'nav-item': true, 'nav-item-active': '/dashboard' === currentPath}"
                [routerLink]="[ '/dashboard' ]">Dashboard</a>
        }
        @if (!isLoggedIn) {
            <a class="nav-link" [routerLink]="[ '/profile/login' ]">Login</a>
        }
        <button
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            class="navbar-toggler"
            data-bs-target="#navbarSupportedContent"
            data-bs-toggle="collapse"
            type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [id]="navbarSupportedContentId" class="collapse navbar-collapse">
            @if (isLoggedIn) {
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    @for (l of links; track l) {
                        <li>
                            <a
                                (click)="collapseMenu()"
                                [ngClass]="{'nav-item': true, 'nav-item-active': l.path === currentPath}"
                                class="nav-link" [routerLink]="[ l.path]">{{ l.label }}
                            </a>
                        </li>
                    }
                </ul>
            }
            @if (isLoggedIn) {
                <app-stock-search
                    [cssClass]="'d-flex ms-auto form-control'"
                    [label]="''"
                    [placeholder]="'Search stocks'"
                    (tickerSelected)="navigateToTicker($event)"
                    [justTickers]="true">
                </app-stock-search>
            }
        </div>
    </div>
</nav>
