<div class="mt-2">

  <app-error-display *ngIf="errors" [errors]="errors"></app-error-display>

	<div *ngIf="option">

    <div class="card">
      <div class="card-body">
        <h3 class="card-title">
          <a [routerLink]="[ '/stocks', option.ticker ]">{{option.ticker}}</a>
           @ {{option.strikePrice | currency}} {{option.type}}

          <span class="float-right">
            {{option.numberOfContracts}} contracts {{option.boughtOrSold}}
          </span>
        </h3>
        <h5 class="card-subtitle text-muted">
          Expiration:   {{option.expirationDate | date:"MM/dd/yyyy"}}
          <span *ngIf="option.expiresSoon" class="ml-1 badge badge-warning">expires soon</span>
          <span *ngIf="option.isExpired" class="ml-1 badge badge-danger">expired</span>
        </h5>
        <div class="mt-2 row">
          <div class="col">
            <div class="stat-label">current price</div>
            <div>
              {{option.strikePriceDiff | percent}}
              <span class="badge" [ngClass]="{'badge-warning': !option.isFavorable, 'badge-success': option.isFavorable}">{{option.itmOtmLabel}}</span>
              {{option.currentPrice | currency}}
            </div>
          </div>
          <div class="col"><div class="stat-label">Days Held</div><div>{{option.daysHeld | number}}</div></div>
          <div class="col"><div class="stat-label">Days Held %</div><div>{{option.daysHeld / option.days | percent}}</div></div>
          <div class="col"><div class="stat-label">Days Left</div><div>{{(option.days - option.daysHeld) | number}}</div></div>
        </div>

        <div class="mt-2 row">
          <div class="col"><div class="stat-label">Premium Received</div><div>{{option.premiumReceived | currency}}</div></div>
          <div class="col"><div class="stat-label">Premium Paid</div><div>{{option.premiumPaid | currency}}</div></div>
          <div class="col"><div class="stat-label">Premium / Day</div><div>{{(option.premiumReceived / option.days) | currency}}</div></div>
          <div class="col"><div class="stat-label"></div><div></div></div>
        </div>
      </div>
    </div>

    <div class="card mt-2">
      <div class="card-body">
        <div class="card-title">
          Close Option Position
        </div>
        <form>
          <div>
            <button type="button" class="btn btn-secondary mb-1 mr-2" (click)="expire(false)">Close - Expired Worthless</button>
            <button *ngIf="option.boughtOrSold == 'Sold'" type="button" class="btn btn-secondary mb-1 mr-2" (click)="expire(true)">Close - It was assigned</button>
          </div>
        </form>
      </div>
    </div>

    <div class="card mt-2">
      <div class="card-body">
        <div class="card-title">
          If you closed via a trade, record it below:
        </div>
        <form>
          <div class="form-row">
            <div class="form-group col">
              <label for="positionType">Buying or Selling? &nbsp;&nbsp; </label>
              <select class="form-control btn border rounded" name="positionType" [(ngModel)]="positionType">
                <option value="buy">Buying</option>
                <option value="sell">Selling</option>
              </select>
            </div>

            <div class="form-group col">
              <label for="numberOfContracts">Number of Contracts</label>
              <input type="number" class="form-control" id="numberOfContracts" name="numberOfContracts" [(ngModel)]="numberOfContracts">
            </div>

            <div class="form-group col">
              <label for="premium">Premium Per Contract</label>
              <input type="number" class="form-control" id="premium" name="premium" [(ngModel)]="premium">
            </div>

            <div class="form-group col">
              <label for="filled">Filled</label>
              <input type="date" class="form-control" id="filled" name="filled" [(ngModel)]="filled">
            </div>
          </div>

          <div>
            <button type="button" class="btn btn-primary mb-1 mr-2" (click)="record()">Record</button>
          </div>
        </form>
      </div>
    </div>

    <div>
      <caption>Transactions</caption>
      <table class="table table-striped border">
        <thead class="thead-light">
          <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Debit</th>
            <th>Credit</th>
          </tr>
        </thead>
        <tbody>
          <tr
            [ngClass]="{'table-success': t.profit > 0, 'table-warning': t.profit < 0, 'table-light': t.profit == 0}"
            *ngFor="let t of option.transactions.transactions">
            <td>{{ t.date | date:'shortDate'}}</td>
            <td>{{ t.description }}</td>
            <td>{{ t.debit | currency }}</td>
            <td>{{ t.credit | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mb-3">
      <label>Delete this option position from your portfolio</label>
      <div>
        <button type="button float-right" class="btn btn-secondary mb-1 mr-2" (click)="delete()">Delete</button>
      </div>
    </div>

	</div>
</div>

