<div class="mt-2">

  <div *ngIf="closed" class="alert alert-success" role="alert">
    Contract has been successfully closed
  </div>

  <app-error-display *ngIf="errors" [errors]="errors"></app-error-display>

	<div *ngIf="loaded">
    <h3>{{option.ticker}} @ {{option.strikePrice | currency}} {{option.type}} exp {{option.expiration | date}}</h3>
    <h5>{{option.amount}} contract(s) for {{option.premium | currency }}</h5>

    <form>
      <div class="form-group">
				<label for="numberOfContracts">Number of Contracts</label>
				<input type="number" class="form-control" id="numberOfContracts" name="numberOfContracts" [(ngModel)]="numberOfContracts">
      </div>

      <div class="form-group">
				<label for="closePrice">Close Price Per Contract</label>
				<input type="number" class="form-control" id="closePrice" name="closePrice" [(ngModel)]="closePrice">
      </div>

      <div class="form-group">
				<label for="closeDate">Close Date</label>
				<input type="date" class="form-control" id="closeDate" name="closeDate" [(ngModel)]="closeDate">
			</div>

      <button type="submit" class="btn btn-primary mb-2" (click)="close()">Close Contract</button>&nbsp;&nbsp;
    </form>

	</div>
</div>

