<div class="mt-2">

  <app-error-display *ngIf="errors" [errors]="errors"></app-error-display>

	<div *ngIf="option">

    <div class="card">
      <div class="card-body">
        <h3 class="card-title">
          <a [routerLink]="[ '/stocks', option.ticker ]">{{option.ticker}}</a>
           @ {{option.strikePrice | currency}} {{option.type}}

          <span class="float-right">
            {{option.numberOfContracts}} contracts
          </span>
        </h3>
        <h5 class="card-subtitle text-muted">
          Expiration:   {{option.expirationDate | date:"MM/dd/yyyy"}}
          <span *ngIf="option.expiresSoon" class="ml-1 badge badge-warning">expires soon</span>
          <span *ngIf="option.isExpired" class="ml-1 badge badge-danger">expired</span>
        </h5>
      </div>
    </div>

    <div class="card mt-2">
      <div class="card-body">
        <div class="card-title">
          Additional trades for {{option.ticker}} @ {{option.strikePrice | currency}} {{option.type}}
        </div>
        <form>
          <div class="form-row">
            <div class="form-group col">
              <label for="positionType">Buying or Selling? &nbsp;&nbsp; </label>
              <select class="form-control" name="positionType" [(ngModel)]="positionType">
                <option value="buy">Buying</option>
                <option value="sell">Selling</option>
              </select>
            </div>

            <div class="form-group col">
              <label for="numberOfContracts">Number of Contracts</label>
              <input type="number" class="form-control" id="numberOfContracts" name="numberOfContracts" [(ngModel)]="numberOfContracts">
            </div>

            <div class="form-group col">
              <label for="premium">Premium Per Contract</label>
              <input type="number" class="form-control" id="premium" name="premium" [(ngModel)]="premium">
            </div>

            <div class="form-group col">
              <label for="filled">Filled</label>
              <input type="date" class="form-control" id="filled" name="filled" [(ngModel)]="filled">
            </div>
          </div>

          <div>
            <button type="button" class="btn btn-primary mb-1 mr-2" (click)="record()">Record</button>
            <button type="button" class="btn btn-secondary mb-1 mr-4" (click)="back()">Back</button>
            <button *ngIf="option.isExpired" type="button" class="btn btn-secondary mb-1 mr-2" (click)="expire(false)">Expired - Out of Money</button>
            <button *ngIf="option.isExpired" type="button" class="btn btn-secondary mb-1 mr-2" (click)="expire(true)">Expired - Assigned</button>
          </div>
        </form>
      </div>
    </div>

    <div>
      <caption>Transactions</caption>
      <table class="table table-striped border">
        <thead class="thead-light">
          <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Debit</th>
            <th>Credit</th>
          </tr>
        </thead>
        <tbody>
          <tr
            [ngClass]="{'table-success': t.profit > 0, 'table-warning': t.profit < 0, 'table-light': t.profit == 0}"
            *ngFor="let t of option.transactions.transactions">
            <td>{{ t.date | date:'shortDate'}}</td>
            <td>{{ t.description }}</td>
            <td>{{ t.debit | currency }}</td>
            <td>{{ t.credit | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mb-3">
      <label>Delete this option position from your portfolio</label>
      <div>
        <button type="button float-right" class="btn btn-secondary mb-1 mr-2" (click)="delete()">Delete</button>
      </div>
    </div>

	</div>
</div>

