<section>
  @if (justOrders === false) {
    <h5>Brokerage Orders</h5>
  }
  <app-error-display [errors]="errors"></app-error-display>
  <div>
    @if (isEmpty && filteredTickers.length > 0 ) {
      <div>
        No brokerage orders found for {{filteredTickers.join(', ')}}
      </div>
    }
    @for (groupedOrder of groupedOrders; track groupedOrder) {
      <table class="table">
        @if (groupedOrder.length > 0 && justOrders === false) {
          <thead>
            <tr>
              <th style="width: 100px;"></th>
              <th>Stock</th>
              <th>Type</th>
              <th>Quantity</th>
              <th class="text-end">Price</th>
              <th></th>
            </tr>
          </thead>
        }
        <tbody>
          @for (p of groupedOrder; track p; let i = $index) {
            <tr [ngClass]="{'table-success': p.isActive && p.type === 'BUY', 'table-info': p.isActive && p.type === 'SELL', 'table-light': !p.isActive}">
              <td>
                <div class="small">{{p.status}}</div>
              </td>
              <td>
                <app-stock-link-and-tradingview-link [ticker]="p.ticker"></app-stock-link-and-tradingview-link>
              </td>
              <td>{{p.type }}</td>
              <td>{{p.quantity}}</td>
              <td class="text-end">{{p.price === 0 ? 'MARKET' : p.price | currency}}</td>
              <td class="text-end">
                @if (p.canBeCancelled) {
                  <button class="btn btn-warning btn-sm" (click)="cancelOrder(p.orderId)">Cancel</button>
                }
                @if (p.canBeRecorded && positionId) {
                  <button class="btn btn-secondary btn-sm" (click)="recordOrder(p)">Record</button>
                }
              </td>
            </tr>
          }
        </tbody>
        @if (groupedOrder.length > 0 && justOrders === false) {
          <tfoot >
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <b class="float-end">Total</b>
              </td>
              <td class="text-end">
                {{ getTotal(groupedOrder) | currency }}
              </td>
              <td></td>
            </tr>
          </tfoot>
          }
        </table>
      }
    </div>
  </section>
