<div *ngIf="account && account.connected === false">
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Account not connected</h4>
    <p>
      Your account is not connected. Please connect your account to see your positions.
    </p>
    <hr>
    <p class="mb-0">
      <a class="btn btn-primary" href="/profile">Connect Account</a>
    </p>
  </div>
</div>

<div *ngIf="account && account.connected">
  <div class="row">
    <div class="col-md mb-4 mt-2 text-center">
      <div class="text-muted sort-header" >
        Equity
      </div>
      <div class="fs-4 summary-card-main-info">
        {{ account.equity | currency }}
      </div>
    </div>
    <div class="col-md mb-4 mt-2 text-center">
      <div class="text-muted">
        Long Value
      </div>
      <div class="fs-4 summary-card-main-info">
        {{ account.longMarketValue | currency }}
      </div>
    </div>
    <div class="col-md mb-4 mt-2 text-center">
      <div class="text-muted">
        Short Value
      </div>
      <div class="fs-4 summary-card-main-info">
        {{account.shortMarketValue | currency}}
      </div>
    </div>
    <div class="col-md mb-4 mt-2 text-center">
      <div class="text-muted">
        Cash
      </div>
      <div class="fs-4 summary-card-main-info">
        {{ account.cashBalance | currency}}
      </div>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="sort-header" (click)="sort('ticker')">Ticker</th>
      <th class="sort-header" (click)="sort('averageCost')">Average Cost</th>
      <th class="sort-header" (click)="sort('quantity')">Quantity</th>
      <th class="sort-header text-end" (click)="sort('total')">Total</th>
    </tr>
    </thead>
    <tbody>
      @for (position of account.stockPositions; track position.ticker) {
        <tr>
          <td><app-stock-link-and-tradingview-link [ticker]="position.ticker"></app-stock-link-and-tradingview-link></td>
          <td>{{position.averageCost | currency}}</td>
          <td>{{position.quantity}}</td>
          <td class="text-end">{{position.averageCost * position.quantity | currency}}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
