<table *ngIf="orders" class="table">
  <thead>
    <tr>
      <th width="100"></th>
      <th>Stock</th>
      <th>Type</th>
      <th>Quantity</th>
      <th class="text-end">Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of orders; let i = index" [ngClass]="{'table-success': p.status == 'WORKING', 'table-light': p.status != 'WORKING'}">
      <td>
        <div class="small">{{p.status}}</div>
      </td>
      <td><a [routerLink]="[ '/stocks', p.ticker ]">{{p.ticker}}</a></td>
      <td>{{p.type }}</td>
      <td>{{p.quantity}}</td>
      <td class="text-end">{{p.price | currency}}</td>
      <td class="text-end">
        <button *ngIf="p.status == 'WORKING'" class="btn btn-warning btn-sm" (click)="cancelOrder(p.orderId)">Cancel</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <b class="float-end">Total</b>
      </td>
      <td class="text-end">
        {{ getTotalPrice() | currency }}
      </td>
      <td></td>
    </tr>
</table>
