<div class="card border-info mb-3">
  <div class="card-header">
    <h5 class="card-title">Brokerage Orders</h5>
  </div>
  <div class="card-body">
    <div *ngIf="isEmpty && ticker">
      No brokerage orders found for {{ticker}}
    </div>
    <div *ngIf="error" class="alert alert-danger">
      {{error}}
    </div>
    <table class="table" *ngFor="let groupedOrder of groupedOrders">
      <thead *ngIf="groupedOrder.length > 0">
        <tr>
          <th width="100"></th>
          <th>Stock</th>
          <th>Type</th>
          <th>Quantity</th>
          <th class="text-end">Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of groupedOrder; let i = index" [ngClass]="{'table-success': p.isActive && p.type === 'BUY', 'table-info': p.isActive && p.type === 'SELL', 'table-light': !p.isActive}">
          <td>
            <div class="small">{{p.status}}</div>
          </td>
          <td><a [routerLink]="[ '/stocks', p.ticker ]">{{p.ticker}}</a></td>
          <td>{{p.type }}</td>
          <td>{{p.quantity}}</td>
          <td class="text-end">{{p.price | currency}}</td>
          <td class="text-end">
            <button *ngIf="p.canBeCancelled" class="btn btn-warning btn-sm" (click)="cancelOrder(p.orderId)">Cancel</button>
            <button *ngIf="p.canBeRecorded" class="btn btn-secondary btn-sm" (click)="recordOrder(p)">Record</button>
          </td>
        </tr>
      </tbody>
      <tfoot  *ngIf="groupedOrder.length > 0">
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <b class="float-end">Total</b>
          </td>
          <td class="text-end">
            {{ getTotal(groupedOrder) | currency }}
          </td>
          <td></td>
        </tr>
    </table>
  </div>
</div>
