<div>
    <app-error-display *ngIf="errors" [errors]="errors"></app-error-display>

    <section>
        <form>
            <button type="submit" class="btn btn-secondary me-2" (click)="toggleVisibility(addNewRoutineSection)">Create new routine</button>
        </form>
    </section>
    <section #addNewRoutineSection class="visually-hidden">
        <h5>Add new routine</h5>
        <form>
            <div class="form-group">
                <label for="newName">Name</label>
                <input class="form-control" type="text" id="newName" name="newName" #newName>
            </div>
            
            <div class="form-group">
                <label for="newDescription">Description</label>
                <textarea class="form-control" id="newDescription" name="newDescription" rows="5" #newDescription></textarea>
            </div>

            <button type="button" class="btn btn-primary btn-small me-2" (click)="create(newName.value, newDescription.value)">Create</button>
            <button type="button" class="btn btn-secondary btn-small" (click)="toggleVisibility(addNewRoutineSection)">Cancel</button>
        </form>
    </section>

    <section *ngFor="let routine of routines">
        <h3>{{routine.name}}
            <a class="btn btn-primary btn-sm me-2" [routerLink]="['/routines', routine.name, 'activate']">
                <i class="bi bi-caret-right-square-fill"></i>
            </a>
            <a class="btn btn-primary btn-sm" [routerLink]="['/routines', routine.name, 'edit']">
                <i class="bi bi-pencil-fill"></i>
            </a>
        </h3>
    </section>

</div>