<div>

  <h4>
    {{activeRoutine.name}}
    <button class="btn btn-primary btn-sm float-end" (click)="deactivate()">Deactivate</button>
  </h4>

  <div class="wrapper text-center">
    <div class="step-container">
      <div class="step">
        <a
          target="_blank"
          [href]="activeStep.url">{{activeStep.label}}
        </a>
      </div>
      <div class="step-url">
        <a
          target="_blank"
          [href]="activeStep.url">{{activeStep.url}}
        </a>
      </div>
      <div class="step-url">
        {{currentStepIndex + 1}} / {{activeRoutine.steps.length}}
      </div>
    </div>

  </div>

  <button class="btn btn-primary btn-sm" (click)="prevStep()" [disabled]="currentStepIndex === 0">Prev</button>
  <button class="btn btn-primary btn-sm float-end" (click)="nextStep()" [disabled]="currentStepIndex >= activeRoutine.steps.length - 1">Next</button>

</div>
