<div *ngIf="!activeRoutine">
    <app-error-display *ngIf="errors" [errors]="errors"></app-error-display>

    <section>
        <form>
            <button type="submit" class="btn btn-secondary me-2" (click)="toggleVisibility(addNewRoutineSection)">Create new routine</button>
        </form>
    </section>
    <section #addNewRoutineSection class="visually-hidden">
        <h5>Add new routine</h5>
        <form>
            <div class="form-group">
                <label for="newName">Name</label>
                <input class="form-control" type="text" id="newName" name="newName" #newName>
            </div>
            
            <div class="form-group">
                <label for="newDescription">Description</label>
                <textarea class="form-control" id="newDescription" name="newDescription" rows="5" #newDescription></textarea>
            </div>

            <button type="button" class="btn btn-primary btn-small" (click)="create(newName.value, newDescription.value)">Create</button>
        </form>
    </section>

    <section *ngFor="let routine of routines">
        <h3>
            {{routine.name}}
        </h3>
        <div>
            <button class="btn btn-primary btn-sm me-2" (click)="activate(routine)">Activate</button>
            <button class="btn btn-primary btn-sm" (click)="toggleVisibility(addNewStepSection)">Add Step</button>

            <div #addNewStepSection class="visually-hidden">
                <form>
                    <div class="form-group">
                        <label for="stepLebal">Label</label>
                        <input class="form-control" type="text" id="stepLebal" name="stepLebal" #stepLabel>
                    </div>
                    
                    <div class="form-group">
                        <label for="stepUrl">Url</label>
                        <input class="form-control" type="text" id="stepUrl" name="stepUrl" #stepUrl>
                    </div>
        
                    <button type="button" class="btn btn-primary btn-small" (click)="addStep(routine, stepLabel.value, stepUrl.value); toggleVisibility(addNewStepSection)">Add</button>
                </form>
            </div>
        </div>
        <table class="table table-striped" *ngIf="routine.steps.length > 0">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let step of routine.steps; let stepIndex = index">
                    <td>
                        <div class="row" #readOnlySection>
                            <div class="col-5">
                                {{step.label}}
                            </div>
                            <div class="col-5">
                                {{step.url}}
                            </div>
                            <div class="col">
                                <button
                                    class="btn btn-sm btn-outline-primary me-2"
                                    (click)="toggleVisibility(readOnlySection); toggleVisibility(editSection)">edit</button>
                            </div>
                        </div>
                        <div class="row" class="visually-hidden" #editSection>
                            <div class="col-5">
                                <input type="text" #stepLabel value="{{step.label}}">
                            </div>
                            <div class="col-5">
                                <input type="text" #stepUrl value="{{step.url}}">
                            </div>
                            <div class="col">
                                <button (click)="toggleVisibility(editSection); updateStep(routine, stepIndex, stepLabel.value, stepUrl.value); toggleVisibility(readOnlySection); ">save</button>
                                <button (click)="toggleVisibility(editSection); toggleVisibility(readOnlySection);">cancel</button>
                            </div>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-outline-danger" (click)="deleteStep(routine, stepIndex)">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

</div>

<div *ngIf="activeRoutine && activeStep">

    <h4>
        {{activeRoutine.name}}
        <button class="btn btn-primary btn-sm float-end" (click)="deactivate()">Deactivate</button>
    </h4>

    <div class="wrapper text-center">
        <div class="step-container">
            <div class="step">
                <a
                    target="_blank"
                    [href]="activeStep.url">{{activeStep.label}}
                </a>
            </div>
            <div class="step-url">
                <a
                    target="_blank"
                    [href]="activeStep.url">{{activeStep.url}}
                </a>
            </div>
            <div class="step-url">
                {{currentStepIndex + 1}} / {{activeRoutine.steps.length}}
            </div>
        </div>
        
    </div>

    <button class="btn btn-primary btn-sm" (click)="prevStep()" [disabled]="currentStepIndex === 0">Prev</button>
    <button class="btn btn-primary btn-sm float-end" (click)="nextStep()" [disabled]="currentStepIndex >= activeRoutine.steps.length - 1">Next</button>

</div>