@if (loading.stock === false && stock) {
    <div class="mt-2 mb-4">
        <div>
            @if (stock.profile) {
                <div>
                    <h3>{{ stock.profile.symbol }}: {{ stock.profile.description }}
                        <a class="float-end ms-3"
                           href="https://client.schwab.com/app/research/#/stocks/{{stock.ticker}}"
                           target="_blank">
                            <img src="/assets/images/schwab_logo_80x80_2x.avif" height="25px" alt="Charles Schwab logo"/>
                        </a>
                        <a class="float-end ms-3" href="https://finviz.com/quote.ashx?t={{stock.ticker}}"
                           target="_blank">
                            <img src="/assets/images/finviz.png" height="25px" alt="Finviz logo"/>
                        </a>
                        <span class="float-end ms-3">
            <app-trading-view-link [ticker]="stock.ticker"></app-trading-view-link>
          </span>
                    </h3>
                </div>
            }
        </div>
    </div>
}

<div class="tab-container mt-2">
    <a (click)="activateTab('stocks')" [ngClass]="{'is-active': isActive('stocks')}" [routerLink]="" class="tab">
        Stocks @if (currentPosition) {
        <span class="badge rounded-pill bg-info">{{ currentPosition.numberOfShares }}</span>
    }
    </a>
    <a (click)="activateTab('trade')" [ngClass]="{'is-active': isActive('trade')}" [routerLink]="" class="tab">
        Trade
    </a>
    <a (click)="activateTab('options')" [ngClass]="{'is-active': isActive('options')}" [routerLink]="" class="tab">
        Options @if (options && options.length > 0) {
        <span class="badge rounded-pill bg-info">{{ options.length }}</span>
    }
    </a>
    <a (click)="activateTab('analysis')" [ngClass]="{'is-active': isActive('analysis')}" [routerLink]="" class="tab">
        Analysis
    </a>
    <a (click)="activateTab('fundamentals')" [ngClass]="{'is-active': isActive('fundamentals')}" [routerLink]=""
       class="tab">
        Fundamentals
    </a>
    @if (stock) {
        <span class="float-end"><span class="text-muted">Price:</span> {{ stock.quote?.price | currency }}</span>
    }
</div>

@if (stock && isActive('trade')) {
    <app-stock-trading-new-position
        [isPendingPositionMode]="true"
        [presetTicker]="stock.ticker"
        (positionOpened)="loadOrders()"
        (pendingPositionCreated)="loadOrders()">
    </app-stock-trading-new-position>
    
    <!-- existing pending positions -->
    <section class="card shadow-sm mb-4" *ngIf="pendingPosition">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="card-title">
                    <app-stock-link-and-tradingview-link [ticker]="pendingPosition.ticker"
                                                         [openInNewTab]="true"></app-stock-link-and-tradingview-link>
                    <div class="d-flex align-items-center">
                        <div class="pr-3">
                            <span class="stat-label">Bid: </span> <span
                            class="fw-bold">{{ pendingPosition.bid | currency }}</span>
                        </div>
                        <div class="px-3 border-left">
                            <span class="stat-label">Shares: </span> <span
                            class="fw-bold">{{ pendingPosition.numberOfShares }}</span>
                        </div>
                        <div class="px-3 border-left">
                            <span class="stat-label">Created: </span><span
                            class="fw-bold">{{ pendingPosition.created | date }} ({{ pendingPosition.numberOfDaysActive }} days ago)</span>
                        </div>
                        <div class="px-3 border-left">
                            <span class="stat-label">Stop: </span> <span
                            class="fw-bold">{{ pendingPosition.stopPrice | currency }} ({{pendingPosition.stopLossAmount | currency}})</span>
                        </div>
                        <div class="pl-3 border-left">
                            <span class="stat-label">Strategy: </span><span
                            class="fw-bold">{{ pendingPosition.strategy }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <p class="card-text">
                {{ pendingPosition.notes }}
            </p>
        </div>
        <div class="card-footer no-border">
            <button class="btn btn-warning btn-sm" (click)="closePendingPosition(pendingPosition)">Close</button>
        </div>
    </section>


    <app-brokerage-new-order [ticker]="stock.ticker"></app-brokerage-new-order>

    <app-brokerage-orders
        [filteredTickers]="[stock.ticker]"
        [orders]="orders"
        [positionId]="currentPosition?.positionId">
    </app-brokerage-orders>

    <section class="card shadow-sm mb-4">
        <div class="card-body">
            <h3 class="card-title">
                <i class="bi bi-pencil-square me-2"></i>Manual Entry
            </h3>
            <app-stock-transaction
                [ticker]="stock.ticker"
                [position]="currentPosition">
            </app-stock-transaction>
        </div>
    </section>
}
@if (stock && stockOwnership && isActive('stocks')) {
    <app-stock-ownership
        [positions]=stockOwnership.positions
        [quote]="stock.quote"
        [positionChartInformation]="currentPositionChartInfo"
        (notesChanged)="notesChanged($event)">
    </app-stock-ownership>
}
@if (isActive('options')) {
    <app-stock-option [ticker]=stock.ticker [options]=options></app-stock-option>
}
@if (isActive('fundamentals')) {
    <app-stock-fundamentals [stock]=stock></app-stock-fundamentals>
}
@if (isActive('analysis') && stock) {
    <app-stock-analysis [ticker]=stock.ticker [prices]="prices" [startDate]="startDate" [endDate]="endDate"></app-stock-analysis>
}
