<div class="mt-3">
    @if (options) {
        <div>
            @for (option of options; track option) {
                <div class="card">
                    <div class="card-header">
                        <a [routerLink]="[ '/optiondetails', option.positionId ]">View Details</a>
                    </div>
                    <div class="card-body">
                        @for (contract of option.contracts; track contract) {
                            <div>
                                {{ contract.optionType }} {{ contract.strikePrice }} {{ contract.expiration }}
                                {{ contract.quantity }} contracts
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
    <div>
        See option chain for <a [routerLink]="[ '/options', 'spreadbuilder', ticker ]">{{ ticker }}</a>
    </div>
    @if (errors) {
        <app-error-display [errors]="errors"></app-error-display>
    }
    <h4 class="mt-4">Record option transactions</h4>
    <div>
        @if (success) {
            <div class="alert alert-success" role="alert">
                Successfully recorded the transaction
            </div>
        }
        <form>
            <div class="row">
                <div class="col">
                    <app-stock-search
                        (tickerSelected)="onTickerSelected($event)"
                        [ticker]="ticker"
                        cssClass="form-control"
                        label="Ticker">
                    </app-stock-search>
                </div>
                <div class="col">
                    <label for="strikePrice">Strike Price</label>
                    <input [(ngModel)]="strikePrice" class="form-control" id="strikePrice" name="strikePrice" step="0.01"
                           type="number">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <label for="expirationDate">Expiration</label>
                    <input [(ngModel)]="expirationDate" class="form-control" id="expirationDate" name="expirationDate"
                           type="date">
                </div>
                <div class="col">
                    <label for="optionType">Option Type &nbsp;&nbsp; </label>
                    <select [(ngModel)]="optionType" class="form-select btn border rounded" id="optionType"
                            name="optionType">
                        <option>CALL</option>
                        <option>PUT</option>
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <label for="numberOfContracts">Number of Contracts</label>
                    <input [(ngModel)]="numberOfContracts" class="form-control" id="numberOfContracts" name="numberOfContracts"
                           type="number">
                </div>
                <div class="col">
                    <label for="premium">Premium per Contract</label>
                    <input [(ngModel)]="premium" class="form-control" id="premium" name="premium" type="number">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <label for="positionType">Did you buy or sell? &nbsp;&nbsp; </label>
                    <select [(ngModel)]="positionType" class="form-select btn border rounded" id="positionType"
                            name="positionType">
                        <option value="buy">Bought</option>
                        <option value="sell">Sold</option>
                    </select>
                </div>
                <div class="col">
                    <label for="filled">Filled Date</label>
                    <input [(ngModel)]="filled" class="form-control" id="filled" name="filled" type="date">
                </div>
            </div>
            <div class="row mt-2">
                <label for="notes">Notes and your thoughts around this transaction</label>
                <textarea [(ngModel)]="notes" class="form-control" id="notes" name="notes" rows="5"></textarea>
            </div>
            <div class="mt-2">
                <button (click)="record()" class="btn btn-primary mb-2 me-2" type="submit">Record</button>
            </div>
        </form>
    </div>
</div>
