.stat-group {
    padding: 1rem;
    background-color: var(--bs-light);
    border-radius: 0.5rem;
    height: 100%;
}

.stat-label {
    font-size: 0.875rem;
    font-weight: 500;
}

.cursor-pointer {
    cursor: pointer;
}

.table th {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.875rem;
}

.table td .badge i {
    font-size: 0.75rem;
    margin-right: 0.25rem;
}

.table td .badge {
    font-size: 0.875rem;
    padding: 0.35rem 0.65rem;
}

.modal-backdrop {
    opacity: 0.5;
}
