<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th (click)="sort('strategyName')" class="sort-header">Strategy</th>
        <th (click)="sort('profit')" class="sort-header">P/L</th>
        <th (click)="sort('rrSum')" class="sort-header">R/R Sum</th>
        <th (click)="sort('winPct')" class="sort-header">Win %</th>
        <th (click)="sort('winAvgReturnPct')" class="sort-header">Avg Win %</th>
        <th (click)="sort('lossAvgReturnPct')" class="sort-header">Avg Loss %</th>
        <th (click)="sort('maxWinAmount')" class="sort-header">Max Win</th>
        <th (click)="sort('maxLossAmount')" class="sort-header">Max Loss</th>
        <th (click)="sort('ev')" class="sort-header">E/V</th>
        <th (click)="sort('profitRatio')" class="sort-header">Profit Ratio</th>
        <th (click)="sort('returnPctRatio')" class="sort-header">Pct Ratio</th>
        <th (click)="sort('rrRatio')" class="sort-header">R/R Ratio</th>
        <th (click)="sort('numberOfTrades')" class="sort-header">Trades</th>
    </tr>
    </thead>
    <tbody>
        @for (r of sortedResults; track r) {
            <tr>
                <td>{{ r.strategyName }}</td>
                <td>{{ r.performance.profit | currency }}</td>
                <td>{{ r.performance.rrSum | number:'1.0-2' }}</td>
                <td>{{ r.performance.winPct | percent:'1.2-2' }}</td>
                <td>{{ r.performance.winAvgReturnPct | percent:'1.2-2' }}</td>
                <td>{{ r.performance.lossAvgReturnPct | percent:'1.2-2' }}</td>
                <td>{{ r.performance.maxWinAmount | currency }}</td>
                <td>{{ r.performance.maxLossAmount | currency }}</td>
                <td>{{ r.performance.ev | currency }}</td>
                <td>{{ r.performance.profitRatio | number:'1.0-2' }}</td>
                <td>{{ r.performance.returnPctRatio | number:'1.0-2' }}</td>
                <td>{{ r.performance.rrRatio | number:'1.0-2' }}</td>
                <td>{{ r.performance.numberOfTrades }}</td>
            </tr>
        }
    </tbody>
</table>
