<div>
  <table class="table table-hover simulation-table mt-2"  *ngIf="simulations">
    <thead>
      <tr>
        <th>Strategy</th>
        <th>Profit</th>
        <th>Stop</th>
        <th>R/R</th>
        <th>% Gain</th>
        <th>Max Gain</th>
        <th>Max Drawdown</th>
        <th>
          <!-- <button (click)="toggleShowDetails()" class="btn btn-primary float-end btn-sm">Show Details</button> -->
          <div class="form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" (click)="toggleShowDetails()">
            <label class="form-check-label" for="flexSwitchCheckDefault"> &nbsp;&nbsp;&nbsp;&nbsp;Show Details</label>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let r of sortedResults()">
        <tr>
          <td class="text-muted">{{r.strategyName}}</td>
          <td [ngClass]="{'cell-negative': r.position.combinedProfit < 0, 'fw-bold': true}">{{r.position.combinedProfit | currency}}</td>
          <td>{{r.position.stopPrice | currency }}</td>
          <td>{{r.position.rr | number}}</td>
          <td>{{r.position.gainPct | percent}}</td>
          <td [ngClass]="{'cell-negative': r.maxGainPct < r.maxDrawdownPct * -1}">{{r.maxGainPct | percent:'1.0-2'}}</td>
          <td [ngClass]="{'cell-negative': r.maxGainPct < r.maxDrawdownPct * -1}">{{r.maxDrawdownPct | percent:'1.0-2'}}</td>
          <td>
            <span *ngIf="r.position.isClosed" class="badge bg-secondary rounded-pill">closed</span>
          </td>
        </tr>
        <!-- <tr>
          <td colspan="100%" class="border">
            <div class="badge" [ngClass]="{'bg-info': t.type === 'buy', 'bg-warning': t.type === 'sell'}" *ngFor="let t of r.position.transactions">
              {{t.date | date:'shortDate'}} {{t.type}} {{t.numberOfShares}} {{t.price | currency}}
            </div>
          </td>
        </tr> -->
        <tr *ngIf="showDetails">
          <td></td>
          <td colspan="7">
            <table class="table small">
              <tbody>
                <tr *ngFor="let e of r.position.events">
                  <td>{{e.date}}</td>
                  <td>{{e.type}}</td>
                  <td>{{e.value | currency}}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </ng-container>

    </tbody>
  </table>

</div>