<div class="mt-3">
  <b>{{title}}</b>
  <div class="row mb-2">
    <div class="col"><div class="stat-label">Wins</div><div>{{performance.wins}}</div></div>
    <div class="col"><div class="stat-label">Losses</div><div>{{performance.losses}}</div></div>
    <div class="col"><div class="stat-label">Win %</div><div>{{performance.winPct | percent:'1.2'}}</div></div>
    <div class="col"><div class="stat-label">R/R</div><div>{{performance.rrSum | number:'1.0-2'}}</div></div>
    <div class="col"><div class="stat-label">P/L</div><div>{{performance.profit | currency}}</div></div>
  </div>
  <div class="row mb-2">
    <div class="col"><div class="stat-label">Avg Win</div><div>{{performance.avgWinAmount | currency}}</div></div>
    <div class="col"><div class="stat-label">Max Win</div><div>{{performance.maxWinAmount | currency}}</div></div>
    <div class="col"><div class="stat-label">Avg % Return Wins</div><div>{{performance.winAvgReturnPct | percent:'1.0-2'}}</div></div>
    <div class="col"><div class="stat-label">Max % Return Wins</div><div>{{performance.winMaxReturnPct | percent:'1.0-2'}}</div></div>
    <div class="col"><div class="stat-label">Avg Win Days Held</div><div>{{performance.winAvgDaysHeld | number:'1.0-0'}}</div></div>
  </div>
  <div class="row mb-2">
    <div class="col"><div class="stat-label">Avg Loss</div><div>{{performance.avgLossAmount | currency}}</div></div>
    <div class="col"><div class="stat-label">Max Loss</div><div>{{performance.maxLossAmount | currency}}</div></div>
    <div class="col"><div class="stat-label">Avg % Return Losses</div><div>{{performance.lossAvgReturnPct | percent:'1.0-0'}}</div></div>
    <div class="col"><div class="stat-label">Max % Return Losses</div><div>{{performance.lossMaxReturnPct | percent:'1.0-0'}}</div></div>
    <div class="col"><div class="stat-label">Avg Loss Days Held</div><div>{{performance.lossAvgDaysHeld | number:'1.0-0'}}</div></div>
  </div>
  <div class="row mb-2">
    <div class="col"><div class="stat-label">Expected Value</div><div>{{performance.ev | currency}}</div></div>
    <div class="col"><div class="stat-label">$ Ratio</div><div>{{performance.profitRatio | number:'1.0-2'}}</div></div>
    <div class="col"><div class="stat-label">% Ratio</div><div>{{performance.returnPctRatio | number:'1.0-2'}}</div></div>
    <div class="col"><div class="stat-label">R/R Ratio</div><div>{{performance.rrRatio | number:'1.0-2'}}</div></div>
    <div class="col"><div class="stat-label">Avg Return</div><div>{{performance.avgReturnPct | percent:'1.0-0'}}</div> </div>
  </div>
  <div class="row mb-2">
    @for (labelFrequency of performance.gradeDistribution; track labelFrequency) {
      <div class="col">
        <div class="stat-label"># of {{labelFrequency.label}} trades</div>
        <div>{{labelFrequency.frequency}}</div>
      </div>
    }
    <div class="col"></div>
    <div class="col"><div class="stat-label">Invested</div><div>{{performance.totalCost | currency }}</div></div>
  </div>
</div>
