<div class="mt-2">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/options">Options</a></li>
                <li class="breadcrumb-item active" aria-current="page" *ngIf="position">{{ position.underlyingTicker }}</li>
            </ol>
        </nav>
        <app-error-display *ngIf="errors" [errors]="errors"></app-error-display>
        <app-option-position [position]="position" [orders]="orders"></app-option-position>
    </div>
</div>
