<div>
    @if (errors.allBars) {
        <app-error-display [errors]="errors.allBars"></app-error-display>
    }
    @if (loading.allBars) {
        <app-loading></app-loading>
    }
    @if (allBarsReport) {
        <app-outcomes
            [title]="'Multiple bar outcomes'"
            [tickerFilter]="tickerFilter"
            [failures]="allBarsReport.failed"
            [outcomes]="allBarsReport.outcomes">
        </app-outcomes>
    }
    
    @if (errors.open) {
        <app-error-display [errors]="errors.open"></app-error-display>
    }
    @if (loading.open) {
        <app-loading></app-loading>
    }
    @if (openSimulationNotices) {
        <section class="container">
            <div class="row mt-4">
                <div class="col-12">
                    @for(group of openSimulationKeys; track group) {
                        <div class="card mb-4">
                            <div class="card-header bg-success text-white d-flex justify-content-between align-items-center">
                                <app-stock-link-and-tradingview-link ticker="{{group}}" [openInNewTab]="true"></app-stock-link-and-tradingview-link>
                                <button class="btn btn-sm btn-light" (click)="toggleNotices(group)">
                                    {{ isExpanded(group) ? 'Collapse' : 'Expand' }} Notices
                                </button>
                            </div>
                            <div [ngClass]="{'collapse': !isExpanded(group)}">
                                <ul class="list-group list-group-flush">
                                    @for(notice of openSimulationNotices[group]; track notice) {
                                        <li class="list-group-item">{{ notice }}</li>
                                    }
                                </ul>
                            </div>
                            @if(!isExpanded(group)) {
                                <div class="card-footer text-muted">
                                    {{ openSimulationNotices[group].length }} notices
                                </div>
                            }
                        </div>
                    } @empty {
                        <div class="alert alert-info" role="alert">
                            No open position simulation notices
                        </div>
                    }
                </div>
            </div>
        </section>

    }

    @if (allBarsReport || positionsReport || singleBarReportDaily || singleBarReportWeekly) {
        <div class="mb-3 mt-3">
            <label for="tickerFilter" class="form-label">Highlight Ticker</label>
            <select #tickerSelect id="tickerFilter" name="tickerFilter" class="form-select" aria-label="Ticker filter"
                    (change)="onTickerChange(tickerSelect.value)">
                <option value="all">All</option>
                @for (t of tickers; track t) {
                    <option [value]="t">{{ t }}</option>
                }
            </select>
        </div>
    }

    @if (errors.positions) {
        <app-error-display [errors]="errors.positions"></app-error-display>
    }
    @if (loading.positions) {
        <app-loading></app-loading>
    }
    @if (positionsReport) {
        <app-outcomes-analysis-report
            [title]="'Position report'"
            [report]="positionsReport"
            [tickerFilter]="tickerFilter"
            [showSummary]="false">
        </app-outcomes-analysis-report>
    }
    @if (positionsReport) {
        <app-outcomes
            [title]="'Positions outcomes'"
            [tickerFilter]="tickerFilter"
            [failures]="positionsReport.failed"
            [outcomes]="positionsReport.outcomes"
            [isTableVisible]="false">
        </app-outcomes>
    }

    @if (errors.daily) {
        <app-error-display [errors]="errors.daily"></app-error-display>
    }
    @if (loading.daily) {
        <app-loading></app-loading>
    }
    @if (singleBarReportDaily) {
        <app-outcomes-analysis-report
            [title]="'Daily report'"
            [tickerFilter]="tickerFilter"
            [report]="singleBarReportDaily"
            [showSummary]="true">
        </app-outcomes-analysis-report>
    }
    @if (singleBarReportDaily) {
        <app-outcomes
            [title]="'Daily outcomes'"
            [tickerFilter]="tickerFilter"
            [failures]="singleBarReportDaily.failed"
            [outcomes]="singleBarReportDaily.outcomes"
            [isTableVisible]="false">
        </app-outcomes>
    }

    @if (errors.weekly) {
        <app-error-display [errors]="errors.weekly"></app-error-display>
    }
    @if (loading.weekly) {
        <app-loading></app-loading>
    }
    @if (singleBarReportWeekly) {
        <app-outcomes-analysis-report
            [title]="'Weekly report'"
            [report]="singleBarReportWeekly"
            [tickerFilter]="tickerFilter"
            [showSummary]="true">
        </app-outcomes-analysis-report>
    }
    @if (singleBarReportWeekly) {
        <app-outcomes
            [title]="'Weekly outcomes'"
            [tickerFilter]="tickerFilter"
            [failures]="singleBarReportWeekly.failed"
            [outcomes]="singleBarReportWeekly.outcomes"
            [isTableVisible]="false">
        </app-outcomes>
    }

    @for (gap of gaps; track gap) {
        <h5>Gaps for {{ gap.ticker }}</h5>
        <app-gaps [gaps]="gap"></app-gaps>
    }
    
    @if (errors.correlation) {
        <app-error-display [errors]="errors.correlation"></app-error-display>
    }
    @if (loading.correlation) {
        <app-loading></app-loading>
    }
    @if (correlationReport) {
        <app-correlations [correlations]="correlationReport" [days]="daysForCorrelations"></app-correlations>
    }
</div>
