.position-price {
    font-size: larger;
    padding-left: 10px;
}

.position-gain {
    font-size: larger;
    font-weight: bold;
}

.position-ticker {
    font-size: larger;
    font-weight: bold;
}