<div *ngIf="analysis">
    <table class="table table-striped table-hover border">
        <tbody>
            <tr>
                <td>Price</td>
                <td>{{analysis.price | currency}}</td>
            </tr>
            <tr>
                <td>High</td>
                <td>
                    {{analysis.high.close | currency}} on {{ analysis.high.date | date }}
                    <span class="ms-3">
                        <span [ngClass]="{'text-success': priceDiffFromHigh() <= 0.1}">
                            {{priceDiffFromHigh() | percent}}
                        </span>
                    </span>
                </td>
            </tr>
            <tr>
                <td>Low</td>
                <td>
                    {{analysis.low.close | currency}} on {{ analysis.low.date | date }}
                    <span class="ms-3">
                        <span [ngClass]="{'text-danger': priceDiffFromLow() >= -0.1}">
                            {{priceDiffFromLow() | percent}}
                        </span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-hover border">
        <tbody>
            <tr *ngFor="let o of analysis.outcomes">
                <td>
                    <span
                        class="badge"
                        [ngClass]="{'bg-success': o.type === 'Positive', 'bg-danger': o.type === 'Negative', 'bg-secondary': o.type === 'Neutral'}">
                        
                        &nbsp;
                    </span>
                </td>
                <td>{{o.key}}</td>
                <td>{{o.value}}</td>
                <td>{{o.type}}</td>
                <td>{{o.message}}</td>
            </tr>
        </tbody>
    </table>
</div>

