<div>
    <section>
        <h5>Record trades for {{ ticker }}</h5>

        <form>
            <div class="row">
                <div class="col-md-3">
                    <label for="positionType">Did you buy or sell? &nbsp;&nbsp; </label>
                    <select [(ngModel)]="positionType" class="form-select btn border rounded" id="positionType"
                            name="positionType">
                        <option value="buy">Bought</option>
                        <option value="sell">Sold</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label for="numberOfShares">Number of Shares</label>
                    <input [(ngModel)]="numberOfShares" class="form-control" id="numberOfShares" name="numberOfShares"
                           type="number">
                </div>

                <div class="col-md-3">
                    <label for="pricePerShare">Price per Share</label>
                    <input [(ngModel)]="pricePerShare" class="form-control" id="pricePerShare" name="pricePerShare" step="0.01"
                           type="number">
                </div>

                <div class="col-md-3">
                    <label for="filled">Filled</label>
                    <input [(ngModel)]="filled" class="form-control" id="filled" name="filled" type="date">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <label for="notes">Notes and your thoughts around this transaction</label>
                    <textarea [(ngModel)]="notes" class="form-control" id="notes" name="notes" rows="3"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button (click)="record()" class="btn btn-primary mb-1 me-2" type="button">Record</button>
                </div>
            </div>
        </form>
    </section>

</div>
