<div class="mt-2">

  <app-error-display *ngIf="errors" [errors]="errors"></app-error-display>

  <app-stock-transaction [ticker]="stock.ticker" (transactionRecorded)="transactionRecorded($event)" ></app-stock-transaction>

  <app-brokerage-neworder *ngIf="stock" (brokerageOrderEntered)="brokerageOrderEntered()"></app-brokerage-neworder>

  <app-brokerage-orders *ngIf="stock" [ticker]="stock.ticker"></app-brokerage-orders>

  <section *ngFor="let position of positions">
    <h5>
      Position {{position.opened | date:'shortDate' }}
      <span *ngIf="position.closed" class="float-end">
        closed {{position.closed | date:'shortDate' }} for profit of {{position.profit | currency}}
      </span>
    </h5>
    <app-stock-trading-position [position]="position"></app-stock-trading-position>  
  </section>

  <div class="card border-danger mb-3">
    <div class="card-header">
      <h5 class="card-title">Delete this stock from your portfolio</h5>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-secondary mb-1 me-2" (click)="delete()">Delete</button>
    </div>
  </div>

</div>

