<div *ngIf="analysis">
    <table class="table table-striped table-hover border">
        <tbody>
            <tr>
                <td>Price</td>
                <td>{{analysis.price | currency}}</td>
            </tr>
            <tr>
                <td>Positive / Negative</td>
                <td [ngClass]="{'text-danger': positiveCount() < negativeCount(), 'text-success': positiveCount() > negativeCount()}">
                    {{ positiveCount() }} / {{ negativeCount() }}
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-hover border">
        <tbody>
            <tr *ngFor="let o of analysis.outcomes">
                <td>
                    <span
                        class="badge"
                        [ngClass]="{'bg-success': o.type === 'Positive', 'bg-danger': o.type === 'Negative', 'bg-secondary': o.type === 'Neutral'}">
                        
                        &nbsp;
                    </span>
                </td>
                <td>{{o.key}}</td>
                <td>{{o.value}}</td>
                <td>{{o.type}}</td>
                <td>{{o.message}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-hover border mt-3">
        <tbody>
            <tr *ngFor="let p of analysis.historicalPrices.prices">
                <td>{{p.date | date}}</td>
                <td>{{p.close | currency}}</td>
                <td>{{p.volume | number}}</td>
            </tr>
        </tbody>
    </table>
</div>

