<div *ngIf="loaded" class="mt-2 mb-4">

  <div>
    <div>
      <h3>{{profile.symbol}}: {{profile.companyName}}
      <a href="https://invest.ameritrade.com/grid/p/site#r=jPage/https://research.ameritrade.com/grid/wwws/research/stocks/summary?symbol={{stock.ticker}}&c_name=invest_VENDOR" class="float-right ml-3" target="_blank">
        <img src="td-logo-vector.svg" height="25px" />
      </a>
      </h3>

    </div>
    <div>
      <div id="company-description">
        <a [routerLink]="[ '/stocks' ]" class="h6">Back to stocks</a>
      </div>
    </div>
  </div>

  <div class="tab-container mt-2">
    <a class="tab" [ngClass]="{'is-active': isActive('fundamentals')}" [routerLink]="" (click)="activateTab('fundamentals')">
      Fundamentals
    </a>
    <a class="tab" [ngClass]="{'is-active': isActive('stocks')}" [routerLink]="" (click)="activateTab('stocks')">
      Shares <span *ngIf="ownership && ownership.owned > 0" class="badge badge-pill badge-info">{{ownership.owned}}</span>
    </a>
    <a class="tab" [ngClass]="{'is-active': isActive('options')}" [routerLink]="" (click)="activateTab('options')">
      Options <span *ngIf="options && options.length > 0" class="badge badge-pill badge-info">{{options.length}}</span>
    </a>
    <a class="tab" [ngClass]="{'is-active': isActive('alerts')}" [routerLink]="" (click)="activateTab('alerts')">
      Alerts <span *ngIf="alerts && alerts.points.length > 0" class="badge badge-pill badge-info">{{alerts.points.length}}</span>
    </a>
    <a class="tab" [ngClass]="{'is-active': isActive('notes')}" [routerLink]="" (click)="activateTab('notes')">
      Notes <span *ngIf="notes && notes.notes.length > 0" class="badge badge-pill badge-info">{{notes.notes.length}}</span>
    </a>
    <a class="tab" [ngClass]="{'is-active': isActive('settings')}" [routerLink]="" (click)="activateTab('settings')">
      Misc
    </a>

  </div>

  <stock-fundamentals *ngIf="isActive('fundamentals')" [stock]=stock></stock-fundamentals>

  <stock-ownership *ngIf="isActive('stocks')"
    [ticker]=stock.ticker [stock]=ownership
    (ownershipChanged)="stockOwnershipChanged($event)"></stock-ownership>

  <stock-option *ngIf="isActive('options')"
    [ticker]=stock.ticker [options]=options
    (ownershipChanged)="optionOwnershipChanged($event)"></stock-option>

  <stock-alerts *ngIf="isActive('alerts')"
    [alerts]=alerts [ticker]=stock.ticker
    [stock]=stock
    [ownership]=ownership
    (alertsChanged)="alertsChanged($event)"></stock-alerts>

  <stock-notes *ngIf="isActive('notes')" [notes]=notes [ticker]=stock.ticker></stock-notes>

  <stock-settings *ngIf="isActive('settings')"
    [stock]=stock
    [ownership]=ownership >
  </stock-settings>

</div>

<div *ngIf="!loaded">
	Fetching stock information...
</div>
