<div *ngIf="loaded" class="mt-2 mb-4">

  <div>
    <div *ngIf="profile">
      <h3>{{profile.symbol}}: {{profile.description}}
        <a class="float-end ms-3" href="https://invest.ameritrade.com/grid/p/site#r=jPage/https://research.ameritrade.com/grid/wwws/research/stocks/summary?symbol={{stock.ticker}}&c_name=invest_VENDOR" target="_blank">
          <img src="td-logo-vector.svg" height="25px" />
        </a>
        <a class="float-end ms-3" href="https://finviz.com/quote.ashx?t={{stock.ticker}}" target="_blank">
          <img src="finviz.png" height="25px" />
        </a>
        <span class="float-end ms-3">
          <app-trading-view-link [ticker]="stock.ticker"></app-trading-view-link>
        </span>
      </h3>
    </div>
  </div>

  <div class="tab-container mt-2">
    <a class="tab" [ngClass]="{'is-active': isActive('stocks')}" [routerLink]="" (click)="activateTab('stocks')">
      Shares <span *ngIf="ownership && ownership.currentPosition" class="badge rounded-pill bg-info">{{ownership.currentPosition.numberOfShares}}</span>
    </a>
    <a class="tab" [ngClass]="{'is-active': isActive('options')}" [routerLink]="" (click)="activateTab('options')">
      Options <span *ngIf="options && options.length > 0" class="badge rounded-pill bg-info">{{options.length}}</span>
    </a>
    <a class="tab" [ngClass]="{'is-active': isActive('trade')}" [routerLink]="" (click)="activateTab('trade')">
      Trade <span *ngIf="options && options.length > 0" class="badge rounded-pill bg-info">{{options.length}}</span>
    </a>
    <a class="tab" [ngClass]="{'is-active': isActive('analysis')}" [routerLink]="" (click)="activateTab('analysis')">
      Analysis
    </a>
    <a class="tab" [ngClass]="{'is-active': isActive('fundamentals')}" [routerLink]="" (click)="activateTab('fundamentals')">
      Fundamentals
    </a>
    <a class="tab" [ngClass]="{'is-active': isActive('notes')}" [routerLink]="" (click)="activateTab('notes')">
      Notes <span *ngIf="notes && notes.notes.length > 0" class="badge rounded-pill bg-info">{{notes.notes.length}}</span>
    </a>
    <span class="float-end">
      <span class="text-muted">Price:</span> {{stock.price | currency}}
    </span>

  </div>

  <app-stock-ownership *ngIf="isActive('stocks')"
    [stock]=stock [ownership]=ownership
    (ownershipChanged)="stockOwnershipChanged($event)"></app-stock-ownership>

  <stock-option *ngIf="isActive('options')"
    [ticker]=stock.ticker [options]=options
    (ownershipChanged)="optionOwnershipChanged($event)"></stock-option>

  <app-stock-fundamentals *ngIf="isActive('fundamentals')" [stock]=stock></app-stock-fundamentals>

  <stock-notes *ngIf="isActive('notes')" [notes]=notes [ticker]=stock.ticker></stock-notes>

  <app-stock-analysis *ngIf="isActive('analysis')" [ticker]=stock.ticker></app-stock-analysis>

  <app-stock-trading-newposition *ngIf="isActive('trade')" [isPendingPositionMode]="true" [presetTicker]="stock.ticker" ></app-stock-trading-newposition>

</div>

<div *ngIf="!loaded">
	Fetching stock information...
</div>
