<div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Filing</th>
        <th>Date</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      @for (f of filings; track f) {
        <tr>
          <td>
            <a [href]="f.documentsUrl" target="_blank">{{ f.filing }}</a>
            @if (f.isNew) {
              <span class="badge bg-success text-warning ms-1">New</span>
            }
          </td>
          <td>{{ f.filingDate | date:'shortDate' }}</td>
          <td [innerHTML]="f.description"></td>
        </tr>
      }
    </tbody>
  </table>
</div>
