<div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col"><a class="btn btn-link me-1" href="/api/stocks/export/open">Export</a></div>
        <div class="col"><button class="btn btn-link me-1" (click)="toggleRenderStyle()">{{renderStyleName}}</button></div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <label for="strategyToFilter" class="text-end col-sm-2 col-form-label col-form-label-sm">Strategy</label>
        <div class="col-sm-10">
          <select class="form-select" name="strategyToFilter" id="strategyToFilter" (change)="strategyToFilterChanged($event.target)">
            <option *ngFor="let so of strategies" value="{{so.key}}" [selected]="so.key === strategyToFilter">{{so.value}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <label for="metricToRender" class="text-end col-sm-2 col-form-label col-form-label-sm">Sort by</label>
        <div class="col-sm-10">
          <select class="form-select" name="metricToRender" id="metricToRender" (change)="metricChanged($event.target)">
            <option *ngFor="let so of sortOptions" value="{{so.value}}">{{so.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="renderStyle === 'card'">
    <div class="card border-info mt-4" *ngFor="let position of sortedPositions;">  
      <div class="card-body" *ngIf="position">
        <div class="card-title">
          <div class="container">
            <div class="row">
              <div class="col">
                <app-stock-link class="position-ticker" [ticker]="position.ticker"></app-stock-link>
                <span class="position-price">{{position.price | currency}}</span>
                <i
                  (click)="toggleVisibility(detailDiv);"
                  class="bi bi-info-square-fill ms-2"></i>
              </div>
              <div class="col text-center">
              </div>
              <div class="col">
                <span class="position-gain float-end">{{ getMetricToRender(position) }}</span>
              </div>
            </div>  
          </div>
        </div>
        <div class="card-text" class="visually-hidden" #detailDiv>
          <app-stock-trading-position [position]="position" [orders]="orders" ></app-stock-trading-position>
        </div>      
      </div>
    </div>
  </div>

  <div *ngIf="renderStyle === 'table'">
    <table class="table table-hover striped">
      <thead>
        <tr>
          <th>Ticker</th>
          <th>Price</th>
          <th>Cost/Share</th>
          <th>Stop</th>
          <th>Cost</th>
          <th>Shares</th>
          <th>P/L (u)</th>
          <th>% Gain (u)</th>
          <th>R/R (u)</th>
          <th>P/L</th>
          <th>Risked</th>
          <th>R/R</th>
          <th>Opened</th>
          <th>Last tx Age</th>
          <th>% to stop</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let position of sortedPositions">
          <td>
            <app-trading-view-link [ticker]="position.ticker"></app-trading-view-link>
            <app-stock-link [ticker]="position.ticker"></app-stock-link>
          </td>
          <td>{{position.price | currency}}</td>
          <td>{{position.averageCostPerShare | currency}}</td>
          <td>{{position.stopPrice | currency}}</td>
          <td>{{position.cost | currency}}</td>
          <td>{{position.numberOfShares}}</td>
          <td>{{position.unrealizedProfit| currency}}</td>
          <td>{{position.unrealizedGainPct | percent}}</td>
          <td>{{position.unrealizedRR  | number}}</td>
          <td>{{position.combinedProfit | currency}}</td>
          <td>{{position.riskedAmount | currency}}</td>
          <td>{{position.rr | number}}</td>
          <td>{{position.opened | date}}</td>
          <td>{{position.daysSinceLastTransaction}}</td>
          <td>{{position.percentToStop | percent}}</td>
        </tr>
      </tbody>
    </table>

  </div>
  

</div>