<div class="card border-info">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <app-symbol-search
              label="Ticker"
              placeholder="New position symbol"
              (tickerSelected)="onBuyTickerSelected($event)"
              cssClass="form-control">
          </app-symbol-search>
      </div>
      <div class="col">
        <label for="positionSize" class="form-label">Position Size</label>
        <input
          type="number"
          class="form-control"
          id="positionSize"
          [(ngModel)]="positionSize"
          (ngModelChange)="updateBuyingValuesWithPositionSize()">
      </div>
    </div>
    <div class="row" *ngIf="costToBuy">
      <div class="col">
        <label for="costToBuy" class="form-label">Price</label>
        <input
          type="number"
          id="costToBuy"
          class="form-control"
          [(ngModel)]="costToBuy"
          (ngModelChange)="updateBuyingValues()"
        />
      </div>
      <div class="col">
        <label for="stocksToBuy" class="form-label">Shares #</label>
        <input
          type="number"
          id="stocksToBuy"
          class="form-control"
          [(ngModel)]="stocksToBuy"
          (ngModelChange)="updateBuyingValuesWithNumberOfShares()"
        />
      </div>
      <div class="col">
        <label for="stopPrice" class="form-label">Stop Price</label>
        <input
          type="number"
          id="stopPrice"
          class="form-control"
          [(ngModel)]="stopPrice"
          (ngModelChange)="updateBuyingValues()"
        />
      </div>
      <div class="col">
        <div>Postion Size: {{ positionSizeAdjusted | currency }}</div>
        <div>Exit Price: {{ exitPrice | currency }}</div>
      </div>
      <div class="col d-flex" >
        <button class="btn btn-primary align-self-end w-100" (click)="buy()">Buy</button>
      </div>
    </div>
    <div class="row mt-2" *ngIf="prices">
      <div class="col">
        <stock-trading-chart
          [prices]="prices"
          [horizontalLines]="stopAndExitPoints"
          [maxPrice]="exitPrice"></stock-trading-chart>
      </div>
    </div>
  </div>
</div>