<section>
    @if (errors) {
        <app-error-display [errors]="errors"></app-error-display>
    }
    <div>
        @if (this.loading.positions || this.loading.orders) {
            <app-loading></app-loading>
        } @else {
            <div class="d-flex justify-content-end">
                <a class="btn btn-outline-secondary btn-sm" href="{{getPendingPositionExportUrl()}}">Export</a>
            </div>

            <h2>Pending Positions ({{ positions.length }})</h2>
            @for (position of positions; track position) {
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div class="card-title">
                                <app-stock-link-and-tradingview-link [ticker]="position.ticker"
                                                                     [openInNewTab]="true"></app-stock-link-and-tradingview-link>
                                <div class="d-flex align-items-center">
                                    <div class="pr-3">
                                        <span class="stat-label">Bid: </span> <span
                                        class="fw-bold">{{ position.bid | currency }}</span>
                                    </div>
                                    <div class="px-3 border-left">
                                        <span class="stat-label">Current Price: </span> <span
                                        class="fw-bold">{{ position.price }}
                                        ({{ position.percentDiffBetweenBidAndPrice | percent:'1.2-2' }})</span>
                                    </div>
                                    <div class="px-3 border-left">
                                        <span class="stat-label">Shares: </span> <span
                                        class="fw-bold">{{ position.numberOfShares }}</span>
                                    </div>
                                    <div class="px-3 border-left">
                                        <span class="stat-label">Created: </span><span
                                        class="fw-bold">{{ position.created | date }} ({{ position.numberOfDaysActive }} days ago)</span>
                                    </div>
                                    <div class="px-3 border-left">
                                        <span class="stat-label">Stop: </span> <span
                                        class="fw-bold">{{ position.stopPrice | currency }} ({{position.stopLossAmount | currency}})</span>
                                    </div>
                                    <div class="pl-3 border-left">
                                        <span class="stat-label">Strategy: </span><span
                                        class="fw-bold">{{ position.strategy }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="card-text">
                            {{ position.notes }}
                        </p>
                        <div class="mt-4">
                            <app-brokerage-orders [filteredTickers]="[position.ticker]" [justOrders]="true"
                                                  [orders]="orders"></app-brokerage-orders>
                        </div>
                    </div>
                    <div class="card-footer no-border">
                        <button class="btn btn-warning btn-sm" (click)="showCloseModel(position)">Close</button>
                    </div>
                </div>
            }
        }
    </div>

    <!-- Add the modal HTML -->
    <div class="modal" tabindex="-1" role="dialog" [style.display]="closingPosition ? 'block' : 'none'">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="border-bottom: none">Confirm Position Close</h5>
                    <button type="button" class="btn-close" (click)="closeCloseModal()">
                    </button>
                </div>
                <div class="modal-body">
                    <app-error-display [errors]="closeErrors"></app-error-display>
                    <p>Are you sure you want to close this position?</p>
                    <div class="mb-3">
                        <label for="closeReasonInput" class="form-label">Reason for Closing:</label>
                        <textarea class="form-control" id="closeReasonInput" rows="3" [(ngModel)]="closeReason"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeCloseModal()">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="closeButton.disabled = true; confirmClosePosition()" #closeButton>Close Position</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Add the modal backdrop -->
    <div class="modal-backdrop fade show" [style.display]="closingPosition ? 'block' : 'none'"></div>

</section>

