<div>
    <div>
        @for (position of positions; track position.ticker) {
            <div class="card border-info mt-4">
                <div class="card-body">
                    <div class="card-title">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <app-stock-link class="position-ticker" [ticker]="position.ticker"></app-stock-link>
                                    <span class="position-price">{{ getPrice(position) | currency }}</span>
                                    <i
                                        (click)="toggleVisibility(detailDiv); toggleVisibility(positionNotesDiv)"
                                        class="bi bi-info-square-fill ms-2" role="button"></i>
                                </div>
                                <div class="col text-center">
                                </div>
                                <div class="col">
                                    <span class="position-gain float-end">{{ getMetricToRender(metricFunc(position)) }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-text" #positionNotesDiv>
                        <div #notesContainer>
                            <table class="table table-striped table-sm">
                                <tbody>
                                    @for (note of position.notes; track note) {
                                        <tr>
                                            <td style="width: 120px;">{{ note.created | date }}</td>
                                            <td style="white-space: pre-wrap;">{{ note.content }}</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-text visually-hidden" #detailDiv>
                        <app-stock-trading-position [position]="position" [orders]="orders" [quote]="getQuote(position)"
                                                    (brokerageOrdersChanged)="brokerageOrdersChanged.emit($event)"></app-stock-trading-position>
                    </div>
                </div>
            </div>
        } @empty {
            <div class="alert alert-secondary mt-4" role="alert">
                No open positions
            </div>
        }
    </div>

</div>
