Pending orders

<table *ngIf="pending" class="table">
  <thead>
    <tr>
      <th width="100"></th>
      <th>Stock</th>
      <th>Type</th>
      <th>Quantity</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of pending; let i = index">
      <td>{{p.orderId}}</td>
      <td><a [routerLink]="[ '/stocks', p.ticker ]">{{p.ticker}}</a></td>
      <td>{{p.type }}</td>
      <td>{{p.quantity}}</td>
      <td>{{p.price | currency}}</td>
      <td><button class="btn btn-warning" (click)="cancelOrder(p.orderId)">Cancel</button></td>
    </tr>
  </tbody>
</table>
