.point-label {
    font-weight: bold;
}

.position-price {
    font-weight: lighter;
    padding-left: 10px;
}

.filterLabel {
    font-size: smaller
}

.bg-primary-light {
    background-color: #72a8e1;
}