<div *ngIf="!loaded">
  Loading short term holdings...
  <div class="spinner-border text-info spinner-border-sm" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="loaded">
  
  <div class="card mb-2 mt-2">
    <div class="card-header">
      <div class="mb-2 font-weight-bold">Trading Parameters</div>

      <div class="border-info mb-2 mt-4">
        <div class="row">
          <div class="col">
            <label for="stopLoss" class="filterLabel">Stop Loss</label><input type="number" id="stopLoss" class="form-control form-control-sm" [(ngModel)]="stopLoss" />
          </div>
          <div class="col">
            <label for="firstTarget" class="filterLabel">First Target</label><input type="number" class="form-control form-control-sm" [(ngModel)]="firstTarget" id="firstTarget" name="firstTarget" />
          </div>
          <div class="col">
            <label for="rrTarget" class="filterLabel">R:R Target</label><input type="number" class="form-control form-control-sm" [(ngModel)]="rrTarget" id="rrTarget" name="rrTarget" />
          </div>
        </div>
      </div>
    
    </div>
  </div>

  <div class="tab-container mt-2" *ngIf="loaded">
    <a class="tab" [ngClass]="{'is-active': isActive('positions')}" [routerLink]="" (click)="activateTab('positions')">
      Current Positions
    </a>
    <a class="tab" [ngClass]="{'is-active': isActive('newposition')}" [routerLink]="" (click)="activateTab('newposition')">
      New Position
    </a>
    <a class="tab" [ngClass]="{'is-active': isActive('pending')}" [routerLink]="" (click)="activateTab('pending')">
      Pending Orders
    </a>
    <a class="tab" [ngClass]="{'is-active': isActive('past')}" [routerLink]="" (click)="activateTab('past')">
      Past Positions
    </a>
    <a class="tab" [ngClass]="{'is-active': isActive('performancerecent')}" [routerLink]="" (click)="activateTab('performancerecent')">
      Performance (Recent)
    </a>
    <a class="tab" [ngClass]="{'is-active': isActive('performance')}" [routerLink]="" (click)="activateTab('performance')">
      Performance
    </a>
    <a class="tab" [ngClass]="{'is-active': isActive('review')}" [routerLink]="" (click)="activateTab('review')">
      Review
    </a>
  </div>
  

  <stock-trading-newposition  *ngIf="isActive('newposition')" [stopLoss]=stopLoss [firstTarget]=firstTarget [rrTarget]=rrTarget (stockPurchased)="stockPurchased()"></stock-trading-newposition>
  <stock-trading-positions    *ngIf="isActive('positions')" [positions]=positions [stopLoss]=stopLoss [firstTarget]=firstTarget [rrTarget]=rrTarget></stock-trading-positions>
  <stock-past                 *ngIf="isActive('past')" [past]=past></stock-past>
  <stock-trading-performance  *ngIf="isActive('performancerecent')" [performance]=performance.recent></stock-trading-performance>
  <stock-trading-performance  *ngIf="isActive('performance')" [performance]=performance.overall></stock-trading-performance>
  <stock-trading-review       *ngIf="isActive('review')" [positions]=past></stock-trading-review>
  <stock-trading-pending      *ngIf="isActive('pending')" [pending]=pending></stock-trading-pending>

</div>
