<div tabindex="0">
    
  <div class="container">
    <div class="row">
      <div class="col"><button (click)="previous()" class="btn btn-primary">Previous</button></div>
      <div class="col text-center">
        <select class="form-select"  (change)="dropdownClick($event.target)">
          <option
            *ngFor="let position of positions; let i = index;"
            [value]="i"
            [selected]="position.ticker === currentPosition.ticker">
            {{position.ticker}}
          </option>
        </select>
      </div>
      <div class="col">
        <span class="text-muted">Price: </span>{{currentPosition.price | currency}}
      </div>
      <div class="col">
        <span class="text-muted">Stop: </span>{{currentPosition.stopPrice | currency}}
      </div>
      <div class="col">
        <span class="text-muted">Cost/Share: </span>{{currentPosition.averageBuyCostPerShare | currency}}
      </div>
      <div class="col"><button (click)="next()" class="btn btn-primary float-end">Next</button></div>
    </div>
  </div>

  <section>
    <h5>Actual vs Trading Strategies</h5>
    <app-trading-actual-vs-simulated [simulations]="simulationResults"></app-trading-actual-vs-simulated>
  </section>
  
  <section>
    <h5>Position Information</h5>
    <app-stock-trading-position [position]="currentPosition" [orders]="orders"></app-stock-trading-position>
  </section>
  
  <section>
    <h5>Stock chart</h5>
    
    <app-candlestickchart [prices]="prices"
      [averageBuyPrice]="currentPosition.averageBuyCostPerShare"
      [stopPrice]="currentPosition.stopPrice">
    </app-candlestickchart>
  </section>

  <section *ngIf="dailyScores">
    <h5>Daily Gain %</h5>
    <app-daily-outcome-scores [setDailyScores]="dailyScores.dailyGainPct" [chartType]="'line'"></app-daily-outcome-scores>
    
    <h5>Daily P/L</h5>
    <app-daily-outcome-scores [setDailyScores]="dailyScores.dailyProfit" [chartType]="'line'"></app-daily-outcome-scores>
  </section>

</div>