@if (_position) {
    <div class="mb-3">
        <div class="row">
            <div class="col-md-3">
                <div class="stat-label">Cost/Share</div>
                <div>{{ _position.averageCostPerShare | currency }}</div>
            </div>
            <div class="col-md-3">
                <div class="stat-label">Number of Shares</div>
                <div>
                    @if (_position.isClosed) {
                        {{ _position.completedPositionShares }}
                    } @else {
                        {{ _position.numberOfShares }} / {{ _position.completedPositionShares }}
                    }
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat-label">Cost</div>
                <div>{{ _position.cost | currency }}</div>
            </div>
            <div class="col-md-3">
                <div class="stat-label">Opened</div>
                <div>{{ _position.opened | parsedDate }} ({{ _position.daysHeld }})</div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <div class="stat-label">Current Price</div>
                <div>{{ getPrice() | currency }}</div>
            </div>
            <div class="col-md-3" #stopPriceReadonlyDiv>
                <div class="stat-label">
                    Stop Price
                    <span class="bi bi-pencil" role="button" (click)="openStopModal()"></span>
                </div>
                <div>{{ candidateStopPrice | currency }}</div>
                <div>
                    <a href="#" (click)="deleteStopPrice();">Delete Stop Price</a>
                </div>
            </div>
            
            <div class="col-md-3" #riskReadonlyDiv>
                <div class="stat-label">
                    Risk Amount
                    <span class="bi bi-pencil" role="button"
                          (click)="toggleVisibility(riskReadonlyDiv); toggleVisibility(riskEditDiv)"></span>
                </div>
                <div>{{ candidateRiskAmount | currency }}</div>
                <div>
                    <a href="#" (click)="recalculateRiskAmount()">Recalculate Risk</a>
                </div>
            </div>
            <div class="col-md-3 visually-hidden" #riskEditDiv>
                <label class="form-label stat-label" for="candidateRiskAmount">Risk Amount</label>
                <span class="bi bi-x-circle ms-2" role="button"
                      (click)="toggleVisibility(riskReadonlyDiv); toggleVisibility(riskEditDiv)"></span>
                <div class="input-group">
                    <input class="form-control" step="0.01" id="candidateRiskAmount" [(ngModel)]="candidateRiskAmount"
                           type="number">
                    <button class="btn btn-outline-secondary" (click)="setRiskAmount([riskReadonlyDiv,riskEditDiv])">
                        Update
                    </button>
                </div>
            </div>
            <div class="col-md-3" #strategyReadonyDiv>
                <div class="stat-label">
                    Strategy
                    <span class="bi bi-pencil" role="button"
                          (click)="toggleVisibility(strategyReadonyDiv); toggleVisibility(strategyEditDiv)"></span>
                </div>
                <div>{{ positionStrategy }}</div>
            </div>
            <div class="col-md-3 visually-hidden" #strategyEditDiv>
                <label class="form-label stat-label" for="strategyInput">Strategy</label>
                <span class="bi bi-x-circle ms-2" role="button"
                      (click)="toggleVisibility(strategyReadonyDiv); toggleVisibility(strategyEditDiv)"></span>
                <div class="input-group">
                    <select class="form-select" id="strategyInput" #strategyInput>
                        <option value="">Choose...</option>
                        @for (s of strategies; track s) {
                            <option
                                value="{{s.key}}" [selected]="positionStrategy === s.key">{{ s.value }}
                            </option>
                        }
                    </select>
                    <button class="btn btn-outline-secondary"
                            (click)="setStrategy(strategyInput.value,[strategyReadonyDiv,strategyEditDiv])">Update
                    </button>
                </div>
                <div>
                    <a href="#"
                       (click)="strategyInput.value = ''; clearStrategy([strategyReadonyDiv,strategyEditDiv]);">Clear
                        Strategy</a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <div class="stat-label">Profit</div>
                <div>{{ _position.profit | currency }}</div>
            </div>
            <div class="col-md-3">
                <div class="stat-label">Profit Gain</div>
                <div>{{ _position.gainPct | percent:'1.2-2' }}</div>
            </div>
            <div class="col-md-3">
                <div class="stat-label">R/R</div>
                <div>{{ _position.rr | number }}</div>
            </div>
            <div class="col-md-3">
                <div class="stat-label">Chart</div>
                <div>
                    <app-trading-view-link [ticker]="_position.ticker"></app-trading-view-link>
                </div>
            </div>
        </div>
        @if (!_position.isClosed) {
            <div class="row mt-3">
                <div class="col-md-3">
                    <div class="stat-label">Unrealized Profit</div>
                    <div>@if (_position.isClosed === false) {
                        {{ getUnrealizedProfit() | currency }}
                    }</div>
                </div>
                <div class="col-md-3">
                    <div class="stat-label">Unrealized Gain</div>
                    <div>@if (_position.isClosed === false) {
                        {{ getUnrealizedGainPct() | percent:'1.2-2' }}
                    }</div>
                </div>
                <div class="col-md-3">
                    <div class="stat-label">Last Transaction</div>
                    <div>{{ _position.daysSinceLastTransaction }} days ago</div>
                </div>
                <div class="col-md-3">
                    <label class="form-label stat-label" for="candidateRiskAmount"></label>
                    <div>
                        <button class="btn btn-outline-secondary btn-sm" (click)="fetchProfitPoints()">Profit Points
                        </button>
                        <button class="btn btn-outline-secondary btn-sm ms-2" (click)="showOrderForm = !showOrderForm">
                            Order Form
                        </button>
                        <button class="btn btn-outline-secondary btn-sm ms-2" (click)="showNotesForm = !showNotesForm">
                            Add Notes
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                @if (positionProfitPoints.length > 0) {
                    <div class="col">
                        @for (ppp of positionProfitPoints; track ppp) {
                            <div class="row mt-3">
                                @for (p of ppp.prices; track p; let i = $index) {
                                    <div
                                        [ngClass]="{'col':true, 'bg-positive':profitPointReached(p), 'text-white':profitPointReached(p)}">
                                        <div class="stat-label">{{ ppp.name }} {{ i + 1 }}</div>
                                        <div>{{ p | currency }}</div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                }
            </div>

            @if (showOrderForm) {
                <div class="row mt-3">
                    <div class="col">
                        <app-brokerage-new-order [ticker]="_position.ticker"
                                                 [positionId]="_position.positionId"
                                                 (brokerageOrderEntered)="brokerageOrdersChanged.emit($event)"></app-brokerage-new-order>
                    </div>
                </div>
            }
            
            @if (showNotesForm) {
                <div class="row mt-3">
                    <div class="col">
                        <label for="notes" class="form-label">Notes
                            <span *ngIf="notesControl.invalid" class="text-danger">*</span>
                        </label>
                        <textarea class="form-control"
                                  id="notes" rows="3"
                                  [formControl]="notesControl"
                                  [required]="true"></textarea>
                        
                        <button class="btn btn-primary mt-2" (click)="addNotes()">Add Notes</button>
                    </div>
                </div>
                
            }
        }
        @if (_position.isOpen) {
            <div class="row mt-3">
                <div class="col">
                    @if (positionOrders.length > 0) {
                        <app-brokerage-orders [justOrders]="true" [orders]="positionOrders"
                                              [filteredTickers]="[_position.ticker]" [positionId]="_position.positionId"
                                              (ordersChanged)="brokerageOrdersChanged.emit($event)"></app-brokerage-orders>
                    } @else {
                        <span class="text-muted">No orders</span>
                    }
                </div>
            </div>
        }
        <div class="row mt-3">
            <div class="col">
                <div class="stat-label" style="cursor: pointer;" (click)="toggleVisibility(notesContainer)">Notes
                    ({{ _position.notes.length }})
                </div>
                <div class="card" #notesContainer>
                    <div class="card-body">
                    <table class="table table-striped table-sm">
                        <tbody>
                            @for (note of _position.notes; track note) {
                            <tr>
                                <td style="width: 120px;">{{ note.created | parsedDate }}</td>
                                <td style="white-space: pre-wrap;">{{ note.content }}</td>   
                            </tr>
                            }
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="stat-label" style="cursor: pointer;" (click)="toggleVisibility(eventContainer)">Events
                ({{ _position.events.length }})
            </div>
            <div #eventContainer class="visually-hidden">
                @for (t of _position.events; track t) {
                    <div [ngClass]="getCssClassForEvent(t)" class="row event">
                        <div class="col">{{ t.date | parsedDate }}</div>
                        <div class="col">{{ t.type }}</div>
                        <div class="col-8">{{ t.description }}</div>
                        <div class="col">
                            @if (t.type === 'buy' || t.type === 'sell') {
                                <button class="btn btn-sm btn-outline-danger" (click)="deleteTransaction(t.id)">
                                    Delete {{ t.type }}
                                </button>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <button class="btn btn-sm btn-outline-secondary" (click)="openCloseModal()" *ngIf="_position.isOpen">
                    Close
                </button>
            </div>
            <div class="col">
                <button class="btn btn-sm btn-outline-danger float-end" (click)="deletePosition()">Delete</button>
            </div>
        </div>
        
        <!-- Add the modal HTML -->
        <div class="modal" tabindex="-1" role="dialog" [style.display]="showCloseModal ? 'block' : 'none'">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" style="border-bottom: none">Confirm Position Close</h5>
                        <button type="button" class="btn-close" (click)="closeCloseModal()">
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to close this position?</p>
                        <div class="mb-3">
                            <label for="closeReasonInput" class="form-label">Reason for Closing:</label>
                            <textarea class="form-control" id="closeReasonInput" rows="3" [(ngModel)]="closeReason"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="closeCloseModal()">Cancel</button>
                        <button type="button" class="btn btn-primary" (click)="confirmClosePosition()">Close Position</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add the modal backdrop -->
        <div class="modal-backdrop fade show" [style.display]="showCloseModal ? 'block' : 'none'"></div>


        <!-- Add the modal HTML -->
        <div class="modal" tabindex="-1" role="dialog" [style.display]="showStopModal ? 'block' : 'none'">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" style="border-bottom: none">Stop Adjustment</h5>
                        <button type="button" class="btn-close" (click)="closeStopModal()">
                        </button>
                    </div>
                    <div class="modal-body">
                        <app-error-display [errors]="stopErrors"></app-error-display>
                        <label class="form-label" for="stopPriceInput">Stop Price</label>
                        <input class="form-control" id="stopPriceInput" type="number" #stopPriceInput value="{{candidateStopPrice}}">
                        <div class="mb-3">
                            <label for="closeReasonInput" class="form-label">Reason for Changing Stop:</label>
                            <textarea class="form-control" id="stopReasonInput" rows="3" [(ngModel)]="stopReason"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="closeStopModal()">Cancel</button>
                        <button type="button" class="btn btn-primary" (click)="confirmStop(stopPriceInput.value)">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add the modal backdrop -->
        <div class="modal-backdrop fade show" [style.display]="showStopModal ? 'block' : 'none'"></div>
        
    </div>
}
