.point-label {
    font-weight: bold;
}

.position-price {
    font-weight: lighter;
    padding-left: 10px;
}

.filterLabel {
    font-size: smaller
}

.summary-card {
    /* background-color: #c3c8cd; */
}

.summary-card-main-info {
    font-size: 1.5em;
}