<div (keydown)="keydownHandler($event)" tabindex="0">
    <div class="container">
      <div class="row">
        <div class="col"><button (click)="previous()" class="btn btn-primary">Previous</button></div>
        <div class="col text-center">
          <select (change)="dropdownClick($event.target)">
            <option
              *ngFor="let position of positions; let i = index;"
              [value]="i"
              [selected]="position.ticker === currentPosition.ticker">
              {{position.ticker}}
            </option>
          </select>
           ({{currentPosition.price | currency}})
        </div>
        <div class="col"><button (click)="next()" class="btn btn-primary float-end">Next</button></div>
      </div>
    </div>
  
    <div class="container mt-5">
      <div class="row" *ngIf="currentPositionOrders && currentPositionOrders.length > 0">
        Brokerage Orders:
        <div *ngFor="let order of currentPositionOrders">
          {{order.type}} {{order.quantity}} shares at {{order.price | currency}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-trading-actual-vs-simulated [simulations]="simulationResults"></app-trading-actual-vs-simulated>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <app-stock-chart *ngIf="prices"
            [positivePricePoints]="buys(currentPosition)"
            [negativePricePoints]="sells(currentPosition)"
            [prices]=prices
            [positiveLines]="[currentPosition.averageCostPerShare]"
            [negativeLines]="currentPosition.stopPrice ? [currentPosition.stopPrice] : []">
          </app-stock-chart>
        </div>
      </div>
      <div class="row">
        <app-stock-trading-position [position]="currentPosition" [pendingOrders]="[]"></app-stock-trading-position>
      </div>
      <div class="row" *ngIf="outcomes">
        <div class="col">
          <table class="table table-hover border">
            <tbody>
                <tr *ngFor="let o of interestingOutcomes(outcomes)">
                    <td>
                        <span
                            class="badge"
                            [ngClass]="{'bg-success': o.type === 'Positive', 'bg-danger': o.type === 'Negative', 'bg-secondary': o.type === 'Neutral'}">
                            
                            &nbsp;
                        </span>
                    </td>
                    <td>{{o.key}}</td>
                    <td>{{o.value}}</td>
                    <td>{{o.type}}</td>
                    <td>{{o.message}}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>