<div class="card border-info">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <app-symbol-search
              label="Ticker"
              placeholder="New position symbol"
              (tickerSelected)="onBuyTickerSelected($event)"
              cssClass="form-control">
          </app-symbol-search>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="positionSize">Position Size</label>
          <input
            type="number"
            class="form-control"
            id="positionSize"
            [(ngModel)]="positionSize"
            (ngModelChange)="updateBuyingValues()">
        </div>
      </div>
    </div>
    <div class="row" *ngIf="costToBuy">
      <div class="col">
        <label for="costToBuy">Price: </label>
        <input
          type="number"
          id="costToBuy"
          class="form-control"
          [(ngModel)]="costToBuy"
          (ngModelChange)="updateBuyingValues()"
        >
      </div>
      <div class="col">Shares #: <strong>{{ stocksToBuy }}</strong></div>
      <div class="col">Stop Price: <strong>{{ stopPrice | currency }}</strong></div>
      <div class="col">Exit Price: <strong>{{ exitPrice | currency }}</strong></div>
    </div>
    <div class="row mt-2" *ngIf="stats">
      <div class="col">Above 50: <strong>{{ costToBuy > stats.day50MovingAvg  ? 'yes' : 'no'}}</strong></div>
      <div class="col">Above 200: <strong>{{ costToBuy > stats.day200MovingAvg  ? 'yes' : 'no'}}</strong></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>
</div>