<div class="mb-3">
  <section>
    <h5>Pending Positions</h5>
  </section>
  <div>
    <span *ngIf="positions.length === 0">No pending positions found</span>
    <table class="table table-striped table-hover" *ngIf="positions.length !== 0">
      <thead>
        <tr>
          <th scope="col">Ticker</th>
          <th scope="col">Shares</th>
          <th scope="col">Bid</th>
          <th scope="col">Price</th>
          <th scope="col">% diff</th>
          <th scope="col">Stop</th>
          <th scope="col">Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let position of positions">
          <tr>
            <td>
              <a [routerLink]="[ '/stocks', position.ticker ]">{{position.ticker}}</a>
              <app-trading-view-link [ticker]="position.ticker"></app-trading-view-link>
            </td>

            <td>{{ position.numberOfShares }}</td>
            <td>{{ position.bid | currency }}</td>
            <td>{{ position.price | currency }}</td>
            <td>{{ position.percentDiffBetweenBidAndPrice | percent }}</td>
            <td>{{ position.stopPrice | currency }}</td>
            <td>{{ position.date | date }}</td>
            <td class="text-end">
              <button class="btn btn-warning btn-sm" (click)="closePendingPosition(position)">Close</button>
            </td>
          </tr>
          <tr>
            <td colspan="6">
              {{ position.notes }}
              <div>
                <span class="badge bg-light text-secondary m-1">{{position.strategy}}</span>
              </div>
            </td>
          </tr>
        </ng-container>
        
      </tbody>
    </table>
  </div>
</div>