<div>
  <app-outcomes *ngIf="historicalOutcomes" [title]="'Historical outcomes'" [outcomes]="historicalOutcomes"></app-outcomes>

  <app-outcomes-analysis-report *ngIf="portfolioDailyReport" [title]="'Daily report'" [report]="portfolioDailyReport"></app-outcomes-analysis-report>
  <app-outcomes-analysis-report *ngIf="portfolioWeeklyReport" [title]="'Weekly report'" [report]="portfolioWeeklyReport"></app-outcomes-analysis-report>  
  
  <app-outcomes *ngIf="dailyOutcomes" [title]="'Daily outcomes'" [outcomes]="dailyOutcomes"></app-outcomes>
  
</div>
