@if (_position) {
    <div class="mb-3">
        <div class="row">
            <div class="col-md-3">
                <div class="stat-label">Cost/Share</div>
                <div>{{ _position.averageCostPerShare | currency }}</div>
            </div>
            <div class="col-md-3">
                <div class="stat-label">Number of Shares</div>
                <div>
                    @if (_position.isClosed) {
                        {{ _position.completedPositionShares }}
                    } @else {
                        {{ _position.numberOfShares }} / {{ _position.completedPositionShares }}
                    }
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat-label">Cost</div>
                <div>{{ _position.cost | currency }}</div>
            </div>
            <div class="col-md-3">
                <div class="stat-label">Opened</div>
                <div>{{ _position.opened | date }} ({{ _position.daysHeld }})</div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <div class="stat-label">Current Price</div>
                <div>{{ getPrice() | currency }}</div>
            </div>
            <div class="col-md-3" #stopPriceReadonlyDiv>
                <div class="stat-label">
                    Stop Price
                    <span class="bi bi-pencil" role="button"
                          (click)="toggleVisibility(stopPriceReadonlyDiv); toggleVisibility(stopPriceEditDiv)"></span>
                </div>
                <div>{{ candidateStopPrice | currency }}</div>
                @if (!_position.isClosed) {
                <div>
                    <span class="text-muted"> {{ _position.percentToStopFromCost | percent }} from avg cost</span>
                </div>
                }
            </div>
            <div class="col-md-3 visually-hidden" #stopPriceEditDiv>
                <label class="form-label stat-label" for="candidateStopPrice">Stop Price</label>
                <span class="bi bi-x-circle ms-2" role="button"
                      (click)="toggleVisibility(stopPriceReadonlyDiv); toggleVisibility(stopPriceEditDiv)"></span>
                <div class="input-group">
                    <input class="form-control" step="0.01" id="candidateStopPrice" [(ngModel)]="candidateStopPrice"
                           type="number">
                    <button class="btn btn-outline-secondary"
                            (click)="setStopPrice([stopPriceEditDiv,stopPriceReadonlyDiv]);">Update
                    </button>
                </div>
                <div>
                    <a href="#" (click)="deleteStopPrice();">Delete Stop Price</a>
                </div>
            </div>
            <div class="col-md-3" #riskReadonlyDiv>
                <div class="stat-label">
                    Risk Amount
                    <span class="bi bi-pencil" role="button"
                          (click)="toggleVisibility(riskReadonlyDiv); toggleVisibility(riskEditDiv)"></span>
                </div>
                <div>{{ candidateRiskAmount | currency }}</div>
                <div>
                    <a href="#" (click)="recalculateRiskAmount()">Recalculate Risk</a>
                </div>
            </div>
            <div class="col-md-3 visually-hidden" #riskEditDiv>
                <label class="form-label stat-label" for="candidateRiskAmount">Risk Amount</label>
                <span class="bi bi-x-circle ms-2" role="button"
                      (click)="toggleVisibility(riskReadonlyDiv); toggleVisibility(riskEditDiv)"></span>
                <div class="input-group">
                    <input class="form-control" step="0.01" id="candidateRiskAmount" [(ngModel)]="candidateRiskAmount"
                           type="number">
                    <button class="btn btn-outline-secondary" (click)="setRiskAmount([riskReadonlyDiv,riskEditDiv])">
                        Update
                    </button>
                </div>
            </div>
            <div class="col-md-3" #strategyReadonyDiv>
                <div class="stat-label">
                    Strategy
                    <span class="bi bi-pencil" role="button"
                          (click)="toggleVisibility(strategyReadonyDiv); toggleVisibility(strategyEditDiv)"></span>
                </div>
                <div>{{ positionStrategy }}</div>
            </div>
            <div class="col-md-3 visually-hidden" #strategyEditDiv>
                <label class="form-label stat-label" for="strategyInput">Strategy</label>
                <span class="bi bi-x-circle ms-2" role="button"
                      (click)="toggleVisibility(strategyReadonyDiv); toggleVisibility(strategyEditDiv)"></span>
                <div class="input-group">
                    <select class="form-select" id="strategyInput" #strategyInput>
                        <option value="">Choose...</option>
                        @for (s of strategies; track s) {
                            <option
                                value="{{s.key}}" [selected]="positionStrategy === s.key">{{ s.value }}
                            </option>
                        }
                    </select>
                    <button class="btn btn-outline-secondary"
                            (click)="setStrategy(strategyInput.value,[strategyReadonyDiv,strategyEditDiv])">Update
                    </button>
                </div>
                <div>
                    <a href="#"
                       (click)="strategyInput.value = ''; clearStrategy([strategyReadonyDiv,strategyEditDiv]);">Clear
                        Strategy</a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <div class="stat-label">Profit</div>
                <div>{{ _position.profit | currency }}</div>
            </div>
            <div class="col-md-3">
                <div class="stat-label">Profit Gain</div>
                <div>{{ _position.gainPct | percent }}</div>
            </div>
            <div class="col-md-3">
                <div class="stat-label">R/R</div>
                <div>{{ _position.rr | number }}</div>
            </div>
            <div class="col-md-3">
                <div class="stat-label">Chart</div>
                <div>
                    <app-trading-view-link [ticker]="_position.ticker"></app-trading-view-link>
                </div>
            </div>
        </div>
        @if (!_position.isClosed) {
            <div class="row mt-3">
                <div class="col-md-3">
                    <div class="stat-label">Unrealized Profit</div>
                    <div>@if (_position.isClosed === false) {
                        {{ getUnrealizedProfit() | currency }}
                    }</div>
                </div>
                <div class="col-md-3">
                    <div class="stat-label">Unrealized Gain</div>
                    <div>@if (_position.isClosed === false) {
                        {{ getUnrealizedGainPct() | percent }}
                    }</div>
                </div>
                <div class="col-md-3">
                    <div class="stat-label">Last Transaction</div>
                    <div>{{ _position.daysSinceLastTransaction }} days ago</div>
                </div>
                <div class="col-md-3">
                    <label class="form-label stat-label" for="candidateRiskAmount">Profit Points</label>
                    <div>
                        <button class="btn btn-outline-secondary" (click)="fetchProfitPoints()">fetch profit points
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                @if (positionProfitPoints.length > 0) {
                    <div class="col">
                        @for (ppp of positionProfitPoints; track ppp) {
                            <div class="row mt-3">
                                @for (p of ppp.prices; track p; let i = $index) {
                                    <div
                                        [ngClass]="{'col':true, 'bg-positive':profitPointReached(p), 'text-white':profitPointReached(p)}">
                                        <div class="stat-label">{{ ppp.name }} {{ i + 1 }}</div>
                                        <div>{{ p | currency }}</div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                }
            </div>
        }
        <div class="row mt-3">
            <div class="col">
                <div class="stat-label" style="cursor: pointer;" (click)="toggleVisibility(ordersContainer)">Orders
                    ({{ positionOrders.length }})
                </div>
                <div #ordersContainer>
                    @for (order of positionOrders; track order) {
                        <div class="row">
                            <div class="col">
                                {{ order.status }} {{ order.type }} {{ order.quantity }}
                                &#64; {{ order.price === 0 ? "MARKET" : order.price | currency }}
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="stat-label" style="cursor: pointer;" (click)="toggleVisibility(notesContainer)">Notes
                    ({{ _position.notes.length }})
                </div>
                <div #notesContainer>
                    @for (note of _position.notes; track note) {
                        <div style="white-space: pre-wrap;">{{ note }}</div>
                    }
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="stat-label" style="cursor: pointer;" (click)="toggleVisibility(eventContainer)">Events
                ({{ _position.events.length }})
            </div>
            <div #eventContainer class="visually-hidden">
                @for (t of _position.events; track t) {
                    <div [ngClass]="getCssClassForEvent(t)" class="row event">
                        <div class="col">{{ t.date | date }}</div>
                        <div class="col">{{ t.type }}</div>
                        <div class="col-8">{{ t.description }}</div>
                        <div class="col">
                            @if (t.type === 'buy' || t.type === 'sell') {
                                <button class="btn btn-sm btn-outline-danger" (click)="deleteTransaction(t.id)">
                                    Delete {{ t.type }}
                                </button>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <button class="btn btn-sm btn-outline-secondary" (click)="closePosition()">Close</button>
            </div>
            <div class="col">
                <button class="btn btn-sm btn-outline-danger float-end" (click)="deletePosition()">Delete</button>
            </div>
        </div>
    </div>
}
