@if (positions) {
  <div class="summary-card rounded">
    <div class="row">
      <div class="col-md mb-4 mt-2 text-center">
        <div class="text-muted sort-header" >
          Invested
        </div>
        <div class="fs-4 summary-card-main-info">
          {{ totalCost | currency }}
        </div>
      </div>
      <div class="col-md mb-4 mt-2 text-center">
        <div class="text-muted">
          Risked
        </div>
        <div class="fs-4 summary-card-main-info">
          {{ totalRiskedAmount | currency }}
        </div>
      </div>
      <div class="col-md mb-4 mt-2 text-center">
        <div class="text-muted">
          Positions
        </div>
        <div class="fs-4 summary-card-main-info">
          {{positions.length}}
        </div>
      </div>
      <div class="col-md mb-4 mt-2 text-center">
        <div class="text-muted">
          Profit
        </div>
        <div class="fs-4 summary-card-main-info">
          {{ totalProfit | currency}}
        </div>
      </div>
      <div class="col-md mb-4 mt-2 text-center">
        <div class="text-muted">
          Cash
        </div>
        <div class="fs-4 summary-card-main-info">
          {{ cashBalance | currency}}
        </div>
      </div>
    </div>
    <table class="table table-hover d-none d-md-table">
      <thead>
        <tr>
          <th class="sort-header" (click)="sort('strategy')">Strategy</th>
          <th class="sort-header" (click)="sort('profit')">Profit</th>
          <th class="sort-header" (click)="sort('cost')">Invested</th>
          <th class="sort-header" (click)="sort('risk')">Risked</th>
          <th class="sort-header" (click)="sort('numberOfPositions')">Positions</th>
          <th class="sort-header" (click)="sort('gain')">Gain %</th>
        </tr>
      </thead>
      <tbody>
        @for (positionGroup of positionGroups; track positionGroup) {
          <tr>
            <td>{{positionGroup.strategy}}</td>
            <td>{{positionGroup.profit | currency}}</td>
            <td>{{ positionGroup.cost | currency }}</td>
            <td>{{ positionGroup.risk | currency }}</td>
            <td>{{positionGroup.length}}</td>
            <td>{{ (positionGroup.profit / positionGroup.cost) | percent:'1.0-2' }}</td>
          </tr>
        }
      </tbody>
    </table>
    <div class="d-md-none">
      @for (positionGroup of positionGroups; track positionGroup) {
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Strategy: {{positionGroup.strategy}}</h5>
            <div class="row">
              <div class="col-md mb-4 mt-2 text-center">
                <div class="text-muted">
                  Profit
                </div>
                <div class="fs-4 summary-card-main-info">
                  {{ positionGroup.profit | currency}}
                </div>
              </div>
              <div class="col-md mb-4 mt-2 text-center">
                <div class="text-muted">
                  Cost
                </div>
                <div class="fs-4 summary-card-main-info">
                  {{ positionGroup.cost | currency}}
                </div>
              </div>
              <div class="col-md mb-4 mt-2 text-center">
                <div class="text-muted">
                  Risk
                </div>
                <div class="fs-4 summary-card-main-info">
                  {{ positionGroup.risk | currency}}
                </div>
              </div>
              <div class="col-md mb-4 mt-2 text-center">
                <div class="text-muted">
                  Trades
                </div>
                <div class="fs-4 summary-card-main-info">
                  {{ positionGroup.length}}
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
}
