<div class="mb-3" *ngIf="_position">
  
  <div class="row mt-3" *ngIf="_position.isClosed">
    <div class="col"><div class="stat-label">Profit</div><div>{{ _position.profit | currency }}</div></div>
    <div class="col"><div class="stat-label">Risked</div><div>{{ _position.riskedAmount | currency }} </div></div>
    <div class="col"><div class="stat-label">R/R</div><div>{{ _position.rr | number }} ({{_position.gainPct | percent}})</div></div>
    <div class="col"><div class="stat-label">Opened</div><div>{{ _position.opened | date }} ({{ _position.daysHeld }})</div></div>
  </div>

  <div class="row" *ngIf="!_position.isClosed">
    <div class="col"><div class="stat-label">Cost/Share</div><div>{{ _position.averageCostPerShare | currency}}</div></div>
    <div class="col"><div class="stat-label">Cost</div><div>{{ _position.cost | currency}}</div></div>
    <div class="col"><div class="stat-label">Stop</div><div>{{ _position.stopPrice | currency }} ({{ (_position.stopPrice - _position.averageCostPerShare) / _position.averageCostPerShare | percent }})</div></div>
    <div class="col"><div class="stat-label">Number of Shares</div><div>{{ _position.numberOfShares }}</div></div>
  </div>

  <div class="row mt-3" *ngIf="!_position.isClosed">
    <div class="col"><div class="stat-label">Unrealized Profit</div><div>{{ _position.unrealizedProfit | currency }}</div></div>
    <div class="col"><div class="stat-label">Unrealized Gain</div><div>{{_position.unrealizedGainPct | percent}}</div></div>
    <div class="col"><div class="stat-label">Unrealized R/R</div><div>{{ _position.unrealizedRR | number }}</div></div>
    <div class="col"><div class="stat-label">Opened</div><div>{{ _position.opened | date }} ({{ _position.daysHeld }})</div></div>
  </div>
    
  <div class="row mt-3" *ngIf="!_position.isClosed">
    <div class="col"><div class="stat-label">Profit</div><div>{{ _position.profit | currency }}</div></div>
    <div class="col"><div class="stat-label">Risked</div><div>{{ _position.riskedAmount | currency }} </div></div>
    <div class="col"><div class="stat-label">R/R</div><div>{{ _position.rr | number }}</div></div>
    <div class="col"><div class="stat-label"></div><div></div></div>
  </div>
    
  <div class="row mt-3">
    <div class="col">
      <label class="form-label stat-label" for="candidateRiskAmount">Profit Points</label>
      <div>
        <button class="btn btn-outline-secondary" (click)="fetchProfitPoints()">fetch profit points</button>
      </div>
    </div>
    <div class="col">
      <label class="form-label stat-label" for="candidateRiskAmount">Risk Amount</label>
      <div class="input-group">
        <input class="form-control" id="candidateRiskAmount" [(ngModel)]="candidateRiskAmount" type="number">
        <button class="btn btn-outline-secondary" (click)="setRiskAmount()">Update</button>
      </div>
      <div>
        <a href="#" (click)="recalculateRiskAmount()">Recalculate Risk</a>
      </div>
    </div>
    <div class="col">
      <label class="form-label stat-label" for="candidateStopPrice">Stop Price</label>
      <div class="input-group">
        <input class="form-control" id="candidateStopPrice" [(ngModel)]="candidateStopPrice" type="number">
        <button class="btn btn-outline-secondary" (click)="setStopPrice()">Update</button>
      </div>
      <div>
        <a href="#" (click)="deleteStopPrice();">Delete Stop Price</a>
      </div>
    </div>
    <div class="col">
      <label class="form-label stat-label" for="setStrategy">Strategy</label>
      <div class="input-group">
        <select class="form-select" id="strategyInput" #strategyInput value="{{positionStrategy}}">
          <option value="">Choose...</option>
          <option value="newhigh">New High</option>
          <option value="resistancebreakthrough">Resistance Breakthrough</option>
          <option value="newhighpullback">New High Pullback</option>
          <option value="recovery">Recovery</option>
          <option value="postearnings">Post Earnings</option>
          <option value="postearningsnewhigh">Post Earnings New High</option>
          <option value="longterm">Long Term</option>
          <option value="leadingindustry">Leading Industry</option>
          <option value="channelbottom">Channel Bottom</option>
        </select>
        <button class="btn btn-outline-secondary" (click)="setStrategy(strategyInput.value)">Update</button>
      </div>
      <div>
        <a href="#" (click)="strategyInput.value = ''; clearStrategy();">Clear Strategy</a>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!_position.isClosed">
    <div class="col" *ngIf="positionProfitPoints.length > 0">
      <div class="row mt-3" *ngFor="let ppp of positionProfitPoints">
        <div *ngFor="let p of ppp.prices, let i = index"
          [ngClass]="{'col':true,
            'bg-positive':p <= _position.price,
            'text-white':p <= _position.price}">
          <div class="stat-label">{{ppp.name}} {{i+1}}</div>
          <div>{{ p | currency }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <div class="stat-label" style="cursor: pointer;" (click)="toggleVisibility(ordersContainer)">Orders ({{positionOrders.length}})</div>
      <div #ordersContainer class="visually-hidden">
        <div class="row" *ngFor="let order of positionOrders">
          <div class="col">
            {{ order.type }} {{ order.quantity }} @ {{ order.price | currency }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <div class="stat-label" style="cursor: pointer;" (click)="toggleVisibility(notesContainer)">Notes ({{_position.notes.length}})</div>
      <div #notesContainer class="visually-hidden">
        <div *ngFor="let note of _position.notes" style="white-space: pre-wrap;">{{ note }}</div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="stat-label" style="cursor: pointer;" (click)="toggleVisibility(eventContainer)">Events ({{_position.events.length}})</div>
    <div #eventContainer class="visually-hidden">
      <div [ngClass]="getCssClassForEvent(t)" class="row event" *ngFor="let t of _position.events">
        <div class="col">{{t.date | date }}</div>
        <div class="col">{{t.type}}</div>
        <div class="col-8">{{t.description}}</div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <button class="btn btn-sm btn-outline-danger" (click)="deletePosition()">Delete</button>
    </div>
  </div>

</div>