<div *ngIf="loaded" class="mt-2 mb-4">

  <table class="table striped">
    <thead>
      <tr>
        <th>Ticker</th>
        <th *ngFor="let key of getKeys()" class="sort-header" (click)="sort(key)">{{key}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of entries">
        <td>{{s.ticker}}</td>
        <td *ngFor="let o of s.outcomes"
          [ngClass]="{'text-end': true, 'text-success': o.type === 'Positive', 'text-danger': o.type === 'Negative'}" class="text-end">{{o.value }}</td>
      </tr>
    </tbody>
  </table>

</div>

<div *ngIf="!loaded">
	Calculating your grid ....
</div>
