<div>
  <app-analysis *ngIf="showOverallOutcomes" [title]="'Historical outcomes'" [outcomes]="historicalOutcomes"></app-analysis>

  <app-portfolio-report *ngIf="showDailyAnalysisReport" [title]="'Daily report'" [report]="portfolioDailyReport"></app-portfolio-report>
  <app-portfolio-report *ngIf="showWeeklyAnalysisReport" [title]="'Weekly report'" [report]="portfolioWeeklyReport"></app-portfolio-report>  
  
  <app-analysis *ngIf="showDailyOutcomes" [title]="'Daily outcomes'" [outcomes]="dailyOutcomes"></app-analysis>
  
</div>
