<div *ngIf="!loaded">
  Loading short term holdings...
  <div class="spinner-border text-info spinner-border-sm" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="loaded">
  
  <div class="card mb-2 mt-2">
    <div class="card-header">
      <div class="mb-2 font-weight-bold">Summary</div>

      <div class="border-info mb-2 mt-4">
        <div class="row">
          <div class="col">
            {{ positions.length }} positions
          </div>
          <div class="col text-right">
            {{ totalCost() | currency:'USD':true:'1.2-2' }}
          </div>
        </div>
      </div>
    
    </div>
  </div>

  <div class="tab-container mt-2" *ngIf="loaded">
    <a class="tab" [ngClass]="{'is-active': isActive('positions')}" [routerLink]="" (click)="activateTab('positions')">
      Current Positions
    </a>
    <a class="tab" [ngClass]="{'is-active': isActive('newposition')}" [routerLink]="" (click)="activateTab('newposition')">
      New Position
    </a>
    <a class="tab" [ngClass]="{'is-active': isActive('brokerage')}" [routerLink]="" (click)="activateTab('brokerage')">
      Brokerage Orders
    </a>
    <a class="tab" [ngClass]="{'is-active': isActive('past')}" [routerLink]="" (click)="activateTab('past')">
      Past Positions
    </a>
    <a class="tab" [ngClass]="{'is-active': isActive('performancerecent')}" [routerLink]="" (click)="activateTab('performancerecent')">
      Performance (Recent)
    </a>
    <a class="tab" [ngClass]="{'is-active': isActive('performance')}" [routerLink]="" (click)="activateTab('performance')">
      Performance
    </a>
    <a class="tab" [ngClass]="{'is-active': isActive('review')}" [routerLink]="" (click)="activateTab('review')">
      Review
    </a>
    <a class="tab float-end" [routerLink]="" (click)="refresh()">
      Refresh
      <div class="spinner-border text-info spinner-border-sm" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
      </div>
    </a>
  </div>
  

  <stock-trading-newposition  *ngIf="isActive('newposition')" [stopLoss]=stopLoss [firstTarget]=firstTarget [rrTarget]=rrTarget (stockPurchased)="stockPurchased()"></stock-trading-newposition>
  <stock-trading-positions    *ngIf="isActive('positions')" [positions]=positions [stopLoss]=stopLoss [firstTarget]=firstTarget [rrTarget]=rrTarget></stock-trading-positions>
  <stock-past                 *ngIf="isActive('past')" [past]=past></stock-past>
  <stock-trading-performance  *ngIf="isActive('performancerecent')" [performance]=performance.recent></stock-trading-performance>
  <stock-trading-performance  *ngIf="isActive('performance')" [performance]=performance.overall [trends]="performance.trends"></stock-trading-performance>
  <stock-trading-review       *ngIf="isActive('review')" [positions]=past></stock-trading-review>
  <stock-trading-brokerage      *ngIf="isActive('brokerage')" [pending]=pending (orderCancelled)="orderCancelled()"></stock-trading-brokerage>

</div>
