<div>
    <h3>Simulating trades</h3>
    <div class="mb-3">
        <label for="numTradesInput" class="form-label">Number of trades to simulate:</label>
        <input type="number" class="form-control" id="numTradesInput" [(ngModel)]="numberOfTrades" min="1" [disabled]="loading">
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="closePositionsSwitch" [(ngModel)]="closePositions" [disabled]="loading">
        <label class="form-check-label" for="closePositionsSwitch">Close positions at end of simulations</label>
    </div>
    <div class="mt-3">
        <button class="btn btn-primary" (click)="simulateTrades()" [disabled]="loading">Simulate trades</button>
    </div>
    
    <app-loading *ngIf="loading"></app-loading>
    <section *ngIf="results">
        <h3>Results</h3>
        <div class="row mb-3">
            <div class="col-10">
                <div>
                    <span class="text-muted">Earliest date:</span> {{ results[0].performance.earliestDate | date }},
                    <span class="text-muted">latest date:</span> {{ results[0].performance.latestDate | date }}
                </div>
                @if (spyPrices) {
                    <div>
                        <span class="text-muted">SPY during that time advanced from </span>
                        {{ spyPrices[0].close| currency }} to {{ spyPrices[spyPrices.length - 1].close | currency }}
                        <span
                            class="text-muted">for gain of </span>{{ (spyPrices[spyPrices.length - 1].close - spyPrices[0].close) / spyPrices[0].close | percent }}
                    </div>
                }
                @if (qqqPrices) {
                    <div>
                        <span class="text-muted">QQQ during that time advanced from </span>
                        {{ qqqPrices[0].close| currency }} to {{ qqqPrices[qqqPrices.length - 1].close | currency }}
                        <span
                            class="text-muted">for gain of </span>{{ (qqqPrices[qqqPrices.length - 1].close - qqqPrices[0].close) / qqqPrices[0].close | percent }}
                    </div>
                }
            </div>
            <div class="col-2">
                <a [href]="getExportUrl()" class="btn btn-primary btn-sm float-end">Export</a>
            </div>
        </div>
        <app-error-display [errors]="errors"></app-error-display>
        <app-stock-trading-strategies [results]=results></app-stock-trading-strategies>
    </section>
    
</div>
