<div>
  <a href="/api/stocks/export/closed" class="btn btn-link">Export trades</a>

  <!-- bootstrap loading circle -->
  <div *ngIf="!performances">
    <div class="spinner-border text-primary" role="status">
      <span>Sim</span>
    </div>ulating trading strategies...
  </div>

  <table *ngIf="performances" class="table table-hover">
    <thead>
      <tr>
        <th>Strategy</th>
        <th>P/L</th>
        <th>R/R</th>
        <th>Avg Win Pct</th>
        <th>Avg Loss Pct</th>
        <th>Max Win</th>
        <th>Max Loss</th>
        <th>E/V</th>
        <th>Win %</th>
        <th>Profit /</th>
        <th>Pct /</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of performances">
        <td>{{r.strategyName}}</td>
        <td>{{r.performance.profit | currency}}</td>
        <td>{{r.performance.rrSum | number:'1.0-2'}}</td>
        <td>{{r.performance.winAvgReturnPct | percent}}</td>
        <td>{{r.performance.lossAvgReturnPct | percent}}</td>
        <td>{{r.performance.maxWinAmount | currency}}</td>
        <td>{{r.performance.maxLossAmount | currency}}</td>
        <td>{{r.performance.ev | currency}}</td>
        <td>{{r.performance.winPct | percent}}</td>
        <td>{{r.performance.profitRatio | number:'1.0-2'}}</td>
        <td>{{r.performance.returnPctRatio | number:'1.0-2'}}</td>
      </tr>
    </tbody>
  </table>

  <table *ngIf="positions" class="table mt-3">
    <thead>
      <tr>
        <th width="100"></th>
        <th>Stock</th>
        <th>Date</th>
        <th>R:R</th>
        <th>Profit/Loss</th>
        <th>Profit/Loss %</th>
        <th>Days Held</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of positions; let i = index">
        <td>{{i + 1}}</td>
        <td><a [routerLink]="[ '/stocks', p.ticker ]">{{p.ticker}}</a></td>
        <td>{{p.closed | date}}</td>
        <td>{{p.rr | number:'1.0-2' }}</td>
        <td>{{p.profit | currency}}</td>
        <td>
          <span *ngIf="p.profit >= 0" class="badge bg-success me-1">win</span>
          <span *ngIf="p.profit < 0" class="badge bg-warning me-1">loss</span>
          {{p.gainPct | number:'1.0-2' }}%
        </td>
        <td>{{p.daysHeld}}</td>
      </tr>
    </tbody>
  </table>

</div>
