<div *ngIf="monitorGroups">
  <ng-container *ngFor="let g of monitorGroups">

    <h3 class="mt-3">{{g[0].triggeredAlert ? g[0].description : "Not triggered"}} ({{g.length}})</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Ticker</th>
          <th>Description</th>
          <th>Threshold</th>
          <th>Last Value</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let monitor of g" 
          [ngClass]="{
            'bg-warning': monitor.alertType === 'Negative' && monitor.triggeredAlert,
            'bg-success': monitor.alertType === 'Positive' && monitor.triggeredAlert,
            'text-white': monitor.alertType === 'Positive' && monitor.triggeredAlert
          }">
          <td>
            <a [routerLink]="[ '/stocks', monitor.ticker ]">{{monitor.ticker}}</a>
            <a href="https://www.tradingview.com/chart/kQn4rgoA/?symbol={{monitor.ticker}}" target="_blank">
              <img class="p-1" src="tradingview.png" height="20px" />
            </a>
          </td>
          <td>
            {{monitor.triggeredAlert?.description || monitor.description}}
          </td>
          <td>{{getValue(monitor.thresholdValue, monitor.valueType)}}</td>
          <td>{{getValue(monitor.lastSeenValue, monitor.valueType)}}</td>
          <td *ngIf="monitor.triggeredAlert">
            Triggered on {{monitor.triggeredAlert.when | date:'short'}}
          </td>
          <td *ngIf="!monitor.triggeredAlert"></td>
        </tr>
    </table>
  </ng-container>
  
  <div *ngIf="!container.monitors">
    No price monitors are present
  </div>

  <h3 *ngIf="!hideRecentTriggered">Recent Triggers</h3>
  <table *ngIf="container.recentlyTriggered && !hideRecentTriggered" class="table table-hover">
    <thead>
      <tr>
        <th>ticker</th>
        <th>description</th>
        <th>date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alert of container.recentlyTriggered" [ngClass]="{'bg-warning': alert.alertType === 'Negative', 'bg-success': alert.alertType === 'Positive'}">
        <td>{{alert.ticker}}</td>
        <td>{{alert.description}}</td>
        <td>{{alert.when | date:'short'}}</td>
        <td>
          <a [routerLink]="[ '/stocks', 'newposition' ]" [queryParams]="{'ticker': alert.ticker, 'numberOfShares': alert.numberOfShares}" class="btn btn-sm btn-primary">Sell</a>
        </td>
      </tr>
  </table>
  <div *ngIf="!container.recentlyTriggered">
    No recent triggers
  </div>
</div>