<div class="tab-container mt-2">
  <a class="tab" [ngClass]="{'is-active': isActive('open')}" [routerLink]="" (click)="activateTab('open')">
    Open Positions
  </a>
  <a class="tab" [ngClass]="{'is-active': isActive('closed')}" [routerLink]="" (click)="activateTab('closed')">
    Closed Positions
  </a>
  <a class="tab" [ngClass]="{'is-active': isActive('performance')}" [routerLink]="" (click)="activateTab('performance')">
    Performance
  </a>
</div>


<option-open *ngIf="isActive('open')" [openPositions]=openPositions></option-open>

<option-closed *ngIf="isActive('closed')" [closedPositions]=closedPositions></option-closed>

<option-performance *ngIf="isActive('performance')" [statsContainer]=statsContainer></option-performance>
