<div class="mt-4" *ngIf="openOptions && openOptions.length == 0">
  You have no option options contracts on record. To record a position, select the ticker below to get started:

  <div class="row">
    <div class="col">
      <app-symbol-search
          label="{{null}}"
          placeholder="Search for securities using ticker or name"
          (tickerSelected)="onTickerSelected($event)"
          cssClass="form-control">
      </app-symbol-search>
    </div>
  </div>
</div>

<div class="mt-4" *ngIf="openOptions.length > 0">
  <div class="container mb-4">
    <div class="row">
      <div class="col">
        Premium <span *ngIf="premiumSum < 0" >paid</span><span *ngIf="premiumSum >= 0">received</span>: <span class="fw-bold">{{ premiumSum | currency }}</span>
      </div>
      <div class="col text-center">
        Premium value to close: <span class="fw-bold">{{ premiumCloseValue | currency }}</span>
      </div>
      <div class="col text-end">
        Net value: <span class="fw-bold">{{ premiumSum + premiumCloseValue | currency }}</span>
      </div>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Option</th>
        <th>Expiration</th>
        <th>Price</th>
        <th>OTM/ITM</th>
        <th>Premium</th>
        <th>Days Left</th>
        <th>Bid/Ask</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let option of openOptions">
        <td>
            <span
              class="badge bg-primary"
              [ngClass]="{'bg-info': option.boughtOrSold === 'Bought', 'bg-secondary': option.boughtOrSold !== 'Bought'}">
                {{option.boughtOrSold}}
            </span>
        </td>
        <td>
          <a [routerLink]="[ '/optiondetails', option.id ]">
            <span class="font-weight-bold">
              {{option.ticker}} {{option.strikePrice | currency}} {{option.optionType}}
            </span>
          </a>
        </td>
        <td>{{option.expirationDate | date:'MM/dd'}}</td>
        <td>{{option.currentPrice | currency}}</td>
        <td class="text-start">
          <span class="badge bg-primary" [ngClass]="{'bg-warning': !option.isFavorable, 'bg-success': option.isFavorable}">{{option.itmOtmLabel}}</span>
          {{option.strikePriceDiff | percent}}
        </td>
        <td>
          {{option.profit | currency}}
        </td>
        <td>
          {{(option.days - option.daysHeld) | number}}
          <span *ngIf="option.expiresSoon" class="ml-1 badge bg-warning">expires soon</span>
          <span *ngIf="option.isExpired" class="ml-1 badge bg-danger">expired</span>
        </td>
        <td>
          {{option.detail?.bid | currency}} / {{option.detail?.ask | currency}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
