<div *ngIf="!loaded">
  Loading...
</div>

<div class="tab-container mt-2" *ngIf="loaded">
  <a class="tab" [ngClass]="{'is-active': isActive('open')}" [routerLink]="" (click)="activateTab('open')">
    Open Positions
  </a>
  <a class="tab" [ngClass]="{'is-active': isActive('closed')}" [routerLink]="" (click)="activateTab('closed')">
    Past Trades
  </a>
  <a class="tab" [ngClass]="{'is-active': isActive('performance')}" [routerLink]="" (click)="activateTab('performance')">
    Performance
  </a>
</div>


<app-option-open *ngIf="loaded && isActive('open')" [statsContainer]=statsContainer></app-option-open>
<app-option-closed *ngIf="loaded && isActive('closed')" [statsContainer]=statsContainer></app-option-closed>
<app-option-performance *ngIf="loaded && isActive('performance')" [statsContainer]=statsContainer></app-option-performance>
