<div class="mt-4" *ngIf="openOptions && openOptions.length == 0">
  You have no option options contracts on record. To record a position, select the ticker below to get started:

  <div class="row">
    <div class="col">
      <app-symbol-search
          label="{{null}}"
          placeholder="Search for securities using ticker or name"
          (tickerSelected)="onTickerSelected($event)"
          cssClass="form-control">
      </app-symbol-search>
    </div>
  </div>
</div>

<div class="mt-4" *ngIf="openOptions.length > 0">
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Option</th>
        <th>Expiration</th>
        <th>Price</th>
        <th>OTM/ITM</th>
        <th>Premium</th>
        <th>Days Left</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let option of openOptions">
        <td>
          <span class="badge" [ngClass]="{'bg-info': option.boughtOrSold == 'Bought'}">{{option.boughtOrSold}}</span>
        </td>
        <td>
          <span class="font-weight-bold">
            {{option.ticker}} {{option.strikePrice | currency}} {{option.optionType}}
          </span>
        </td>
        <td>{{option.expirationDate | date:'MM/dd'}}</td>
        <td>{{option.currentPrice | currency}}</td>
        <td class="text-left">
          <span class="badge" [ngClass]="{'bg-warning': !option.isFavorable, 'bg-success': option.isFavorable}">{{option.itmOtmLabel}}</span>
          {{option.strikePriceDiff | percent}}
        </td>
        <td>
          {{option.profit | currency}}
        </td>
        <td>
          {{(option.days - option.daysHeld) | number}}
          <span *ngIf="option.expiresSoon" class="ml-1 badge bg-warning">expires soon</span>
          <span *ngIf="option.isExpired" class="ml-1 badge bg-danger">expired</span>
        </td>
        <td>
          <a class="btn btn-primary btn-sm" [routerLink]="[ '/optiondetails', option.id ]">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
