<table class="table mt-2" *ngIf="options">
  <thead>
    <tr>
      <th>Option</th>
      <th>Closed</th>
      <th>P/L</th>
      <th>P/L %</th>
      <th>Premium/Day Held</th>
      <th>Days Held</th>
      <th>Days Held %</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let o of options">
      <td width="100">
        <div>{{o.ticker}} {{o.strikePrice |currency}}</div>
        <div>
          <span *ngIf="o.boughtOrSold=='Sold'" class="badge badge-info mr-1">sell</span>
          <span *ngIf="o.boughtOrSold=='Bought'" class="badge badge-secondary mr-1">buy</span>

          <span *ngIf="o.optionType=='CALL'" class="badge badge-success mr-1">call</span>
          <span *ngIf="o.optionType=='PUT'" class="badge badge-warning mr-1">put</span>
        </div>
        <div *ngIf="o.assigned">
          <span class="badge badge-warning mr-1">assigned</span>
        </div>
      </td>
      <td>{{o.closed | date:'MM/dd'}}</td>
      <td>
        <div>{{o.premiumReceived - o.premiumPaid | currency}}</div>
        <div>
          <span *ngIf="o.premiumReceived - o.premiumPaid >= 0" class="badge badge-success mr-1">win</span>
          <span *ngIf="o.premiumReceived - o.premiumPaid < 0" class="badge badge-warning mr-1">loss</span>
        </div>
      </td>
      <td>{{o.premiumCapture | percent}}</td>
      <td>{{(o.premiumReceived - o.premiumPaid)/o.daysHeld | currency}}</td>
      <td>{{o.daysHeld}} / {{o.days}}</td>
      <td>{{o.daysHeld/o.days| percent}}</td>
      <td><a [routerLink]="[ '/optiondetails', o.id ]">details</a></td>
    </tr>
  </tbody>
</table>
