@if (overallStats) {
    <div class="mb-5 container">
        <div class="row mb-2"><h5>Overall stats</h5></div>
        <app-option-stats [stats]=overallStats></app-option-stats>
    </div>
}
@if (sellStats) {
    <div class="mb-5 container">
        <div class="row mb-2"><h5>Sell stats</h5></div>
        <app-option-stats [stats]=sellStats></app-option-stats>
    </div>
}
@if (buyStats) {
    <div class="mb-5 container">
        <div class="row mb-2"><h5>Buy stats</h5></div>
        <app-option-stats [stats]=buyStats></app-option-stats>
    </div>
}
