<table class="table mt-2" *ngIf="closedOptions">
  <thead>
    <tr>
      <th>Option</th>
      <th>Closed</th>
      <th>P/L</th>
      <th>P/L %</th>
      <th>Premium/Day Held</th>
      <th>Days Held</th>
      <th>Days Held %</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let o of closedOptions">
      <td width="100">
        <div>
          <app-stock-link [ticker]="o.ticker"></app-stock-link>
          {{o.strikePrice |currency}}</div>
        <div>
          <span *ngIf="o.boughtOrSold==='Sold'" class="badge bg-info me-1">sell</span>
          <span *ngIf="o.boughtOrSold==='Bought'" class="badge bg-secondary me-1">buy</span>

          <span *ngIf="o.optionType==='CALL'" class="badge bg-success me-1">call</span>
          <span *ngIf="o.optionType==='PUT'" class="badge bg-warning me-1">put</span>
        </div>
        <div *ngIf="o.assigned">
          <span class="badge bg-warning me-1">assigned</span>
        </div>
      </td>
      <td>{{o.closed | date:'MM/dd'}}</td>
      <td>
        <div>{{o.premiumReceived - o.premiumPaid | currency}}</div>
        <div>
          <span *ngIf="o.premiumReceived - o.premiumPaid >= 0" class="badge bg-success me-1">win</span>
          <span *ngIf="o.premiumReceived - o.premiumPaid < 0" class="badge bg-warning me-1">loss</span>
        </div>
      </td>
      <td>{{o.premiumCapture | percent}}</td>
      <td>{{(o.premiumReceived - o.premiumPaid)/o.daysHeld | currency}}</td>
      <td>{{o.daysHeld}} / {{o.days}}</td>
      <td>{{o.daysHeld/o.days| percent}}</td>
      <td><a [routerLink]="[ '/optiondetails', o.id ]">details</a></td>
    </tr>
  </tbody>
</table>
