<section class="mt-4">
    <h3>Unresolved Brokerage Positions</h3>
    @if (positionCollections && positionCollections.length === 0) {
        <div>
            No unresolved option positions found
        </div>
    }
    @if (positionCollections && positionCollections.length > 0) {
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Ticker</th>
                <th>Strike</th>
                <th>Type</th>
                <th>Cost</th>
                <th>Quantity</th>
                <th>Market Price</th>
                <th>Expiration</th>
                <th>Purchase Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                @for (option of positionCollections; track option) {
                    @for(position of option.positions; track position) {
                        <tr>
                            <td>
                                <app-trading-view-link [ticker]="position.ticker"></app-trading-view-link>
                                <app-stock-link [ticker]="position.ticker"></app-stock-link>
                            </td>
                            <td>{{ position.strikePrice | currency }}</td>
                            <td>{{ position.optionType }}</td>
                            <td>{{ position.averageCost | currency }}</td>
                            <td>{{ position.quantity | number }}</td>
                            <td>{{ position.marketValue | currency }}</td>
                            <td>{{ position.expirationDate | date }}</td>
                            <td>
                                <input type="date" #purchaseDate class="form-control" [valueAsDate]="getTodaysDate()"/>
                            </td>
                            <td>
                                <button class="btn btn-primary" (click)="turnIntoPosition(position, purchaseDate.value)">Turn
                                    into Position
                                </button>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="3"></td>
                        <td class="small">{{ option.cost | currency }}</td>
                        <td></td>
                        <td class="small">{{ option.marketValue | currency }}</td>
                        <td colspan="3"></td>
                    </tr>
                }
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3"></td>
                <td>{{ totalCost | currency }}</td>
                <td></td>
                <td>{{ totalMarketValue | currency }}</td>
                <td colspan="3"></td>
            </tfoot>
        </table>
    }
</section>
