<div class="search-container">
  <label for="ticker" class="form-label" *ngIf="label">{{label}}</label>

  <div class="position-relative">
    <input type="text"
           class="{{cssClass}} pe-5"
           id="ticker"
           name="ticker"
           [(ngModel)]="selectedValue"
           (ngModelChange)="onModelChange($event)"
           (blur)="loseFocus()"
           (keydown)="onKeyDown($event)"
           placeholder="{{placeholder}}"
           autocomplete="off"/>
    <span
      *ngIf="loading"
      class="spinner-border spinner-border-sm position-absolute end-0 top-0 bottom-0 my-auto opacity-50"
      role="status"
      aria-hidden="true"></span>
  </div>

  <div class="search-results shadow rounded" *ngIf="searchResultsSubscribedArray.length > 0" >

    <div class="row"
         *ngFor="let r of searchResultsSubscribedArray; let i = index"
         [class.highlighted]="i === highlightedIndex"
         (click)="clicked(r.symbol)">
      <div class="col ms-2 mb-2">{{r.symbol}}</div>
      <div *ngIf="justTickers === false" class="col-10">{{r.securityName}}</div>
    </div>
  </div>

  <div class="search-results shadow rounded" *ngIf="errors.length > 0" >

    <div class="row"
         *ngFor="let error of errors; let i = index">
      <div class="col">{{error}}</div>
    </div>
  </div>

</div>
