.search-results div:hover {
    font-weight: bold;
    cursor: pointer;
}

.search-results {
    position: absolute;
    z-index: 100;
    background-color: white;
    /*border: 1px solid black;*/
    padding: 5px;
    overflow: hidden;
    width: 100%;
    /*box-shadow: 10px 5px 5px #888888;*/
}

.highlighted {
    background-color: #e0e0e0;
}

.search-container {
    position: relative;
}
