<div *ngIf="list">
    <h2>{{list.name}} ({{list.tickers.length}})</h2>
    <p>{{list.description}}</p>

    
    <section>
        <h5>Tools</h5>
        <form>
            <button type="submit" class="btn btn-primary me-2" (click)="toggleVisibility(addNewSection)">Add</button>
            <a href="{{getAnalysisLink(list)}}" type="submit" class="btn btn-secondary me-2">Analysis</a>
            <a href="{{getExportLink(list, false)}}" type="submit" class="btn btn-secondary me-2">Export</a>
            <a href="{{getExportLink(list, true)}}" type="submit" class="btn btn-secondary">Export (just tickers)</a>
        </form>
    </section>

    <section #addNewSection class="visually-hidden">
        <h5>Add new</h5>
        <form>
            <div class="form-group">
                <label for="ticker">Tickers</label>
                <textarea class="form-control" id="tickers" #ticker placeholder="Tickers" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" (click)="add(ticker.value)">Add</button>
        </form>
    </section>


    <section>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of sortedTickers(list)">
                    <td>{{t.ticker}}</td>
                    <td>
                        <button class="btn btn-danger" (click)="remove(t)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>  
