<div *ngIf="list">
    <h2>
        <a [routerLink]="['/stocks/lists']">Lists</a>
        /  {{list.name}} ({{list.tickers.length}})
    </h2>
    
    <p>{{list.description}}</p>

    <section>
        <h5>Tools</h5>
        <form>
            <button type="submit" class="btn btn-primary me-2" (click)="toggleVisibility(addNewSection)">Add ticker</button>
            <button type="submit" class="btn btn-secondary me-2" (click)="toggleVisibility(monitoringSection)" >Monitoring</button>
            <a href="{{analysisLink}}" type="submit" class="btn btn-secondary me-2">Analysis</a>
            <a href="{{exportLink}}" type="submit" class="btn btn-secondary me-2">Export</a>
            <a href="{{exportLinkJustTickers}}" type="submit" class="btn btn-secondary">Export (just tickers)</a>
        </form>
    </section>

    <section #monitoringSection class="visually-hidden">
        <h5>Monitors</h5>

        <ng-container *ngFor="let monitor of monitors">
            <button *ngIf="!containsTag(monitor.tag)" (click)="assignTag(monitor.tag)" class="btn btn-primary me-2">Enable {{monitor.name}}</button>
            <button *ngIf="containsTag(monitor.tag)" (click)="removeTag(monitor.tag)" class="btn btn-danger me-2">Disable {{monitor.name}}</button>
        </ng-container>
    </section>

    <section #addNewSection class="visually-hidden">
        <h5>Add new</h5>
        <form>
            <div class="form-group">
                <label for="ticker">Tickers</label>
                <textarea class="form-control" id="tickers" #ticker placeholder="Tickers" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" (click)="add(ticker.value)">Add</button>
        </form>
    </section>


    <section>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of sortedTickers(list)">
                    <td>{{t.ticker}}</td>
                    <td>
                        <button class="btn btn-danger" (click)="remove(t)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>  
