<div *ngIf="list">
    <h3>
        {{list.name}}
        ({{list.tickers.length}})
        <button class="btn btn-link" (click)="toggleVisibility(editSection)"><i class="bi bi-pencil"></i></button>
    </h3>
    <small><a [routerLink]="['/stocks/lists']">back to lists</a></small>
    
    <p>{{list.description}}</p>

    <section>
        <h5>Tools</h5>
        <form>
            <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-secondary me-2" (click)="toggleVisibility(addNewSection)">Batch add</button>
                    <button type="submit" class="btn btn-secondary me-2" (click)="toggleVisibility(monitoringSection)" >Monitoring</button>
                    <a href="{{analysisLink}}" type="submit" class="btn btn-secondary me-2">Analysis</a>
                    <a href="{{exportLink}}" type="submit" class="btn btn-secondary me-2">Export</a>
                    <a href="{{exportLinkJustTickers}}" type="submit" class="btn btn-secondary">Export (just tickers)</a>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-2">
                            <label class="col-form-label" for="quickAdd">Quick add</label>
                        </div>
                        <div class="col-8">
                            <input class="form-control" id="quickAdd" #quickAdd placeholder="Tickers" type="text">
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-primary" (click)="add(quickAdd.value)">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>

    <section #editSection class="visually-hidden">
        <h5>Edit</h5>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" id="name" #name placeholder="Name" value="{{list.name}}">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" #description placeholder="Description" rows="5">{{list.description}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary" (click)="update(name.value, description.value); toggleVisibility(editSection)">Update</button>
        </form>
    </section>

    <section #monitoringSection class="visually-hidden">
        <h5>Monitors</h5>

        <ng-container *ngFor="let monitor of monitors">
            <button *ngIf="!containsTag(monitor.tag)" (click)="assignTag(monitor.tag)" class="btn btn-primary me-2">Enable {{monitor.name}}</button>
            <button *ngIf="containsTag(monitor.tag)" (click)="removeTag(monitor.tag)" class="btn btn-danger me-2">Disable {{monitor.name}}</button>
        </ng-container>
    </section>

    <section #addNewSection class="visually-hidden">
        <h5>Add new</h5>
        <form>
            <div class="form-group">
                <label for="ticker">Tickers</label>
                <textarea class="form-control" id="tickers" #ticker placeholder="Tickers" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" (click)="add(ticker.value)">Add</button>
        </form>
    </section>


    <section>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th>Chart</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of sortedTickers(list)">
                    <td>
                        <a [routerLink]="['/stocks', t.ticker]">{{t.ticker}}</a>
                    </td>
                    <td>
                        <app-trading-view-link [ticker]="t.ticker"></app-trading-view-link>
                    </td>
                    <td class="text-end">
                        <button class="btn btn-danger" (click)="remove(t)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>  
