<div *ngIf="loaded">
  <div class="container-fluid">

    <div class="row">
      <div class="col">
        <app-symbol-search
            label="{{null}}"
            placeholder="Search for securities using ticker or name"
            (tickerSelected)="onTickerSelected($event)"
            cssClass="form-control">
        </app-symbol-search>
      </div>
    </div>

    <div class="row" *ngIf="dashboard.openOptionCount == 0 && dashboard.openStockCount == 0">
      <div class="col">
        <div class="alert alert-secondary">
          <h3>Welcome!</h3>
          <p>You haven't recorded any option/share transactions. It's easy to get started!</p>
          <p>Find the stock you own via symbol search above ☝ and enter the share number and price, or the option contract details.</p>

          <h4>Become a better trader</h4>
          <p>The fastest way to get the most out of Nightingale Trading is by reviewing our Starter Guide and the rest
            of the help articles.</p>
          <p>It approximately requires only 2 minutes of your time and you will learn about all of the key capabilities.</p>
          <a class="btn btn-primary" href="https://docs.nightingaletrading.com" target="_blank">Starter Guide</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-8">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-certificate"></i>
              Shares
            </h5>
            <p class="card-text">You have <b>{{dashboard.ownedStockCount}}</b> tickers on file</p>
            <a class="card-link" [routerLink]="[ '/stocks' ]">Manage Shares</a>
          </div>
        </div>

        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-dice-five"></i>
              Options
            </h5>
            <p class="card-text">You have <b>{{dashboard.openOptionCount}}</b> open contracts</p>
            <a class="card-link" [routerLink]="[ '/options' ]">Manage Options</a>
          </div>
        </div>

        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-toolbox"></i>
              Tools</h5>
            <a class="card-link" [routerLink]="[ '/notes' ]">Journal</a>
            <a class="card-link" [routerLink]="[ '/review' ]">Review</a>
            <a class="card-link" [routerLink]="[ '/transactions' ]">Transactions</a>
          </div>
        </div>

      </div>

      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-bell"></i>
              Alerts
            </h5>
            <p class="card-text">Triggered: <b>{{dashboard.triggeredAlertCount}}</b>, total: <b>{{dashboard.alertCount}}</b></p>
            <a class="card-link" [routerLink]="[ '/alerts' ]">Visit Alerts</a>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="mt-5">&nbsp;</div>

</div>
