<form>
	<div class="form-group">
		<label for="ticker">Symbol</label>
		<input type="text" class="form-control"
      id="ticker"
      #tickerBox
      name="ticker"
      (input)="search(tickerBox.value)"
      (blur)="loseFocus()"
      autofocus
      autocomplete="off" />

      <div [ngClass]="{'border': resultCount > 0, 'rounded': resultCount > 0}" class="search-results">
        <div class="row" *ngFor="let r of searchResults$ | async" (click)="clicked(r.symbol)">
          <div class="col ml-2 mb-2">{{r.symbol}}</div>
          <div class="col-10">{{r.securityName}}</div>
        </div>
      </div>

		<small id="tickerHelp" class="form-text text-muted">Enter stock symbol</small>
	</div>
	<button type="submit" class="btn btn-primary" (click)="goToStock()" class="invisible">Submit</button>
</form>

<div *ngIf="loaded">

  <div class="clearfix mb-2">
    <a class="float-right ml-3" [routerLink]="[ '/options/sell']">Record Options Sale</a>
    <a class="float-right" [routerLink]="[ '/stocks/transaction']">Record Stock Transaction</a>
  </div>
  <div *ngIf="openOptions.length > 0">
    <h2>Options</h2>
    <div class="row" *ngFor="let option of openOptions">
      <div class="col">
        {{option.numberOfContracts}} x
        <b>{{option.ticker}}</b> @ <b>{{option.strikePrice | currency}}</b>
        {{option.type}} expiring <b>{{option.expiration | date : 'shortDate'}}</b>
      </div>
      <div class="col">
        <a [routerLink]="[ '/optiondetails', option.id ]">view</a>
      </div>
    </div>
  </div>

  <br />
  <div *ngIf="owned.length > 0">
    <h2>Stocks</h2>
    <table class="table border">
      <thead class="thead-light">
        <tr>
          <th>Ticker</th>
          <th>Owned</th>
          <th>Spent</th>
          <th>Earned</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticker of owned">
          <td><a [routerLink]="[ '/stocks', ticker.ticker ]">{{ticker.ticker}}</a></td>
          <td>{{ticker.owned}}</td>
          <td>{{ticker.spent}}</td>
          <td>{{ticker.earned}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
