<div>

  <app-trading-performance-summary [performance]="performance.recent" title="Recent"></app-trading-performance-summary>

  <app-trading-performance-summary [performance]="performance.overall" title="Overall"></app-trading-performance-summary>

  <div class="row mt-2">  
    <canvas
      class="mb-2"
      style="height: 400px"
      *ngFor="let t of performance.trends"
      baseChart
      [datasets]="getData(t)"
      [labels]="getLabels(t)"
      [options]="lineChartOptions"
      [legend]="lineChartLegend"
      [plugins]="lineChartPlugins"
      [type]="getChartType(t)">
    </canvas>
  </div>
</div>