<div>

  <section>
    <h5>Recent Performance</h5>
    <app-trading-performance-summary [performance]="performance.recent" title="Recent"></app-trading-performance-summary>
  </section>
  
  <section>
    <h5>Overall Performance</h5>
    <app-trading-performance-summary [performance]="performance.overall" title="Overall"></app-trading-performance-summary>
  </section>

  <section>
    <h5>Performance Trend Charts</h5>
    <div>
      <form>
        <div class="row">
          <div class="form-group col">
            <label class="form-label" for="tradePeriod">Trade Period</label>
            <select #tradePeriodDropdown class="form-select" id="tradePeriod" (change)="tradePeriodChanged(tradePeriodDropdown.value)">
              <option value="last20" [selected]="tradePeriod === 'last20'">Last 20</option>
              <option value="last50" [selected]="tradePeriod === 'last50'">Last 50</option>
              <option value="last100" [selected]="tradePeriod === 'last100'">Last 100</option>
              <option value="2m" [selected]="tradePeriod === '2m'">Last 2 Months</option>
              <option value="ytd" [selected]="tradePeriod === 'ytd'">YTD</option>
              <option value="1y" [selected]="tradePeriod === '1y'">1 year</option>
              <option value="all" [selected]="tradePeriod === 'all'">Show all time</option>
            </select>
          </div>
        </div>
      </form>
    </div>

    <canvas
      class="mb-2"
      *ngFor="let t of trends"
      baseChart
      [datasets]="getData(t)"
      [labels]="getLabels(t)"
      [options]="getOptions(t)"
      [legend]="lineChartLegend"
      [plugins]="lineChartPlugins"
      [type]="getChartType(t)">
    </canvas>
  </section>
</div>