<div>
  <section>
    <h5>Recent Performance</h5>
    <div>
      <form>
        <div class="row">
          <div class="form-group col">
            <label class="form-label" for="performanceTradePeriod">Trade Period</label>
            <select #performanceTradePeriodDropdown class="form-select" id="performanceTradePeriod" (change)="performanceTradePeriodChanged(performanceTradePeriodDropdown.value)">
              <option value="last20" [selected]="performanceTradePeriod === 'last20'">Last 20</option>
              <option value="last50" [selected]="performanceTradePeriod === 'last50'">Last 50</option>
              <option value="last100" [selected]="performanceTradePeriod === 'last100'">Last 100</option>
              <option value="2m" [selected]="performanceTradePeriod === '2m'">Last 2 Months</option>
              <option value="ytd" [selected]="performanceTradePeriod === 'ytd'">YTD</option>
              <option value="1y" [selected]="performanceTradePeriod === '1y'">1 year</option>
              <option value="all" [selected]="performanceTradePeriod === 'all'">Show all time</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    @if (performanceSelection) {
      <app-trading-performance-summary [performance]="performanceSelection" [title]="performanceTitle"></app-trading-performance-summary>
    }
  </section>
  <section>
    <h5>Performance Trend Charts</h5>
    <div>
      <form>
        <div class="row">
          <div class="form-group col">
            <label class="form-label" for="tradePeriod">Trade Period</label>
            <select #tradePeriodDropdown class="form-select" id="tradePeriod" (change)="tradePeriodChanged(tradePeriodDropdown.value)">
              <option value="last20" [selected]="tradePeriod === 'last20'">Last 20</option>
              <option value="last50" [selected]="tradePeriod === 'last50'">Last 50</option>
              <option value="last100" [selected]="tradePeriod === 'last100'">Last 100</option>
              <option value="2m" [selected]="tradePeriod === '2m'">Last 2 Months</option>
              <option value="ytd" [selected]="tradePeriod === 'ytd'">YTD</option>
              <option value="1y" [selected]="tradePeriod === '1y'">1 year</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    @for (t of trends; track t) {
      <div class="p-5 m-2 border">
        <app-line-chart [dataContainer]="t"></app-line-chart>
      </div>
    }
  </section>
</div>
