<div>
  <div class="container" *ngIf="currentPosition">
    <div class="row">
      <div class="col"><button (click)="previous()" class="btn btn-primary">Previous</button></div>
      <div class="col text-center">
        <select class="form-select" (change)="dropdownClick($event.target)">
          <option
            *ngFor="let position of positions; let i = index;"
            [value]="i"
            [selected]="position.ticker === currentPosition.ticker && position.positionId === currentPosition.positionId">
            {{position.ticker}} - {{position.positionId}}
          </option>
        </select>
      </div>
      <div class="col">
        <span class="text-muted">Price: </span>{{currentPositionPrice | currency}}
      </div>
      <div class="col">
        <span class="text-muted">Stop: </span>{{currentPosition.stopPrice | currency}}
      </div>
      <div class="col">
        <span class="text-muted">Cost/Share: </span>{{currentPosition.averageBuyCostPerShare | currency}}
      </div>
      <div class="col"><button (click)="next()" class="btn btn-primary float-end">Next</button></div>
    </div>
  </div>

  <section>
    <h5>Actual vs Trading Strategies</h5>
    <app-trading-actual-vs-simulated
      [simulations]="simulationResults"
      [simulationErrors]="simulationErrors">
    </app-trading-actual-vs-simulated>
  </section>

  <section>
    <h5>Position Information</h5>
    <app-stock-trading-position [position]="currentPosition"></app-stock-trading-position>
  </section>

  <section>
    <h5>Stock chart</h5>
    <app-stock-chart *ngIf="prices"
      [positivePricePoints]="positionBuys"
      [negativePricePoints]="positionSells"
      [prices]=prices>
    </app-stock-chart>
  </section>

  <section *ngIf="dailyScores">
    <h5>Daily Scores</h5>
    <app-daily-outcome-scores
      [dailyOutcomeScoresReport]="dailyScores"
      [errors]="scoresErrors">
    </app-daily-outcome-scores>
  </section>

  <section>
    <h5>Grade</h5>
    <div *ngIf="gradingError" class="alert alert-danger" role="alert">
      {{gradingError }}
    </div>
    <div *ngIf="gradingSuccess" class="alert alert-success" role="alert">
      {{gradingSuccess }}
    </div>
    <div class="mb-3">
      <div class="form-check form-check-inline">
        <input 
          [checked]="this.assignedGrade === 'A'"
          value="A"
          (click)="this.assignedGrade = 'A'"
          class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1">
        <label class="form-check-label" for="inlineRadio1">A</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          [checked]="this.assignedGrade === 'B'"
          value="B"
          (click)="this.assignedGrade = 'B'"
          class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2">
        <label class="form-check-label" for="inlineRadio2">B</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          [checked]="this.assignedGrade === 'C'"
          value="C"
          (click)="this.assignedGrade = 'C'"
          class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3">
        <label class="form-check-label" for="inlineRadio3">C</label>
      </div>
    </div>
    <div class="mb-3">
      <label for="notesInput" class="form-label">Notes</label>
      <textarea #gradeNotes class="form-control" id="notesInput" rows="3" [value]="assignedNote"></textarea>
    </div>
    <div>
      <button (click)="assignGrade(gradeNotes.value)" class="btn btn-primary">Submit Grade</button>
    </div>
  </section>
  
</div>