<div>
  <a href="/api/stocks/export/closed" class="btn btn-link">Export trades</a>

  <section>
    <div>
      <!--
        form for filters: 1) drop down that offers options of all trades, 1 year old trades 
        2) drop down that offers options of all trades, grade a, grade b, grade c trades
      -->
      <form *ngIf="false"> <!-- hide this for now -->
        <div class="form-group">
          <label for="filterBy">Time</label>
          <select class="form-select" id="filterBy" [(ngModel)]="timeFilter">
            <option value="all">All</option>
            <option value="year">Last year</option>
          </select>
        </div>
        <div class="form-group">
          <label for="grade">Grade</label>
          <select class="form-select" id="grade" [(ngModel)]="gradeFilter">
            <option value="all">All</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
          </select>
        </div>
      </form>
    </div>
  </section>
  <table *ngIf="positions" class="table table-hover mt-3">
    <thead>
      <tr>
        <th width="100"></th>
        <th class="sort-header" (click)="sort('ticker')">Stock</th>
        <th class="sort-header" (click)="sort('opened')">Date</th>
        <th class="sort-header" (click)="sort('rr')">R:R</th>
        <th class="sort-header" (click)="sort('profit')">Profit/Loss</th>
        <th class="sort-header" (click)="sort('gainPct')">Profit/Loss %</th>
        <th class="sort-header" (click)="sort('grade')">Grade</th>
        <th class="sort-header" (click)="sort('daysHeld')">Days Held</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let p of positions; let i = index;">
      <!-- add separator row if p closed date month is different from previous position -->
      <tr *ngIf="i === 0 || getMonth(p.closed) !== getMonth(positions[i - 1].closed)"
        style="padding-top: 10px">
        <td colspan="8" class="text-center fw-bold">
          {{getMonth(p.closed) | date:'MMMM yyyy'}}
        </td>
      </tr>

      <tr 
        (click)="toggleShowNotes(i)"
        style="cursor: pointer"
        [ngClass]="{
          'bg-success':p.grade === 'A',
          'bg-negative':p.grade === 'C',
          'text-white': p.grade === 'A' || p.grade === 'C'
        }">
        <td>{{i + 1}}</td>
        <td><a [routerLink]="[ '/stocks', p.ticker ]">{{p.ticker}}</a></td>
        <td>{{p.closed | date}}</td>
        <td>{{p.rr | number:'1.0-2' }}</td>
        <td>{{p.profit | currency}}</td>
        <td>
          <span *ngIf="p.profit >= 0" class="badge bg-success me-1">win</span>
          <span *ngIf="p.profit < 0" class="badge bg-warning me-1">loss</span>
          {{p.gainPct | percent:'1.0-2' }}
        </td>
        <td>{{p.grade}}</td>
        <td>{{p.daysHeld}}</td>
      </tr>
      <tr *ngIf="showNotes === i">
        <td colspan="8">
          <div *ngFor="let n of p.notes" class="mb-2">
            <!-- <span class="badge bg-secondary me-1"></span> -->
            {{n}}
          </div>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>

</div>
